:global {
  textarea:-moz-focusring,
  select:-moz-focusring,
  input:-moz-focusring,
  button:-moz-focusring,
  [type='button']:-moz-focusring,
  [type='reset']:-moz-focusring,
  [type='submit']:-moz-focusring {
    border: 1px solid #4d90fe;
    -webkit-box-shadow: 0px 0px 5px #4d90fe;
    box-shadow: 0px 0px 5px #4d90fe;
  }
}
