.sectionContainer {
  position: relative;
  margin-bottom: 32px;
  padding-right: 45px;
}

.title {
  font-size: 17px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 5px;
}

.field {
  font-size: 17px;
  color: #333333;
  margin-bottom: 3px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
