$primary-color: #0B97DD;

.hidden {
    display: none;
}


//styles for DESKTOP
@media screen and (min-width: 768px){

    .mobileNav {
        display: none;
    }


    //styles entire navbar container
    .navbar {
        border: 0;
        margin-left: 7.3vw;
        margin-right:  7.3vw;
        margin-bottom: 0;
        background-color: white;
    }

    //styles navbar header contents

    .navbarHeader {
        width: 12.8vw;
        height: calc(1em + 4.3vw);
    }

    .logo {
        height: 4.6vw;
        margin-top: 1.3vw;
    }

    //styles the small top nav
    .miniNavItem > a {
        font-size: calc(1.1vw - 2px);
        margin-top: 1.5vw;
        padding-left: 0.48vw !important;
        padding-right: 0.48vw !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    //styles the google translate widget

    .googleTranslateContainer  > a {
        font-size: calc(1.1vw - 2px);
        margin-top: 0.6vw;
        padding-left: 6px !important;
        padding-right: 6px !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .googleTranslate > div > div{
        font-size: calc(1.1vw - 2px) !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    //styles nav dropdown
    .navDropdown > a {
        height: 3.3vw;
        color: $primary-color !important;
        font-size: 1.3vw;
        font-weight: bold;
        margin-top: 0.4vw;
        padding-top: 0.5em !important;
        padding-bottom: 0.5em !important;
        padding-right: 1vw !important;
        padding-left: 1vw !important;
    }

    //styles the lil triangle in nav dropdown
    .navDropdown > a > span {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height:0px;
        width: 0px;
        border-bottom: 0.7vw solid $primary-color;
        border-right: 0.7vw solid transparent;
        border-left: 0.7vw solid transparent;
        border-top: 0;
        visibility: hidden;
    }

    .navDropdown:hover > a > span {
        visibility: visible;
    }

    //styles the dropdown container
    .mainNav {
        float: right !important;
    }

    .mainNav > li {
        position: static;
    }

    .mainNav > li > ul {
        min-width:60vw;
        width: 85vw;
        border-top: solid $primary-color;
        padding-top: 1.8vw;
        padding-bottom: 4vw;
    }

    .mainNav > li:hover > ul {
        display: block;
    }

    .disabledDropdown:hover > ul {
        display: none;
    }

    //styles the dropdown children
    .dropdownHeader {
        margin-top: 2.2vw !important;
    }

    .dropdownHeader > a {
        font-size: calc(1.3vw - 2px);
        font-weight: bold;
        color: $primary-color;
    }

    .dropdownHeader > a:hover {
        text-decoration: underline;
        color: darken($primary-color, 7%);
    }

    .dropdownItem {
        margin-top: 0.9vw !important;
        margin-bottom: 0.9vw !important;
    }

    .dropdownItem > a {
        font-size: calc(1.1vw - 2px);
        color: black;
        outline: none !important;
        background: none;
        text-decoration: none;
    }

    .dropdownItem > a:hover {
        text-decoration: underline;
    }

    //styles for search bar

    .searchNavItem > a {
        font-size: calc(1.3vw - 2px);
        margin-top: 0.2vw;
        padding-left: 6px !important;
        padding-right: 6px !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .searchBar {
        margin: 0;
        width: 180px;
        vertical-align: middle;
        border-left: 0 !important;
        box-shadow: none !important;
        border-radius: 0px;
    }

    .searchBar:focus {
        border:1px solid #ccc !important;
        border-left: 0 !important;
        box-shadow: none !important;
    }

    .searchAddon {
        background-color: white;
        border-radius: 0px;
        border-right: solid white;
    }

    .searchIcon {
        vertical-align: middle;
    }

    .menuBtn {
        visibility: hidden;
    }
}

//styles for MOBILE
@media screen and (max-width: 768px){
    //removes .pull-right in bootstrap
    .mainNav{
        display: none;
    }

    .mobileNav {
        margin-top: 0px !important;
        margin-bottom:0px !important;
    }

    .navbar {
        border: 0;
        background-color: white;
        margin-bottom:0px !important;
    }

    .logo {
        margin: 1em;
        height: calc(10vw + 10px);
    }

    //hamburger styling

    .menuBtn {
        margin: 1em;
        width: calc(24vw + 29px);
        height: calc(10vw + 10px);
        border: 2px solid $primary-color;
        background-color: white;
    }

    .menuBtn:focus, .menuBtn:active {
        outline: none !important;
        background: none;
    }

    .menuBtnTxt {
        font-size: 3.5vw;
        font-weight: bold;
        margin-right: 1em;
        vertical-align: middle;
        color: $primary-color;
    }

    .hamburgerIcon {
        font-size: 1.5em;
        vertical-align: middle;
        color: $primary-color;
    }

    //mobile nav styling


    .mobileNavDropdown > a {
        height: 2.5em;
        color: $primary-color !important;
        font-size: 18px;
        font-weight: bold;
        margin-left: 40px;
    }

    .mobileNavDropdown > a > span {
        display:none;
    }

    .mobileNavDropdownSub > a {
        height: 2.5em;
        color: #666666;
        font-size: 18px;
        margin-left: 40px;
    }

    .mobileNavDropdownSub > a > span {
        display:none;
    }

    .sectionDivider {
        margin: 0;
        margin-bottom: 10px;
    }

    //styles for search bar

    .searchNavItem{
        padding-top: 11px !important;
        padding-bottom: 11px !important;
        background-color: #EBEBEB !important;
    }

    .searchNavItem > a {
        font-size: calc(1.3vw - 2px);
        width: 93.3vw !important;
        margin-left: 3.35vw !important;
        padding-left: 6px !important;
        padding-right: 6px !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .searchBar {
        background-color: #FFFFFF !important;
        margin: 0;
        vertical-align: middle;
        border-left: 0 !important;
        box-shadow: none !important;
        border-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .searchBar:focus {
        border:1px solid #ccc !important;
        border-left: 0 !important;
        box-shadow: none !important;
    }

    .searchAddon {
        background-color: white;
        color: #757575 !important;
        border-radius: 0px;
        border-right: solid white;
    }

    .searchIcon {
        vertical-align: middle;
    }

    :global {
        input::-webkit-input-placeholder {
            color: #666666 !important;
        }
    }


}












