//TEXT AREA
.textAreaContainer {
  position: relative;
}

.textArea {
  height: 120px;
  padding-right: 37px;
}

.textAreaInvalid {
  composes: textArea;
  border: 1px solid $sba-red-light !important;
  box-shadow: inset 0px 0px 0px 1px $sba-red-light;
}

.validationIcon {
  top: 22px;
}

.textAreaCounter {
  display: block;
  text-align: right;
  margin-right: 2px;
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
  color: #666666;
}
