.success {
  font-size: 22px !important;
  color: $secondary-green;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.error {
  font-size: 22px !important;
  color: $sba-red;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
