.container {
    border: 1px solid #bebdbd;
    background-color: #fff;
    @include grid-media($sba-grid-medium-and-small) {
        padding: 15px;
    }
    @include grid-media($sba-grid-large) {
        padding: 20px;
    }
}

.documentTypeContainer {
    margin-bottom: 20px;
}

.documentType > div {
    padding: 5px 10px;
    @include font-size($h6-font-sizes);
}

.title {
    text-decoration: underline;
    color: #333333;

}
@include background-color-theme( '.type', $lightest-color-map);
@include border-color-theme( '.type', $lightest-color-map);
@include border-color-theme( '.id', $lightest-color-map);

.row {
    width: 100%;
}

.columnOne, .columnTwo{
    border: none;
    padding: 0px;
}

.columnOne {
    font-weight: 700;
    width: 100px;
    vertical-align: top;
}

.columnTwo {
}

.dash {
    width: 50px;
}

.download {
    margin-top: 42px;
}

.link {
    margin-right: 10px;
    @include font-size($h6-font-sizes);
}
@include color-theme( '.link');


.container hr{
    border-color: $grey-light !important;
}
