.container {
  border: 1px solid #bebdbd;
  background-color: #fff;
  @include grid-media($sba-grid-medium-and-small) {
    padding: 15px;
  }
  @include grid-media($sba-grid-large) {
    padding: 20px;
  }
}

.documentTypeContainer {
  margin-bottom: 20px;
}

.documentType > div {
  padding: 5px 10px;
  // @include font-size($h6-font-sizes);
}

.title {
  text-decoration: underline;
  color: #333333;
}

.row {
  width: 100%;
}

.columnOne,
.columnTwo {
  border: none;
  padding: 0px;
}

.columnOne {
  font-weight: 700;
  width: 100px;
  vertical-align: top;
}

.columnTwo {
}

.dash {
  width: 50px;
}

.download {
  margin-top: 42px;
}

.link {
  cursor: pointer;
  margin-right: 10px;
  // @include font-size($h6-font-sizes);
}

.container hr {
  border-color: $sba-gray-light !important;
}
