.menuCallToAction {
  width: 351px;
  display: block;
}

:global(.sba-blue) .menuCallToAction {
  background-color: $sba-blue;
}
:global(.byzantine) .menuCallToAction {
  background-color: $byzantine;
}
:global(.money-green) .menuCallToAction {
  background-color: $money-green;
}
:global(.cobalt-blue) .menuCallToAction {
  background-color: $cobalt-blue;
}

.menuCallToAction img {
  width: 100%;
}

.menuCallToAction p {
  color: white;
  font-weight: bold;
  font-size: 36px;
  padding: 30px;
  line-height: normal;
  margin-bottom: 0;
}
