.container {
  @include for-small-only {
    margin: 50px 20px 50px 20px;
  }
  @include for-medium-only {
    margin: 50px 30px 50px 30px;
  }
  @include for-large-up {
    margin: 50px 50px 50px 50px;
  }
}

.header {
  @include grid-media($sba-grid-small) {
    @include grid-column(6);
    @include grid-push(0);
  }
  @include grid-media($sba-grid-medium) {
    @include grid-column(12);
    @include grid-push(0);
  }
  @include grid-media($sba-grid-large) {
    @include grid-column(12);
    @include grid-push(0);
  }
}

.smallIcon {
  float: left;
  display: block;

  @include grid-media($sba-grid-small) {
    i {
      font-size: 25px;
    }
  }
  @include grid-media($sba-grid-medium) {
    i {
      font-size: 25px;
    }
  }
}
.descriptionLabel {
  color: $secondary-black-ish;
  padding-top: 45px;
}

.columnA {
  @include grid-media($sba-grid-small) {
    @include grid-column(6);
  }
  @include grid-media($sba-grid-medium) {
    @include grid-column(7);
  }
  @include grid-media($sba-grid-large) {
    @include grid-column(5);
  }
}

.columnB {
  @include grid-media($sba-grid-small) {
    @include grid-column(6);
  }
  @include grid-media($sba-grid-medium) {
    @include grid-column(5);
    @include grid-push(0);
  }
  @include grid-media($sba-grid-large) {
    @include grid-column(6);
    @include grid-push(1);
  }

  padding-bottom: 75px;
}

.detailsBox {
  background-color: white;
  border-top: 5px solid $sba-blue;
  box-shadow: $box-shadow;
  padding: 50px;

  @include grid-media($sba-grid-large) {
    @include grid-column(11);
  }

  @include for-small-only {
    h1 {
      // The static part of calc() (1rem) defines the minimum so that the font
      // size does not become too small as the screen gets smaller.
      font-size: calc(18px + 4vw);
      hyphens: auto;
    }
  }
}

.button {
  margin-bottom: 22px;

  @include grid-media($sba-grid-small) {
    button {
      width: 100%;
    }
  }

  @include grid-media($sba-grid-large) {
    margin-left: 30px;
  }
}

.registerButtonIcon {
  padding-left: 5px;
  vertical-align: middle;
}

.contactIcon {
  float: left;
  color: $sba-blue;
  padding-right: 10px;
}

.contactName {
  padding-bottom: 5px;
}
.eventDetailsRecurring {
  font-style: italic;
  padding-bottom: 15px;
}

.page {
  @include grid-media($sba-grid-small) {
    @include grid-column(6);
    display: flex;
    flex-direction: column-reverse;
  }
  @include grid-media($sba-grid-medium) {
    @include grid-column(12);
  }
  @include grid-media($sba-grid-large) {
    position: relative;
    right: 25px;
  }
}
