.app {
    background-color: yellow;
    height: 50px;
    border: 1px solid blue;
}

.hidden{
    display: none;
}

/*body{*/
    /*background-color: grey;*/
/*}*/





.successHeader{
    text-align: center;
}

.successHeader h2{
    font-size: 30px;
}

.dynamicContent{
    background-color: grey;
    width: 33%;
    height: 400px;
}

.dynamicLeft{
    float: left;
}

.dynamicRight{
    float: right;
}