.officeResult {
  margin: 20px;

  h2,
  h3 {
    font-weight: 700;
    word-break: break-word;
  }

  h2 {
    cursor: pointer;

    i {
      display: inline-block;
      float: right;
      font-size: 15px;
      padding-top: 5px;
      padding-left: 20px;
    }
  }

  h3 {
    font-size: 18px;
  }

  @include grid-media($sba-grid-medium) {
    h2 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 0;
    }
  }

  @include grid-media($sba-grid-large) {
    h2 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }

  hr {
    clear: both;
    margin: 0;
    border: 1px solid #dadada;

    @include grid-media($sba-grid-small) {
      margin: 20px 0 10px;
    }
  }

  i {
    margin-right: 5px;
  }
}

.focus:focus {
  border-color: #002e6d;
  outline: none;
}

.officeType {
  color: #1b1e29;
  font-size: 18px;
}

.italic {
  font-style: italic;
}

.fa {
  display: inline-block;
  @include grid-media($sba-grid-small) {
    font-size: 20px;
    vertical-align: middle;
    width: 22px;
  }
  @include grid-media($sba-grid-medium) {
    font-size: 20px;
    vertical-align: middle;
    width: 20px;
  }
}

.serviceList {
  margin: 40px 0 10px;

  @include grid-media($sba-grid-small) {
    margin: 30px 0;

    button {
      width: 100%;
    }
  }
}

.officeWebsiteButton {
  @include grid-media($sba-grid-small) {
    margin: 30px 0;

    button {
      width: 100%;
    }
  }

  @include grid-media($sba-grid-medium) {
    float: right;
    margin-top: 40px;
  }
  @include grid-media($sba-grid-large) {
    float: right;
    margin-top: 40px;
  }
}

.firstResult {
  hr {
    margin: 15px 0 18px;
  }
}

.distance {
  margin-bottom: 5px;
}

.marker {
  float: left;
  display: block;
  color: #c90915;
  margin-right: 5px;
}

.miles {
  float: left;
  margin-top: -4px;
}

.hr {
  hr {
    margin-bottom: 20px;
  }
}

.clear {
  clear: both;
}

.detailView {
  width: 100%;
  padding: 20px;
  background: #ffffff;
  position: relative;

  h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
  }
}

.close {
  position: absolute;
  top: 20px;
  right: 10px;

  i {
    display: block;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }
}

.contactCard {
  border: none;
  padding: 0;
}

.hoveredBorder {
  border-left: 3px solid #002e6d;
}

.hoveredInnerDiv {
  margin-top: -20px;
  margin-left: 17px;
  padding-top: 20px;
}

.isFirstHoveredResult {
  margin-top: 0;
  padding-top: 20px;
}
