@each $name, $value in $primary-color-map {
    @include theme($name, '.container', null, null, $value);
}

@each $name, $value in $primary-color-map {
    @include theme($name, '.arrow', null, $value, null);
}

.container {
    width: 56px;
    height: 36px;
    margin: auto;

    text-align: center;

    border: 2px solid;
    background-color: white;
}

.container:hover {
    // opacity: .8;
}

.arrow {
    font-size: 35px;
    line-height: 32px;
}
