label,
.radioText {
  font-weight: normal;
  font-size: 18px !important;
}

.optional {
  font-weight: lighter;
}
.hoursRow {
  margin-bottom: 6.75px;
  @include grid-media($sba-grid-small) {
    height: 162px;
  }
  @include grid-media($sba-grid-medium) {
    height: 47px;
    width: 108%;
  }
  @include grid-media($sba-grid-large) {
    height: 47px;
    max-width: 1088px;
    width: 108%;
  }
  line-height: 47px;
}
.hoursRow .Select {
  display: inline-block;
}

.hoursRow > div {
  display: inline-block;
  // max-width: 40%;
  // margin-left: 10px;
  // margin-right: 10px;
  vertical-align: middle;
  margin-bottom: 6.75px;
}
.hoursRow label {
  margin-bottom: 0;
}
.hoursLabel {
  // width: 54px !important;
  margin-bottom: 0;
  @include grid-media($sba-grid-small) {
    @include grid-column(6);
  }
  @include grid-media($sba-grid-medium) {
    @include grid-column(3);
    margin-left: 0 !important;
  }
  @include grid-media($sba-grid-large) {
    @include grid-column(3);
    margin-left: 0 !important;
  }
}
.hoursSelect {
  @include grid-media($sba-grid-small) {
    @include grid-column(5);
  }
  @include grid-media($sba-grid-medium) {
    @include grid-column(4);
  }
  @include grid-media($sba-grid-large) {
    @include grid-column(4);
  }
}
.hoursTo {
  @include grid-column(1);
  text-align: center;
  margin-bottom: 0;
}
.hours {
  // display: grid;
  columns: 12;
}
.backgroundContainer {
  background: $sba-gray-lighter;
  margin: 0 0;
  padding: 20px 20px;
  @include grid-media($sba-grid-small) {
    @include grid-column(6, $mobile-0gutter);
    padding: 0;
  }
  @include grid-media($sba-grid-medium) {
    @include grid-column(12, $tablet-0gutter);
  }
  @include grid-media($sba-grid-large) {
    @include grid-column(12, $desktop-0gutter);
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  background: white;
  box-shadow: 2px 2px 15px #888888;
  @include grid-media($sba-grid-small) {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
  }
  @include grid-media($sba-grid-medium) {
    @include grid-column(12);
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 5%;
  }
  @include grid-media($sba-grid-large) {
    @include grid-column(8);
    @include grid-push(2);
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 5%;
  }
  .maidenNameContainer {
    display: none;
  }

  form,
  .submissionMessage {
    @include grid-media($sba-grid-small) {
      max-width: 100%;
    }
    @include grid-media($sba-grid-medium) {
      max-width: 90%;
    }
    @include grid-media($sba-grid-large) {
      max-width: 75%;
    }
    margin: 0 auto;
  }

  .submitButton {
    margin: 20px auto;
    text-align: center;
  }

  label.formLabel {
    font-weight: bold;
    margin-top: 36px;
  }

  label.invalid {
    font-weight: bold;
    margin-top: 36px;
    color: $sba-red-light;
  }

  .invalid::before {
    content: '* ';
  }

  .hidden {
    display: none;
  }

  .submissionMessage > h1 {
    text-align: center;
  }

  .maidenNameContainer {
    display: none;
  }
}

.paddingTop20 {
  padding-top: 20px;
}
