@font-face {
  font-family: 'Merriweather';
  src: url('./Regular/Merriweather-Regular.eot');
  src: url('./Regular/Merriweather-Regular.eot#iefix') format('embedded-opentype'),
  url('./Regular/Merriweather-Regular.woff2') format('woff2'),
  url('./Regular/Merriweather-Regular.woff') format('woff'),
  url('./Regular/Merriweather-Regular.ttf') format('truetype'),
  url('./Regular/Merriweather-Regular.svg#Merriweather') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Merriweather';
  src: url('./Italic/Merriweather-Italic.eot');
  src: url('./Italic/Merriweather-Italic.eot#iefix') format('embedded-opentype'),
  url('./Italic/Merriweather-Italic.woff2') format('woff2'),
  url('./Italic/Merriweather-Italic.woff') format('woff'),
  url('./Italic/Merriweather-Italic.ttf') format('truetype'),
  url('./Italic/Merriweather-Italic.svg#Merriweather') format('svg');
  font-style: italic;
  font-weight: normal;
}

@font-face{
  font-family: 'Merriweather';
  src: url('./Bold/Merriweather-Bold.eot');
  src: url('./Bold/Merriweather-Bold.eot#iefix') format('embedded-opentype'),
  url('./Bold/Merriweather-Bold.woff2') format('woff2'),
  url('./Bold/Merriweather-Bold.woff') format('woff'),
  url('./Bold/Merriweather-Bold.ttf') format('truetype'),
  url('./Bold/Merriweather-Bold.svg#Merriweather') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'Merriweather';
  src: url('./LightItalic/Merriweather-LightItalic.eot');
  src: url('./LightItalic/Merriweather-LightItalic.eot#iefix') format('embedded-opentype'),
  url('./LightItalic/Merriweather-LightItalic.woff2') format('woff2'),
  url('./LightItalic/Merriweather-LightItalic.woff') format('woff'),
  url('./LightItalic/Merriweather-LightItalic.ttf') format('truetype'),
  url('./LightItalic/Merriweather-LightItalic.svg#Merriweather') format('svg');
  font-weight: lighter;
  font-style: italic;
}
