//LINC FORM INPUTS

//colors
$money-green: #609F00;
$error: #E21C3D;

//COMMON INPUT STYLES
//input labels
.controlLabel {
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    margin: 5px 0 5px 0;
    color: #333333;
}
//input containers
.inputContainer {
    margin-bottom: 20px;
}
//validation text
.errorText {
    font-size: 16px;
    font-weight: 600;
    color: $error;
}

//TEXT INPUT
.textInputContainer {
    position: relative;
}

.textInput {
    display: block;
    border-radius: 0px;
    font-size: 18px;
    border: 1px solid #666666;
    height: 48px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.textInput:focus {
    outline: none;
    border: 1px solid #609F00;
    box-shadow: none !important;;
}

.textInputInvalid {
    composes: textInput;
    border: 2px solid $error !important;
}

.textInputIconValid {
    font-size: 22px !important;
    color: #609F00;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

//TEXT AREA
.textAreaContainer {
    position: relative;
}

.textArea {
    font-size: 18px;
    border-radius: 0;
    border: 1px solid #666666;
    height: 101px;
    width: 360px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 35px;
    resize: none;
}

.textArea:focus {
    outline: none !important;
    border: 1px solid #609F00;
    box-shadow: none !important;
}

.textAreaInvalid {
    composes: textArea;
    border: 2px solid $error !important;
}

.textAreaIconValid {
    font-size: 22px !important;
    color: #609F00;
    position: absolute;
    top: 12px;
    right:15px;
}
.textAreaCounter{
    display: block;
    text-align: right;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    color: #666666;
}

