//LINC FORM INPUTS
.controlLabel {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    margin: 5px 0 5px 0;
    color: #333333;
}

.textInput {
    border-radius: 0px !important;
    border: 1px solid #666666;
    height: 48px;
}

.textInput:focus {
    outline: none;
    border: 1px solid #609F00;
    box-shadow: none !important;
}

.textArea {
    border-radius: 0px !important;
    border: 1px solid #666666;
    height: 100px !important;
}

.textArea:focus {
    outline: none;
    border: 1px solid #609F00;
    box-shadow: none !important;
}

.validIcon {
    line-height: 55px;
}

:global {
    /* webkit solution */
    ::-webkit-input-placeholder { text-align:right; }
    /* mozilla solution */
    input:-moz-placeholder { text-align:right; }
}