.applyButton {
    
    font-size: 19px;

    max-width: 200px;
    height: 48px;
    margin: inherit;

    @include grid-media($sba-grid-medium-and-small) {
        
        display: none;
        
    }

}