.newsletter {
  :global(.button) {
    position: relative;
  }
}

.form {
  @include call-to-action;

  // align button against text inputs instead of labels
  :global(.button) {
    top: 28px;
  }
}

.footer {
  @include for-small-only {
    margin-bottom: 20px;
    text-align: center;

    .buttonWrapper {
      display: flex;
      justify-content: center;
    }

    :global(.button) {
      width: 47%;
    }
  }

  @include for-medium-up {
    position: relative;
    bottom: 24px;
    text-align: right;
    margin-right: 30px;

    .inputs {
      display: inline-block;
      margin-left: 20px;
    }

    :global(.button) {
      bottom: 4px;
    }
  }

  @include for-large-up {
    flex-shrink: 1;
    order: 3;
  }

  // TODO: Abstract H1-H6 styles as classes (e.g., .h1, .h2, ...) or mixins and apply .h3 to the p below with compose: h3.
  p {
    color: $sba-blue;
    display: inline-block;
    font-size: 22px;
    font-weight: 600;

    @include for-small-only {
      margin-bottom: 8px;
      margin-top: 0;
    }
  }
}

.inputs {
  @include for-medium-up {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 6fr 2fr 3fr;
  }

  > div[class^='text-input'],
  > span {
    align-self: start;
  }

  > div[class^='text-input'] {
    @include for-small-only {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @include for-medium-up {
      margin-bottom: 0;
    }
  }
}
