a.sectionLink {
  color: $sba-blue;
  display: inline-block;
  font-size: 1.111rem;
  font-weight: 600;
  margin-bottom: 0;
  position: relative;

  &:hover {
    text-decoration: none;
  }
}

$triangle-size: 0.722rem;
.triangle {
  visibility: hidden;
  position: relative;
  height: 0;
  width: 0;
  left: 40%;
  right: 60%;
  bottom: -0.167rem;
  border-right: $triangle-size solid transparent;
  border-left: $triangle-size solid transparent;
  border-top: 0;
  z-index: 100000000000;
  border-bottom: $triangle-size solid white;
  @include grid-media($sba-grid-medium-and-small) {
    border-bottom: 0;
  }
}

.link:hover .triangleTheme {
  border-bottom: $triangle-size $sba-blue solid;
}

.link.highlightLink {
  border-bottom-color: $sba-red;
  a.highlightLink {
    color: $sba-red;
  }
}

.link:hover .triangle,
.link:focus .triangle {
  visibility: visible;
}

.visible {
  visibility: visible;
}

.link {
  border-bottom-color: transparent;
  border-bottom-style: solid;
}
