a.sectionLink {
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
    position: relative;

    &:hover {
        text-decoration: none;
    }
    @include grid-media( $sba-grid-medium) {}
}
@include theme(sba-blue, 'a.sectionLink', null, $sba-blue, null);
@include theme(byzantine, 'a.sectionLink', null, $byzantine, null);
@include theme(money-green, 'a.sectionLink', null, $money-green, null);
@include theme(cobalt-blue, 'a.sectionLink', null, $cobalt-blue, null);
@include theme-hover(sba-blue, 'a.sectionLink', null, $sba-blue, null);
@include theme-hover(byzantine, 'a.sectionLink', null, $byzantine, null);
@include theme-hover(money-green, 'a.sectionLink', null, $money-green, null);
@include theme-hover(cobalt-blue, 'a.sectionLink', null, $cobalt-blue, null);

$triangle-size: 13px;
.triangle {
    visibility: hidden;
    position: relative;
    height: 0;
    width: 0;
    left: 40%;
    right: 60%;
    bottom: -3px;
    border-right: $triangle-size solid transparent;
    border-left: $triangle-size solid transparent;
    border-top: 0;
    z-index: 100000000000;
    border-bottom: $triangle-size solid $white;
}

:global(.sba-blue) .triangleTheme {
    border-bottom: $triangle-size solid $sba-blue;
}

:global(.byzantine) .triangleTheme {
    border-bottom: $triangle-size solid $byzantine;
}

:global(.money-green) .triangleTheme {
    border-bottom: $triangle-size solid $money-green;
}

:global(.cobalt-blue) .triangleTheme {
    border-bottom: $triangle-size solid $cobalt-blue;
}


.link:hover .triangle,
.link:focus .triangle  {
    visibility: visible;
}


.link {
    border-bottom-color: transparent;
    padding-bottom: 2px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

@include border-color-theme(".underline");
