
@media screen and (min-width: 992px){

    .normalizeMenuItemNew {
        text-decoration: none;
        list-style: none;
    }

    .mobileHeaderContainerNew {
        display: none;
    }

    .headerNew {
        width:100%;
        padding-left: 7.3vw;
        padding-right: 7.3vw;
        background-color: white;
        height: 10vw;
        margin: auto;
        box-sizing: border-box;
        font-family: 'Source Sans Pro', sans-serif ;
        letter-spacing: -0.4px ;
    }

    /*NAVBAR CONTAINER*/
    .navbarNew {
        position: relative;
        height: 10vw;
        z-index: 12 ;
    }

    .logoNew {
        margin-top: 1.8vw;
        margin-left: 3.13vw;
        width : 12.5vw;
        height: auto;
    }

    /*BOTTOM NAV BAR*/
    .mainNavNew {
        /*container for bottom nav bar*/
        position: absolute;
        font-weight: bold;
        width: 75vw;
        top: 6.2vw;
        bottom: 0;
        right: 0;
        margin: 0;
    }



    .mainNavNew > ul {
        /*remove styling for ul in bottom nav*/
        margin: 0;
        padding: 0;
        list-style-type: none;
        /*floats the navbar ro the right*/
        float: right;
    }


    .mainNavNew > ul > li {
        /*reverses the order of the navs so they are semantic and arranged left to right*/
        float: left;
    }

    .mainBtnNew {
        /*container for menu button*/
        position: relative;
        top: 0;
        display: inline-block;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        height: 3.5vw;
        cursor: pointer;
        text-decoration: none ;
    }

    .mainNavNew > ul > li:first-child > a {
        /*removes left padding for the first main nav button*/
        padding-left: 0;
    }

    .mainNavNew > ul > li:last-child > a {
        /*removes right padding for the last main nav button*/
        padding-right: 0;
    }

    .mainBtnNew > span {
        /*text for menu button*/
        color: #0B97DD;
        font-size: 1.55vw;
        margin-right: 0.5vw;
        font-weight: bold;
        text-decoration: none ;
        font-family: 'Source Sans Pro', 'sans-serif' ;
    }

    .mainBtnNew > span:first-child {
        margin-left: 0;
    }

    .triangleNew {
        /*little triangle in menu button*/
        visibility: hidden;
        position: absolute;
        height: 0;
        width: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-bottom: 0.5vw solid #0B97DD;
        border-right: 0.5vw solid transparent;
        border-left: 0.5vw solid transparent;
        border-top: 0;
    }

    .mainBtnNew:hover .triangleNew {
        visibility: visible;
    }

    /*DROPDOWN MENU*/
    .mainMenuNew {
        position: absolute;
        visibility: hidden;
        border-top: 0.5vw solid #0B97DD;
        background-color: white;
        padding: 0;
        padding-bottom: 2.5vw;
        width: 81.2vw;
        right: -0.2vw;
        list-style-type: none;
        box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
        border-left: 1px solid #c4c4c4;
        border-right: 1px solid #c4c4c4;
        border-bottom: 1px solid #c4c4c4;
    }

    .mainNavNew > ul > li:hover > a + ul {
        visibility: visible ;
    }

    .mainNavNew > ul > li:hover > a > .triangleNew {
        visibility: visible ;
    }

    /*CONTENT INSIDE DROPDOWN MENU*/
    .columnNew {
        /*columns for dropdown*/
        float: left;
        margin: 0;
        width: 33%;
        padding: 0% 4%;
        list-style-type: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .columnNew > li {
        /*all elements in drodown*/
        text-decoration: none;
        list-style: none;
        margin-bottom: 1vw;
    }

    .columnNew > li > h2 {
        /*dopdown headers*/
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: -0.4px ;
        margin-top: 3.1vw;
        margin-bottom: 0px;
        font-size: 1.45vw;
        font-weight: bold;
        color: #0B97DD;
    }

    .columnNew > li > h2 > a {
        /*dopdown headers*/
        text-decoration: none;
        color: #0B97DD;
    }

    .columnNew > li > h2 > a:hover {
        /*dopdown headers*/
        text-decoration: underline;
        color: #006BA2;
    }

    .columnNew > li > a {
        /*dopdown links*/
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.25vw;
        font-weight: normal;
        color: #333333;
        text-decoration: none;
    }

    .columnNew > li > a:hover {
        /*dopdown links*/
        text-decoration: underline;
    }

    /*TOP MINI NAV BAR*/
    .miniNavNew{
        position: absolute;
        height: 2.1vw;
        top: 2vw;
        right: 0;
    }


    .miniNavLinkNew {
        color: #757575 ;
        font-size: 1vw;
        line-height: 0px ;
        margin-left: 1.25vw;
        margin-top: 0.5vw ;
        text-decoration: none ;
        font-family: 'Source Sans Pro', sans-serif ;
    }

    .miniNavLinkNew:hover {
        color: #333 ;
    }

    .searchIconNew {
        cursor: pointer;
        color: #757575;
        font-size: 1.2vw;
        line-height: 1.4vw;
        margin-left: 1.1vw;
        margin-top: 5px ;
        text-decoration: none;
    }

    .searchIconNew:hover {
        color: #333;
    }

    #searchBarNew {
        display: none;
        margin-left: 1.1vw;
    }

    #searchInputNew {
        margin-right: 11px;
        -webkit-appearance: textfield ;
        width: 20vw;
    }

    #googleTranslateElement {
        display: inline-block;
        height: 2.2vw;
    }
    
    
    .menuCallToAction {
        margin-top: 2vw;
        background-color: #0B97DD;
    }

    .menuCallToAction img {
        width: 100%;
    }

    .menuCallToAction p {
        color: white;
        font-weight: bold;
        font-size: 2vw;
        padding: 2vw;
        letter-spacing: normal;
        line-height: normal;
    }
}


@media screen and (max-width:992px) {

    .header-new{
        display: none;
    }

    .mobileHeaderContainerNew {
        font-family: "Source Sans Pro";
        width: 100%;
        margin: 0;
        position: fixed;
        top: 0px;
        z-index: 100000;
    }

    .mobileHeaderContainerNewWithDisasterCallout {
        font-family: "Source Sans Pro";
        width: 100%;
        margin: 0;
        position: absolute;
        top: auto;
        z-index: 100000;
    }

    .mobileMainHeaderNew {
        height: 16vw;
        box-shadow: 0 0.266vw 0 0 #EBEBEB;
        background-color: #ffffff;
    }

    .logoNew {
        height: 9.6vw;
        width: auto;
        margin-left: 5.33vw;
        margin-top: 3.2vw;
    }

    .menuBtnNew {
        float: right;
        margin-top: 3.5vw;
        margin-right: 2vw;
        width: 22.934vw;
        height: 8.534vw;
        font-size: 3.2vw;
        line-height: 9.6vw;
        color: #0B97DD;
        text-decoration: none;
        font-weight: bold;
        border: 0.533vw solid #0B97DD;
    }

    .menuBtnTextNew {
        color: #0B97DD;
        height: 9.6vw;
        margin-top: -.633vw;
        padding-left: 3.73vw;
        float: left;
    }

    .menuIconHamburgerNew{
        height: 3.466vw;
        width: 4vw;
        margin-right: 3.466vw;
        /*margin-top: 3.2vw;*/
        margin-top: 2.367vw;
        float: right;
    }

    .menuIconCloseNew{
        height: 3.466vw;
        width: 4vw;
        margin-right: 3.466vw;
        /*margin-top: 3.2vw;*/
        margin-top: 2.667vw;
        float: right;
        display: none;
    }

    .mobile-search-new{
        width: 100%;
    }

    .mainNavNew {
        width: 100%;
        display: none;
        background-color: #ffffff;
        overflow: auto;
    }

    .mainNavNewShow{
        display: inherit;
    }

    .mobileSearchContainerNew {
        background-color: #EBEBEB;
        height: 16vw;
        margin-bottom: 0;
        position: relative;
    }

    .searchIconContainerNew {
        position: absolute;
        height: 4vw;
        width: 4vw;
        top: 5.9vw;
        left: 8vw;
        z-index: 1;
    }

    .searchIconNew {
        height: 4vw;
        width: auto;
    }

    .searchInputFieldNew {
        position: absolute;
        margin-top: 2.93vw;
        height: 10.13vw;
        margin-left: 5.33vw;
        width: 89.33vw;
        font-size: 3.73vw;
        line-height: 4.8vw;
        color: #666666;
        text-indent: 7.466vw;
        border: 0.266vw solid #C4C4C4;
    }

    .mainNavNew div a {
        font-size: 4.8vw;
        border-bottom: 0.266vw solid #DBDBDB;
        padding-left: 12.8vw;
        margin-left: 0;
        text-decoration: none;
        display: block;
        height: 16vw;
        line-height: 16vw;
        font-family: "Source Sans Pro" ;
    }

    .navLinkNew {
        font-weight: bold;
        color: #0B97DD ;
    }

    .navLinkSpecialNew{
        color: #666666 ;
    }

    .navLinkNearIconNew{
        margin-right: 4vw;
        height: 4.8vw;
        width: auto;
        vertical-align: middle;
        padding-left: .6vw;
        margin-top: -1.3vw;
    }

    .navLinkCalendarIconNew{
        margin-right: 3.2vw;
        height: 4.8vw;
        width: auto;
        vertical-align: middle;
        margin-top: -1.3vw;
    }
}
