

@media screen and (min-width: 992px){

    .mobileHeaderContainerNew {
        display: none;
    }

    .headerNew {
        width:100%;
        padding-left: 7.3vw;
        padding-right: 7.3vw;
        background-color: white;
        height: 10vw;
        margin: auto;
        box-sizing: border-box;
        font-family: 'Source Sans Pro', sans-serif ;
        letter-spacing: -0.4px ;
    }

    /*NAVBAR CONTAINER*/
    .navbarNew {
        position: relative;
        height: 10vw;
        z-index: 12 ;
    }

    .logoNew {
        margin-top: 1.8vw;
        margin-left: 3.13vw;
        width : 12.5vw;
        height: auto;
    }

}

@media screen and (max-width:992px) {

    .mobileHeaderContainerNew {
        font-family: "Source Sans Pro";
        width: 100%;
        margin: 0;
        position: fixed;
        top: 0px;
        z-index: 100000;
    }

    .mobileHeaderContainerNewWithDisasterCallout {
        font-family: "Source Sans Pro";
        width: 100%;
        margin: 0;
        position: absolute;
        top: auto;
        z-index: 100000;
    }
}
