@import "../../styles/variables.scss";


@media screen and (min-width: 768px){

    .show{
        visibility: visible;
    }

    .hide{
        visibility: hidden;
    }

    .showVisible{
        opacity: 1;
        height: auto;
    }

    .hideVisible{
        opacity: 0;
        height: 0px
    }


    .normalizeMenuItemNew {
        text-decoration: none;
        list-style: none;
    }

    /*BOTTOM NAV BAR*/
    .mainNavNew {
        /*container for bottom nav bar*/
        position: absolute;
        font-weight: bold;
        width: 75vw;
        top: 6.2vw;
        bottom: 0;
        right: 0;
        margin: 0;
    }

    .mainNavNew > ul {
        /*remove styling for ul in bottom nav*/
        margin: 0;
        padding: 0;
        list-style-type: none;
        /*floats the navbar ro the right*/
        float: right;
    }


    .mainNavNew > ul > li {
        /*reverses the order of the navs so they are semantic and arranged left to right*/
        float: left;
    }

    .mainBtnNew {
        /*container for menu button*/
        position: relative;
        top: 0;
        display: inline-block;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        height: 3.5vw;
        cursor: pointer;
        text-decoration: none !important;
    }

    .sba-blue .mainBtnNew > span {
        color: $sba-blue;
    }
    .byzantine .mainBtnNew > span {
        color: $byzantine;
    }
    .money-green .mainBtnNew > span {
        color: $money-green;
    }
    .cobalt-blue .mainBtnNew > span {
        color: $cobalt-blue;
    }


    .mainNavNew > ul > li:first-child > a {
        /*removes left padding for the first main nav button*/
        padding-left: 0;
    }

    .mainNavNew > ul > li:last-child > a {
        /*removes right padding for the last main nav button*/
        padding-right: 0;
    }

    .mainBtnNew > span {
        /*text for menu button*/
        color: #0B97DD;
        font-size: 1.55vw;
        margin-right: 0.5vw;
        font-weight: bold;
        text-decoration: none ;
        font-family: 'Source Sans Pro', 'sans-serif' ;
    }

    .mainBtnNew > span:first-child {
        margin-left: 0;
    }

    .triangleNew {
        /*little triangle in menu button*/
        visibility: hidden;
        position: absolute;
        height: 0;
        width: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-right: 0.5vw solid transparent;
        border-left: 0.5vw solid transparent;
        border-top: 0;
    }

    .sba-blue .triangleNew {
        border-bottom: 0.5vw solid $sba-blue;
    }
    .byzantine .triangleNew {
        border-bottom: 0.5vw solid $byzantine;
    }
    .money-green .triangleNew {
        border-bottom: 0.5vw solid $money-green;
    }
    .cobalt-blue .triangleNew {
        border-bottom: 0.5vw solid $cobalt-blue;
    }

    .mainBtnNew:hover .triangleNew {
        visibility: visible;
    }

    .mainBtnNew:focus .triangleNew{
        visibility: visible;
    }

    .triangleVisible{
        visibility: visible;
    }

    .skipLink {
        margin-top: 1.5vw;
        margin-left: 3.5vw;
        font-size: 1.45vw;
        pointer-events: none;
    }

    .skipLink > a {
        color: white;
    }

    .skipLink > a:focus {
        color: black;
    }

    /*DROPDOWN MENU*/
    .mainMenuNew {
        position: absolute;
        background-color: white;
        padding: 0;
        padding-bottom: 2.5vw;
        width: 81.2vw;
        right: -0.2vw;
        list-style-type: none;
        box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
        border-left: 1px solid #c4c4c4;
        border-right: 1px solid #c4c4c4;
        border-bottom: 1px solid #c4c4c4;
    }

    .sba-blue .mainMenuNew {
        border-top: 0.5vw solid $sba-blue;
    }
    .byzantine .mainMenuNew {
        border-top: 0.5vw solid $byzantine;
    }
    .money-green .mainMenuNew {
        border-top: 0.5vw solid $money-green;
    }
    .cobalt-blue .mainMenuNew {
        border-top: 0.5vw solid $cobalt-blue;
    }

    .mainNavNew > ul > li:hover > a + ul {
        visibility: visible ;
    }

    .mainNavNew > ul > li:hover > a > .triangleNew {
        visibility: visible ;
    }

    /*CONTENT INSIDE DROPDOWN MENU*/
    .columnNew {
        /*columns for dropdown*/
        float: left;
        margin: 0;
        width: 33%;
        padding: 0% 4%;
        list-style-type: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }



    .columnNew > li {
        /*all elements in drodown*/
        text-decoration: none;
        list-style: none;
        margin-bottom: 1vw;
    }

    .columnNew > li > h2 {
        /*dopdown headers*/
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: -0.4px ;
        margin-top: 3.1vw;
        margin-bottom: 0px;
        font-size: 1.45vw;
        font-weight: bold;
    }

    .sba-blue .columnNew > li > h2 {
        color: $sba-blue;
    }
    .byzantine .columnNew > li > h2 {
        color: $byzantine;
    }
    .money-green .columnNew > li > h2 {
        color: $money-green;
    }
    .cobalt-blue .columnNew > li > h2 {
        color: $cobalt-blue;
    }

    .columnNew > li > h2 > a {
        /*dopdown headers*/
        text-decoration: none;
        color: #0B97DD;
    }

    .columnNew > li > h2 > a:hover {
        /*dopdown headers*/
        text-decoration: underline;
    }

    .sba-blue .columnNew > li > h2 > a {
        color: $sba-blue;
    }
    .byzantine .columnNew > li > h2 > a {
        color: $byzantine;
    }
    .money-green .columnNew > li > h2 > a {
        color: $money-green;
    }
    .cobalt-blue .columnNew > li > h2 > a {
        color: $cobalt-blue;
    }

    .columnNew > li > a {
        /*dopdown links*/
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.25vw;
        font-weight: normal;
        color: #333333;
        text-decoration: none;
    }

    .columnNew > li > a:hover {
        /*dopdown links*/
        text-decoration: underline;
    }

    .sba-blue .columnNew > li > h2 > a:hover {
        color: $sba-blue-dark;
    }
    .byzantine .columnNew > li > h2 > a:hover {
        color: $byzantine-dark;
    }
    .money-green .columnNew > li > h2 > a:hover {
        color: $money-green-dark;
    }
    .cobalt-blue .columnNew > li > h2 > a:hover {
        color: $cobalt-blue-dark;
    }




    .menuCallToAction {
        margin-top: 2vw;
    }

    .sba-blue .menuCallToAction {
        background-color: $sba-blue;
    }
    .byzantine .menuCallToAction {
        background-color: $byzantine;
    }
    .money-green .menuCallToAction {
        background-color: $money-green;
    }
    .cobalt-blue .menuCallToAction {
        background-color: $cobalt-blue;
    }

    .menuCallToAction img {
        width: 100%;
    }

    .menuCallToAction p {
        color: white;
        font-weight: bold;
        font-size: 2vw;
        padding: 2vw;
        letter-spacing: normal;
        line-height: normal;
    }
}
