.largeTitle {
  @include for-small-only {
    margin-top: 1.56rem;
    margin-bottom: 0;
  }
  @include for-medium-up {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 0;
    line-height: 30px;
  }
  @include for-large-up {
    padding: 0 20px;
  }
}

.smallTitle {
  font-size: 1.3rem;
  padding-top: 4px;

  @include for-medium-up {
    text-align: center;
    margin-bottom: 0;
  }
}
