.largeTitle {
  @include grid-media($sba-grid-small) {
    margin-bottom: 0;
  }
  @include grid-media($sba-grid-medium) {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 0;
    line-height: 30px;
  }
}

.smallTitle {
  font-weight: 700;
  @include grid-media($sba-grid-small) {
    font-size: 20px;
  }
  @include grid-media($sba-grid-medium) {
    text-align: center;
    margin-bottom: 0;
    line-height: 31px;
    font-size: 1.33em;
  }
}
