.largeTitle {
  @include for-small-only {
    margin-top: 1.56rem;
    margin-bottom: 0;
  }
  @include for-medium-up {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 0;
    line-height: 30px;
  }
  @include for-large-up {
    padding: 0 20px;
  }
}

.smallTitle {
  @include for-small-only {
    margin-top: 4px;
  }
  @include for-medium-up {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 0;
    line-height: 31px;
    font-size: 1.33em;
  }
}
