.breadcrumb {
  line-height: 1.5;
}

.breadcrumb a {
  color: $sba-blue;
  font-size: 16px;
}

.last a {
  color: $secondary-black-ish;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

.slash {
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
}
