.breadcrumb a {
  color: $sba-blue;
  font-size: 0.889rem;
  text-decoration: underline;
}

.last a {
  color: $secondary-black-ish;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

.slash {
  font-size: 0.889rem;
  margin-right: 0.278rem;
  margin-left: 0.278rem;
}
