.logo {
  display: inline;
  float: left;
  img {
    height: auto;
    width: 7.111rem;
    padding-top: 0.167rem;
  }
  a {
    vertical-align: none;
  }

  @include for-medium-only {
    img {
      padding-top: 0.389rem;
    }
  }

  @include for-large-up {
    img {
      height: auto;
      width: 10.722rem;
    }
  }
}
