.logoNew {
  img {
    width: 110px;
  }
  a {
    vertical-align: none;
  }
  display: inline;
  float: left;

  @include grid-media( $sba-grid-medium) {
    img {
      width: 128px;
    }
    a {
      vertical-align: none;
    }
  }
}
