li.subMenu {
    display: inline-block;
    padding-left: 25px;
}

li.subMenu:first-child {
    padding-left: 0;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.showVisible {
    opacity: 1;
    height: auto;
}

.hideVisible {
    opacity: 0;
    height: 0;
}
