.container {

	word-break: break-word;
	@include grid-column(12);

	@include grid-media($sba-grid-medium) {
		@include grid-column(8);
		@include grid-push(2);
		padding: 30px 30px 0 30px;
	}

	@include grid-media($sba-grid-large) {
		@include grid-column(6);
		@include grid-push(3);
		padding: 30px 30px 0 30px;
	}
}
