.container {
  word-break: break-word;
  padding: 30px 30px 0 30px;

  @include grid-media($sba-grid-medium) {
    width: 700px;
    margin: 0 auto;
  }

  @include grid-media($sba-grid-large) {
    width: 700px;
    margin: 0 auto;
  }

  h1 {
    font-size: 1.777rem;
    font-weight: 400;
  }

  @media (min-width: 1200px) {
    h1 {
      font-size: 2.25rem;
    }
  }

  h5 {
    clear: both;
  }
}

.hr {
  margin-bottom: 50px;
  border: 1px solid $sba-gray-light;
}

.postBlogBody {

  img {
    display: block;
    margin: 0 auto;
  }
  
  p {
    font-size: 21px;
  }
}

.bylineColA {
  @media (min-width: 768px) {
    float: left;
  }
}

.bylineColB {
  @media (min-width: 768px) {
    float: right;
  }
}