.container {
  word-break: break-word;
  padding: 30px 30px 0 30px;

  h1 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 0;

    @include for-large-up {
      font-size: 36px;
    }
  }

  @include for-medium-up {
    width: 700px;
    margin: 0 auto;
  }
}

.hr {
  margin-bottom: 50px;
  border: 1px solid $sba-gray-light;
}

.postBlogBody {

  img {
    display: block;
    margin: 0 auto;
  }
  
  * {
    font-size: 21px;
  }
}

.byline {
  @include for-small-only {
    div:first-child {
      margin-bottom: -20px;
    }
  }
  @include for-medium-up {
    display: flex;
    justify-content: space-between;
  }
}
