.textSection {
	margin-bottom: 2.1vw;
}

// redundant with normalize css, but better to be explicit
.textSection ul {
	list-style: none;
}
// override the normalize removal
.textSection ol {
	list-style: decimal;
}
// indendts the ordered list items
.textSection ol li {
	margin-left: 1.75em;
}
// adds space between the number and text
.textSection ol li::before {
	content: "";
	width: 0.20em;
	display: inline-block;
}
// formatting for the unordered list bullets
.textSection ul li::before {
	padding-right: 0.5em;
	content: "";
	height: 1em;
	width: 1em;
	display: block;
	float: left;
	margin-top: 0.20em;
	margin-left: 0.5em;
	margin-right: 0.50em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}


@mixin primary-color-theme-for-color($component) {
	@each $name, $value in $primary-color-map {
		:global(.#{$name}) {
			#{$component} {
				background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em'><circle cx='10' cy='10' r='4' fill='#{$value}' /></svg>") no-repeat;
			}
		}
	}
}


@include primary-color-theme-for-color('.textSection ul li::before');
