.textSection {
	margin-bottom: 2.1vw;
}

.readMoreSectionClosed{
	margin-left: 0 !important;
	padding-right: 0.4em;
	@include grid-column(7.7, $sba-grid-medium);
	@include grid-media($sba-grid-small) {
		display: none;
	}
}

.readMoreSectionExpanded{
	margin-left: 0 !important;
	@include grid-push(0);
	@include grid-media($sba-grid-small) {
		display: none;
	}
}

.readMoreSectionMobile {
	display: none;
	@include grid-media($sba-grid-small) {
		@include grid-column(7.42);
		@include grid-shift(-0.25);
		margin-left: 0 !important;
		display: block;
	}
}

// redundant with normalize css, but better to be explicit
.textSection ul {
	list-style: none;
}
// override the normalize removal

.textSection ol {
	list-style: decimal;
}
// indents the ordered list items

.textSection ol li {
	margin-left: 1.75em;
}


.textSection ol li::before {
	content: "";
	width: 0.20em;
	display: inline-block;
}

.textSection dd {
	margin-left: 2em;
}
// formatting for the unordered list bullets
.textSection dl dt::before, .textSection ul li::before {
	padding-right: 0.5em;
	content: "";
	height: 1em;
	width: 1em;
	display: block;
	float: left;
	margin-top: 0.20em;
	margin-left: 0.5em;
	margin-right: 0.50em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}
@mixin primary-color-theme-for-color($component) {
	 @each $name, $value in $primary-color-map{
		:global(.#{$name}) {
			#{$component} {
				background: url("../../../../../public/assets/svg/circle/circle-#{$name}.svg") no-repeat;
			}
		}
	}
}
@include primary-color-theme-for-color( '.textSection ul li::before');
@include primary-color-theme-for-color( '.textSection dl dt::before');


//TABLE
@include theme(sba-blue, '.textSection th', $sba-blue, $white, $sba-blue)
@include theme(money-green, '.textSection th', $money-green, $white, $money-green)
@include theme(byzantine, '.textSection th', $byzantine, $white, $byzantine)
@include theme(cobalt-blue, '.textSection th', $cobalt-blue, $white, $cobalt-blue)

.textSection {
	//LARGE
	@include grid-media($sba-grid-medium){
		& table {
			table-layout: auto;
		}
		& tbody {
			border: 2px solid #EBEBEB;
		}
		& th {
			text-align: center;
			border: 2px solid;
		}
		& tr {
			padding-right: 15px;
			padding-left: 15px;
		}
		& tr:nth-child(even) {
			background-color: #EBEBEB;
		}
		& td {
			padding-right: 15px;
			padding-left: 15px;
			border: 0px;
		}

	}
}




