.textSection {
	margin-bottom: 2.1vw;
}


// redundant with normalize css, but better to be explicit
.textSection ul {
	list-style: none;
}
// override the normalize removal

.textSection ol {
	list-style: decimal;
}
// indents the ordered list items

.textSection ol li {
	margin-left: 1.75em;
}


.textSection ol li::before {
	content: "";
	width: 0.20em;
	display: inline-block;
}

.textSection dd {
	margin-left: 2em;
}

.textSection ul li p {
  padding-left: 2em;
}
// formatting for the unordered list bullets
.textSection dl dt::before, .textSection ul li::before {
	padding-right: 0.5em;
	content: "";
	height: 1em;
	width: 1em;
	display: block;
	float: left;
	margin-top: 0.20em;
	margin-left: 0.5em;
	margin-right: 0.50em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}
@mixin primary-color-theme-for-color($component) {
	 @each $name, $value in $primary-color-map{
		:global(.#{$name}) {
			#{$component} {
				background: url("../../../../../public/assets/svg/circle/circle-#{$name}.svg") no-repeat;
			}
		}
	}
}
@include primary-color-theme-for-color( '.textSection ul li::before');
@include primary-color-theme-for-color( '.textSection dl dt::before');


//TABLE
@include theme(sba-blue, '.textSection th', $sba-blue, $white, $sba-blue)
@include theme(money-green, '.textSection th', $money-green, $white, $money-green)
@include theme(byzantine, '.textSection th', $byzantine, $white, $byzantine)
@include theme(cobalt-blue, '.textSection th', $cobalt-blue, $white, $cobalt-blue)



@include theme(sba-blue, ':global(.table-header-label)', none, $sba-blue, none)
@include theme(money-green, ':global(.table-header-label)', none, $money-green, none)
@include theme(byzantine, ':global(.table-header-label)', none, $byzantine, none)
@include theme(cobalt-blue, ':global(.table-header-label)', none, $cobalt-blue, none)


.textSection {
  //LARGE
  @include grid-media($sba-grid-small){
    & thead > tr {
      display: none;
    }
    & tr {
      border: 2px solid #EBEBEB;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    & td:nth-child(even){
      background-color: #EBEBEB;
    }
    & td {
      overflow: auto;
      border: 0px;
    }
    & :global(.table-header-label){
      display: block;
      @include grid-column(2);
      font-weight: bold;
    }
    & :global(.table-data-wrapper){
      display: block;
      @include grid-column(4)
      }
    & :global(.show-mobile){
      display: block;
    }

  }
  @include grid-media($sba-grid-medium){
    & table {
      table-layout: auto;
    }
    & tbody {
      border: 2px solid #EBEBEB;
    }
    & th {
      text-align: center;
      border: 2px solid;
    }
    & tr {
      padding-right: 15px;
      padding-left: 15px;
    }
    & tr:nth-child(even) {
      background-color: #EBEBEB;
    }
    & td {
      padding-right: 15px;
      padding-left: 15px;
      border: 0px;
    }
    & :global(.table-header-label) {
      display: none;
    }
    & :global(.show-mobile) {
      display: none;
    }
  }

  @include grid-media($sba-grid-small){
    table, thead, tbody, th, td, tr {
      display: block;
    }
  }
}
