.allVersionsList {
  clear: both;

  h3 {
    margin-top: 40px;
  }

  ul {
    margin-bottom: 30px;
  }

  li {
    margin-bottom: 5px;
  }

  strong {
    margin-right: 10px;
  }

  i {
    margin-left: 10px;
  }

  a {
    padding-left: 10px;
  }
}

.hr {
  border: 1px solid #dadada;
}

.future {
  margin-left: 1em;
}
