.allVersionsList {

  clear: both;
  padding: 1px 30px;

  h3 {
    margin-top: 60px;
  }

  ul {
    margin-bottom: 40px;
  }

  li {
    margin-bottom: 5px;
  }

  strong {
    margin-right: 10px;
  }

  i {
    margin-left: 10px;
  }

  a {
    padding-left: 10px;
  }
}


.hr {

  border: 1px solid #dadada;

  @include grid-media($sba-grid-medium-and-small) {
    @include grid-column(6, $mobile-0gutter);
  }
  @include grid-media($sba-grid-large) {
    @include grid-column(12, $desktop-0gutter);
  }
}

.future {
  margin-left: 1em;
}
