.container {
  @include grid-media($sba-grid-small) {
    padding: 20px;
  }
}

.scroll {
  overflow: scroll;
  max-height: calc(100% - 80px);
  background-color: white;
}

.paginator {
  text-align: right;
  padding: 15px;
  background-color: white;
}
