.resultContainerWithPagination {
  max-height: calc(100% - 80px);
  pointer-events: all;
}

.resultsWithPagination {
  @include grid-media($sba-grid-large) {
    bottom: 66px;
  }
}

.resultsWithSearchInfo {
  @include grid-media($sba-grid-large) {
    top: 0px;
  }
}

.resultContainer {
  @include grid-media($sba-grid-large) {
    pointer-events: all;
  }
}

.scroll {
  overflow-y: scroll;
}

.searchFocusState {
  line-height: 1;
}

.searchFocusState:focus {
  outline: 2px dotted $sba-gray-light;
  outline-offset: 3px;
}

.defaultResults {
  @include grid-media($sba-grid-large) {
    pointer-events: all;
  }
}

.paginator {
  text-align: right;
  padding: 15px;
  @include grid-media($sba-grid-large) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.whiteBackground {
  background-color: white;
}
