.container {
  @include grid-media($sba-grid-small) {
    padding: 20px;
  }
}

.officeResults {
  @include grid-media($sba-grid-large) {
    position: absolute;
    top: 320px;
    left: 20px;
    background-color: #ffffff;
    width: 321px;
    height: 94vh;
    overflow: hidden;
  }
}

.scroll {
  overflow: scroll;
  height: 94vh;
}

.paginator {
  position: absolute;
  text-align: right;
  padding: 15px;
  background-color: #f5f5f5;
  left: 0;
  right: 0;
  bottom: 0;
}
