{
  "presets": [
    [
      "@babel/preset-env",
      {
        "forceAllTransforms": true,
        "targets": {
          "browsers": [
            "defaults"
          ],
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel"
  ]
}
