.box {
  padding-top: 54px;
  padding-bottom: 54px;

  @include for-small-only {
    padding-top: 0;
    // margin-top: 30px;
    margin-bottom: 30px;
  }
}

.alternateBox {
  @include call-to-action;

  @include for-small-only {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
  }

  @include for-medium-only {
    padding: 30px;
  }
}

.number {
  border-bottom: 2px solid;
  color: $sba-red;
  display: inline-block;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 24px;
  padding-bottom: 24px;
}

.text {
  margin-bottom: 30px;
  margin-top: 32px;
}
