.resource {
    @include grid-column(12);
    background: #EBEBEB;
    padding: 20px 30px 35px;
    margin-bottom: 20px;
    hr {
        width: 35px;
        border-top: 2px solid #609F00;
        // border-bottom: 2px solid #609F00;
        margin: 16px 0 25px;
        text-align: left;
    }
}

// Tablet
@media (min-width: 768px) {
    .resource {
        @include grid-column(4);
        margin-bottom: 0;
    }
}
// Desktop
@media (min-width: 1080px) {
    .resource {
        @include grid-column(4);
        margin-bottom: 0;
    }
}
