.previousNext {
  @include for-medium-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    margin-bottom: 80px;

    .previous,
    .next {
      width: 100%;
    }

    .previous {
      justify-self: end;
      -ms-grid-column-align: end;
      padding-right: 15px;

      h6 {
        text-align: right;
      }
    }

    .next {
      justify-self: start;
      -ms-grid-column-align: start;
      padding-left: 15px;
    }
  }

  @include for-small-only {
    margin-bottom: 50px;

    .previous {
      display: none;
    }
  }

  .previous .button {
    grid-template-columns: 1fr 4fr;

    i {
      justify-self: start;
      -ms-grid-column-align: start;
      padding-right: 25px;
    }

    span {
      justify-self: end;
      -ms-grid-column-align: end;
    }
  }

  .next .button {
    grid-template-columns: 4fr 1fr;
    -ms-grid-columns: 4fr 1fr;

    i {
      justify-self: end;
      padding-left: 25px;
    }

    span {
      justify-self: start;
    }
  }

  .button {
    align-items: center;
    border: 2px solid $sba-blue;
    display: grid;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
    transition: border-color $base-duration $base-timing;

    &:hover {
      border-color: $secondary-blue;
      color: $secondary-blue;
    }
  }
}

.invisible {
  visibility: hidden;
}
