// Color Palette
.color {
    background: #666666;
    color: #fff;
    font-family: "Helvetica", sans-serif;
}

.colorprimary {
    padding: 45px 0 15px 20px;
    margin-bottom: 12px;
}

.colorsecondary {
    padding: 15px 0 15px 20px;
}

.color p.colorname,
.color p.colorhex {
    margin: 0;
    line-height: 22px;
    font-weight: bold;
}

.colorname {
    font-size: 13px;
}

.colorhex {
    font-size: 18px;
}

.textblack {
    color: #000;
}

// Buttons
.background {
    margin: 0 auto 25px;
    padding: 25px 0 25px 25px;
}

@include theme(sba-blue, '.background', $sba-blue, null, null);
@include theme(byzantine, '.background', $byzantine, null, null);
@include theme(money-green, '.background', $money-green, null, null);
@include theme(cobalt-blue, '.background', $cobalt-blue, null, null);

// SBA Blues
.sbablue {
    background: $sba-blue;
}

.sbabluedarkest {
    background: $sba-blue-darkest;
}

.sbabluedark {
    background: $sba-blue-dark;
}

.sbabluelight {
    background: $sba-blue-light;
}

.sbabluelightest {
    background: $sba-blue-lightest;
}

// Byzantines
.byzantine {
    background: $byzantine;
}

.byzantinedarkest {
    background: $byzantine-darkest;
}

.byzantinedark {
    background: $byzantine-dark;
}

.byzantinelight {
    background: $byzantine-light;
}

.byzantinelightest {
    background: $byzantine-lightest;
}

// Money Greens
.moneygreen {
    background: $money-green;
}

.moneygreendarkest {
    background: $money-green-darkest;
}

.moneygreendark {
    background: $money-green-dark;
}

.moneygreenlight {
    background: $money-green-light;
}

.moneygreenlightest {
    background: $money-green-lightest;
}

// Cobalt Blues
.cobaltblue {
    background: $cobalt-blue;
}

.cobaltbluedarkest {
    background: $cobalt-blue-darkest;
}

.cobaltbluedark {
    background: $cobalt-blue-dark;
}

.cobaltbluelight {
    background: $cobalt-blue-light;
}

.cobaltbluelightest {
    background: $cobalt-blue-lightest;
}

// White and Text Grey
.text-grey {
    background-color: $base-font-color;
}

.white {
    background-color: #fff;
    border: 1px solid #979797;
    color: $base-font-color;
}

// Grid
.typography {
    margin-bottom: $margin-30;
    @include grid-column(6, $sba-grid-small);
    @include grid-media( $sba-grid-medium) {
    @include grid-column(12);
  }
}

.column, .buttons {
    @include grid-column(6, $sba-grid-small);
    @include grid-media( $sba-grid-medium) {
    @include grid-column(3);
  }
}
