.collection {
  @include clearfix;

  margin-bottom: 80px;

  hr {
    margin: 15px 0;
  }
}

.card {
  border-top: 3px solid $sba-blue;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  padding-top: 20px;

  @include for-small-and-medium-only {
    @include grid-column(6);
  }
}

.oneCard {
  @include for-large-up {
    @include grid-column(12);
  }
}
.twoCards {
  @include for-large-up {
    @include grid-column(6);
  }
}
.manyCards {
  @include for-large-up {
    @include grid-column(4);
  }
}

.titleContainer {
  position: relative;

  a {
    bottom: 1px;
    right: 0;
    position: absolute;
  }
}

.title {
  display: inline-block;
  margin-bottom: 0px;
}

.date {
  font-style: italic;
  margin-bottom: 15px;
}

.rateContainer {
  margin-bottom: 20px;
}

.rate {
  display: inline-block;
  float: right;
}
