.titleSection {
  color: white;
  height: calc(100vh - 115px);
  position: relative;
  background-color: $sba-blue;
  background-image: url('assets/images/tensteps/title-section-pattern.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  @include grid-media($sba-grid-small) {
    background-image: url('assets/images/tensteps/title-section-pattern-mobile.png');
    background-position: 100% 100%;
    height: 550px;
  }
  h1 {
    // @include font-size($extra-large-title-font-sizes);
    color: white;
    margin-bottom: 0.4em;
    @include grid-media($sba-grid-small) {
      max-width: 70%;
    }
  }
  p {
    // @include font-size($h5-font-sizes);
    font-family: $serif-font-family;
    font-style: italic;
    line-height: 35px;
    font-size: 1.167rem;
  }
}

.titleSectionText {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 900px;
  @include grid-media($sba-grid-small) {
    @include grid-column(6);
  }
  @include grid-media($sba-grid-medium) {
    @include grid-column(12);
  }
  @include grid-media($sba-grid-large) {
    margin-left: 80px;
  }
}

.lastSection {
  color: white;
  padding: 30px;
  background-color: $sba-blue;
  background-image: url('assets/images/tensteps/title-section-pattern.png');
  background-position: right;
  background-repeat: no-repeat;
  //background-size: contain;
  background-attachment: local;
  background-size: 30%;
  @include grid-media($sba-grid-small) {
    transform: translateY(-25%);
    background-image: url('assets/images/tensteps/title-section-pattern-mobile.png');
    background-position: 100% 100%;
  }
  h1 {
    // @include font-size($extra-large-title-font-sizes);
    color: white;
    margin-bottom: 0.2em;
    @include grid-media($sba-grid-small) {
      margin-top: 0.2em;
      max-width: 70%;
    }
  }
  p {
    // @include font-size($h5-font-sizes);
    font-family: $serif-font-family;
    @include grid-media($sba-grid-small) {
      margin-top: 2em;
    }
  }
}

@media screen and (min-width: 1080px) {
  .lastSection {
    padding-left: 220px;
  }
}

.lastSectionText {
  max-width: 900px;
  @include grid-media($sba-grid-small) {
    @include grid-column(6);
    float: none;
  }
  @include grid-media($sba-grid-medium) {
    @include grid-column(12);
    float: none;
  }
  @include grid-media($sba-grid-large) {
    width: auto;
    float: none;
  }
}

.scrollButton {
  background-color: white;
  bottom: 0;
  font-size: 36px;
  height: 64px;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: auto;
  padding: 23px 25px;
}

.anchor {
  @include grid-media($sba-grid-small) {
    display: block;
    height: 70px;
    margin-top: -70px;
    visibility: hidden;
  }
  @include grid-media($sba-grid-medium) {
    display: block;
    height: 115px;
    margin-top: -115px;
    visibility: hidden;
  }
  @include grid-media($sba-grid-large) {
    height: 0;
    margin-top: 0;
  }
}

a.backLink {
  position: absolute;
  font-weight: 300;
  left: 0;
  text-decoration: none;
  top: 20px;
  @include grid-media($sba-grid-small) {
    margin-left: 20px;
  }
  @include grid-media($sba-grid-medium) {
    margin-left: 30px;
  }
  @include grid-media($sba-grid-large) {
    margin-left: 80px;
  }
  &:hover {
    text-decoration: none;
  }
}

a.backLink:before {
  content: '\F104';
  font-family: FontAwesome;
  font-size: 30px;
  vertical-align: sub;
  margin-right: 15px;
  &:hover {
    text-decoration: none;
  }
}

.bizguideContainer {
  position: relative;
  h1 {
    margin-top: 40px;
    margin-left: 25px;
    margin-bottom: 15px;
  }
}

.counsellorCtaContainer {
  @include grid-column(12, $sba-grid-large);
}
