.textOpen,
.textClosed {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline;
}

.menuIconHamburger,
.menuIconClose {
  width: 14px;
  float: right;
  display: inline;
}

.menuIconHamburger {
  margin-top: 8px;
}

.menuIconClose {
  margin-top: 2px;
}

.menuIconContainer {
  display: inline;
}
