.textOpen,
.textClosed {
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline;
}

.menuIconHamburger,
.menuIconClose {
  width: 25px;
  float: right;
  display: inline;
}

.menuIconHamburger {
  margin-top: 8px;
}

.menuIconClose {
  margin-top: 2px;
}

.menuIconContainer {
  display: inline;
}

@include theme(sba-blue, '.textClosed', null, $sba-blue, null);
@include theme(byzantine, '.textClosed', null, $byzantine, null);
@include theme(money-green, '.textClosed', null, $money-green, null);
@include theme(cobalt-blue, '.textClosed', null, $cobalt-blue, null);
@include theme(sba-blue-dark, '.textClosed', null, $sba-blue, null);

@include theme(sba-blue, '.textOpen', null, $sba-blue-dark, null);
@include theme(byzantine, '.textOpen', null, $byzantine-dark, null);
@include theme(money-green, '.textOpen', null, $money-green-dark, null);
@include theme(cobalt-blue, '.textOpen', null, $cobalt-blue-dark, null);
@include theme(sba-blue-dark, '.textOpen', null, $sba-blue-dark, null);

:global(.sba-blue) .hamburgerIcon {
  fill: $sba-blue !important;
}
:global(.byzantine) .hamburgerIcon {
  fill: $byzantine !important;
}
:global(.money-green) .hamburgerIcon {
  fill: $money-green !important;
}
:global(.cobalt-blue) .hamburgerIcon {
  fill: $cobalt-blue !important;
}
:global(.sba-blue-dark) .hamburgerIcon {
  fill: $sba-blue !important;
}

:global(.sba-blue) .closeIcon {
  stroke: $sba-blue-dark !important;
}
:global(.byzantine) .closeIcon {
  stroke: $byzantine-dark !important;
}
:global(.money-green) .closeIcon {
  stroke: $money-green-dark !important;
}
:global(.cobalt-blue) .closeIcon {
  stroke: $cobalt-blue-dark !important;
}
:global(.sba-blue-dark) .closeIcon {
  stroke: $sba-blue-dark !important;
}
