.closeIcon {
  stroke: $sba-blue;
}

.hamburgerIcon {
  fill: $sba-blue;
  height: 0.667rem;
  width: 0.778rem;
}

.textOpen,
.textClosed {
  color: $sba-blue;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline;
}

.menuIconHamburger,
.menuIconClose {
  float: right;
  display: inline;
}

.menuIconHamburger {
  margin-top: 0.444rem;
}

.menuIconClose {
  margin-top: 0.0546rem;
  width: 1.111rem;
  height: 1.111rem;
}

.menuIconContainer {
  display: inline;
}
