.banner,
.searchResults {
  @include grid-media($sba-grid-small) {
    padding: 20px;
  }
  @include grid-media($sba-grid-medium) {
    padding: 20px 30px 20px 30px;
  }
  @include grid-media($sba-grid-large) {
    height: 220px;
    padding: 40px 28px 20px 28px;
  }
}

.banner {
  background-color: $sba-blue;
  color: white;
  position: relative;
  width: 100%;

  h2 {
    color: white;
  }
}

.searchResults {
  background-color: $sba-gray-lighter;
  height: 100%;
}

.textInput {
  width: 60%;
  display: inline-block;
  position: relative;

  input {
    height: 53px;
  }
}

.searchButton {
  display: inline-block;

  button {
    margin-top: -4px;
    font-size: 22px;
    line-height: 0.75;
  }
}

.searchTerm {
  @media (min-width: 768px) {
    width: 50%;
    margin-bottom: 30px;
  }
}

.paginator {
  background-color: $sba-gray-lighter;
  float: right;
  margin: 40px 0 40px 0;
}

.result {
  background-color: white;
  padding: 30px;
  margin-top: 30px;
}

.title {
  margin-bottom: 6px;
  a {
    color: $sba-blue;
    font-weight: 600;
  }
}

.url a {
  color: $secondary-blue;

  &:hover {
    color: shade($secondary-blue, 25%);
  }
}

.results-message {
  text-align: center;
}

.summary {
  font-style: italic;
  margin-bottom: 2px;
}

.searchIcon {
  position: absolute;
  top: 150px;
  right: 500px;
}
