@include theme(sba-blue, '.banner', $sba-blue, #fff, #fff);

.banner {
  position: relative;

  width: 100%;

  @include grid-media($sba-grid-small) {
    padding: 20px;
  }
  @include grid-media($sba-grid-medium) {
    padding: 20px 30px 20px 30px;
  }
  @include grid-media($sba-grid-large) {
    height: 220px;
    padding: 40px 28px 20px 28px;

    background-image: url('../../../../../public/assets/images/tensteps/title-section-pattern.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40%;
  }
}

.header {
  margin: 0 0 20px 0;
}

.multiSelect {
  @include grid-media($sba-grid-small) {
    width: 100%;
  }
  @include grid-media($sba-grid-large) {
    display: inline-block;

    width: 140px;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .multiSelect {
    width: 13%;
  }
}

.applyButton {
  display: inline-block;
  margin-top: 33px;
  vertical-align: top;
}

.table {
  border-bottom: 1px solid #dadada;

  @include grid-media($sba-grid-medium-and-small) {
    display: block;
    overflow-y: auto;

    height: 600px;
    & thead {
      display: none;
    }
    & tbody,
    tr,
    td {
      display: block;
    }
    & tr {
      border-bottom: 1px solid #dadada;
    }
    & td {
      overflow: auto;

      border: none;
    }
    & .mobileHeader {
      font-weight: bold;

      float: left;

      width: 23%;
      margin-left: 2%;
      margin-right: 5%;
    }
  }
  @include grid-media($sba-grid-large) {
    & .mobileHeader {
      display: none;
    }
    // & .nameAndAddressCol {
    //   width: 27vw !important;
    // }
    // & .nameAndAddressHead {
    //   width: 26.4vw !important;
    // }
    // & .activeSinceCol {
    //   width: 10vw !important;
    // }
    // & .activeSinceHead {
    //   width: 9.9vw !important;
    // }
    // & .contactInfoHead {
    //   width: 10vw !important;
    // }
    & tbody,
    thead {
      display: block;
    }
    & tbody {
      overflow-x: hidden;
      overflow-y: auto;

      height: 600px;
    }
    & tbody td {
      width: 21% !important;
      padding: 10px;

      border: none;
    }
    & thead {
      display: block;

      width: 100%;
    }
    & thead tr {
      display: block;

      width: 100%;
    }
    & thead th {
      display: inline-block;

      width: 20.5vw !important;
      padding: 10px;

      border: none;
    }
    & tr {
      border-bottom: 1px solid #dadada;
    }
  }
}
