@value breakpointLarge: #{$breakpoint-large};

.tile {
  background-color: white;
  box-shadow: $box-shadow;
  overflow: hidden;
  position: relative;

  @include for-small-only {
    @include grid-column(6, $sba-grid-small);
    margin-top: 20px;
  }

  @include for-medium-only {
    @include grid-column(6, $sba-grid-medium);
    height: 450px;
    margin-top: 20px;
  }

  @include for-large-up {
    margin-top: 10px;
    margin-bottom: 30px;
    &:hover {
      background-color: $sba-blue;
    }
  }
}

.tile:last-of-type {
  margin-bottom: 20px;
}

.tileThree {
  @include for-large-up {
    @include grid-column(4, $sba-grid-large);
    height: 677px;
  }
}

.tileFour {
  @include for-large-up {
    @include grid-column(3, $sba-grid-large);
    height: 640px;
  }
}

.tileFive {
  @include for-large-up {
    @include grid-column(2.4, $sba-grid-large);
    height: 677px;
  }
}

.homePageTileFour {
  @include for-large-up {
    @include grid-column(3, $sba-grid-large);
    height: 600px;
  }
}

.backgroundLines {
  display: none;
  @include for-large-up {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}

.tabDisplayMenu {
  display: none;
  @include for-large-up {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    cursor: default;
    opacity: 0;
  }
}

.tileFive .largeTitle {
  @include for-large-up {
    font-size: 2em;
  }
}
