.banner {
  @include for-small-only {
    padding: 20px;
  }

  @include for-medium-only {
    padding: 20px 30px 20px 30px;
  }

  @include for-large-up {
    height: 220px;
    padding: 40px 28px 20px 28px;
  }

  background-color: $sba-blue;
  color: white;
  position: relative;
  width: 100%;

  h2 {
    color: white;
  }
}

.header {
  margin: 0 0 20px 0;
}

.multiSelect {
  @include grid-media($sba-grid-small) {
    width: 100%;
  }
  @include grid-media($sba-grid-large) {
    display: inline-block;

    width: 200px;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.downloadBtn {
  bottom: 30px;
  position: absolute;
  right: 30px;

  @include for-small-and-medium-only {
    display: none;
  }
}

.tableContainer {
  padding: 0 60px;
}

.table {
  border-bottom: 1px solid $sba-gray-light;

  @include grid-media($sba-grid-medium-and-small) {
    display: block;
    overflow-y: auto;

    & thead {
      display: none;
    }

    & tbody,
    tr,
    td {
      display: block;
    }

    & tr {
      border-bottom: 1px solid $sba-gray-light;
    }

    & td {
      overflow: auto;
      border: none;
    }

    & .mobileHeader {
      float: left;
      font-weight: bold;
      margin-left: 2%;
      margin-right: 5%;
      width: 23%;
    }

    & .investorNameAndTitle {
      display: inline-block;
      width: 70%;
    }

    & .contactInfo {
      display: inline-block;
      min-width: 150px;
    }
  }

  @include grid-media($sba-grid-large) {
    & .mobileHeader {
      display: none;
    }

    & .nameAndAddressCol {
      width: 27vw !important;
    }

    & .nameAndAddressHead {
      width: 26.4vw !important;
    }

    & .activeSinceCol {
      width: 10vw !important;
    }

    & .activeSinceHead {
      width: 9.9vw !important;
    }

    & .contactInfoHead {
      width: 10vw !important;
    }

    & tbody,
    thead {
      display: block;
    }

    & tbody {
      overflow-x: hidden;
      overflow-y: auto;
    }

    & tbody td {
      width: 21% !important;
      padding: 10px;
      border: none;
    }

    & thead {
      display: block;
      width: 100%;
    }

    & thead tr {
      display: block;
      width: 100%;
    }

    & thead th {
      border: none;
      display: inline-block;
      padding: 10px;
      width: 20.5vw !important;
    }

    & tr {
      border-bottom: 1px solid $sba-gray-light;
    }
  }

  tr {
    text-align: left;
  }
}

.investorTitle {
  font-weight: bold;
}

.mapIcon {
  color: $sba-gray-dark;
  float: left;
  font-size: 26px !important;
  margin-top: 12px;
}

.addressContainer {
  display: inline-block;
  padding-left: 8px;
}

.phoneIcon {
  color: $sba-gray-dark;
  float: left;
  font-size: 24px !important;
  margin: 2px 6px 0 3px;
}

.paginator {
  text-align: right;
  margin: 15px 30px 30px 0;
}
