.buttonGroup {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
}

.section {
  margin-bottom: 50px;
}

@include grid-media($sba-grid-small) {
  .desktopFAQs {
    display: none;
  }

  .mobileFAQs {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@include grid-media($sba-grid-medium) {
  .mobileFAQs {
    display: none;
  }
}

// TODO: stopgap in removing the grid
.section h2 {
  padding-left: 30px;
}
