.section {
  margin-bottom: 50px;
}

.card {
  @include grid-column(12);
  text-align: center;
  padding: 3vw;
  border: 1px solid #c4c4c4;
  margin-bottom: 20px;
  img {
    margin-bottom: 10px;
    width: 25px;
  }
  hr {
    width: 40px;
    border-bottom: 2px solid #609f00;
    margin: 20px auto 25px;
  }
}

.CallToAction {
  text-align: center;
}

.ButtonGroup {
  @include grid-container;
}

@include grid-media($sba-grid-small) {
  .section h2,
  .section h5 {
    @include grid-column(6, $sba-grid-small);
  }
  .ButtonGroup button,
  .CallToAction {
    @include grid-column(6);
  }

  .ButtonGroup button:first-child {
    margin-bottom: 20px;
  }
}

@include grid-media($sba-grid-medium) {
  .section h2,
  .section h5 {
    @include grid-column(12);
  }
  .card {
    @include grid-column(4);
    min-height: 250px;
    height: 350px;
  }

  .ButtonGroup button {
    @include grid-column(3);
    @include grid-shift(3);
  }
}

@include grid-media($sba-grid-large) {
  .card {
    @include grid-column(4, $sba-grid-large);
    text-align: center;
    height: 350px;
    min-height: 320px;
    padding: 3vw;
    border: 1px solid #c4c4c4;
    margin-bottom: 20px;
  }
}
