.navMenu {
  position: fixed;
  z-index: 9999999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $sba-blue;
  display: block;

  @include grid-media($sba-grid-large) {
    display: none;
  }
}

.navMenuOpen {
  -webkit-animation: slideLeft 1s ease-out; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideLeft 1s ease-out; /* Firefox < 16 */
  -ms-animation: slideLeft 1s ease-out; /* Internet Explorer */
  -o-animation: slideLeft 1s ease-out; /* Opera < 12.1 */
  animation: slideLeft 1s ease-out;

  composes: navMenu;
  @keyframes slideLeft {
    from {
      margin-right: -4000px;
      margin-left: 2000px;
      opacity: 1;
    }
    to {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.navMenuClose {
  -webkit-animation: slideRight 1s ease-in forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideRight 1s ease-in forwards; /* Firefox < 16 */
  -ms-animation: slideRight 1s ease-in forwards; /* Internet Explorer */
  -o-animation: slideRight 1s ease-in forwards; /* Opera < 12.1 */
  animation: slideRight 1s ease-in forwards;

  composes: navMenu;
  @keyframes slideRight {
    0% {
      margin-right: 0;
      margin-left: 0;
    }
    99% {
      margin-right: -222.222rem;
      margin-left: 111.111rem;

      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.navHeader {
  position: relative;
  display: block;
  height: 3.889rem;
  cursor: pointer;
}

.navTitleContainer {
  position: absolute;
  top: 60%;
  left: 3.111rem;
  display: block;
  transform: translateY(-50%);
}

.navTitle {
  margin: 0;
  color: white;
}

.navLeftArrow {
  font-size: 1.667rem;
  font-weight: 700;
  position: absolute;
  top: 60%;
  left: 1.722rem;
  transform: translateY(-50%);
  color: white;
}

.navLink {
  display: block;
  border-bottom: 0.056rem solid rgba(white, 0.2);
  cursor: pointer;
  font-weight: 300;
  line-height: 1.6;
  padding: 0.556rem 1.944rem 0.556rem 1.667rem;
  position: relative;

  &:link,
  &:active,
  &:visited {
    color: white;
  }
}

.navTopLine {
  display: block;
  width: 100%;
  height: 0.056rem;
  margin: 0;
  margin-top: 1.111rem;
  background-color: rgba(255, 255, 255, 0.2);
}
