.navMenu {
  position: fixed;
  z-index: 9999999999 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $secondary-blue;
  display: block;

  @include grid-media($sba-grid-large) {
    display: none;
  }
}

.navMenuOpen {
  -webkit-animation: slideLeft 1s ease-out; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideLeft 1s ease-out; /* Firefox < 16 */
  -ms-animation: slideLeft 1s ease-out; /* Internet Explorer */
  -o-animation: slideLeft 1s ease-out; /* Opera < 12.1 */
  animation: slideLeft 1s ease-out;

  composes: navMenu;
  @keyframes slideLeft {
    from {
      margin-right: -4000px;
      margin-left: 2000px;

      opacity: 1;
    }
    to {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.navMenuClose {
  -webkit-animation: slideRight 1s ease-in forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideRight 1s ease-in forwards; /* Firefox < 16 */
  -ms-animation: slideRight 1s ease-in forwards; /* Internet Explorer */
  -o-animation: slideRight 1s ease-in forwards; /* Opera < 12.1 */
  animation: slideRight 1s ease-in forwards;

  composes: navMenu;
  @keyframes slideRight {
    0% {
      margin-right: 0;
      margin-left: 0;
    }
    99% {
      margin-right: -4000px;
      margin-left: 2000px;

      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.navHeader {
  position: relative;

  display: block;

  height: 70px;
}

.navTitleContainer {
  position: absolute;
  top: 50%;
  left: 100px;

  display: block;

  transform: translateY(-50%);
}

.navLargeTitle {
  font-size: 34px;
  font-weight: 900;

  margin: 0;

  text-transform: uppercase;

  color: $secondary-black-ish;
  color: white;
}

.navSmallTitle {
  font-size: 20px;
  font-weight: bold;

  margin: 0;

  text-transform: uppercase;

  color: $secondary-black-ish;
  color: white;
}

.navIcon {
  position: absolute;
  top: 50%;
  left: 50px;

  width: 40px;
  height: 40px;

  transform: translateY(-50%);
}

// .navRightArrow {
//   @include grid-media($sba-grid-small){
//     display: none !important;
//   }
//   @include grid-media($sba-grid-medium){
//     display: block !important;
//     font-size: 30px !important;
//     line-height: 30px !important;
//     color: white;
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     right: 20px;
//   }
// }

.navLeftArrow {
  font-size: 30px !important;
  line-height: 30px !important;

  position: absolute;
  top: 50%;
  left: 20px;

  transform: translateY(-50%);

  color: white;
}

.navLinkContainer {
  position: relative;
  z-index: 9999 !important;
  padding: 10px 81px 10px 48px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.navLink {
  font-size: 18px !important;
  font-weight: 300 !important;

  text-decoration: none !important;

  color: white !important;
}

.navTopLine {
  display: block;

  width: 100%;
  height: 1px;
  margin: 0;
  margin-top: 20px;

  background-color: rgba(255, 255, 255, 0.5);
}
