@include theme(sba-blue, '.SmallPrimaryFormButton', $sba-blue, #fff, $sba-blue);
@include theme(byzantine, '.SmallPrimaryFormButton', $byzantine, #fff, $byzantine);
@include theme(money-green, '.SmallPrimaryFormButton', $money-green, #fff, $money-green);
@include theme(cobalt-blue, '.SmallPrimaryFormButton', $cobalt-blue, #fff, $cobalt-blue);

@include theme-hover(sba-blue, '.SmallPrimaryFormButton', $sba-blue-dark, #fff, $sba-blue-dark);
@include theme-hover(byzantine, '.SmallPrimaryFormButton', $byzantine-dark, #fff, $byzantine-dark);
@include theme-hover(money-green, '.SmallPrimaryFormButton', $money-green-dark, #fff, $money-green-dark);
@include theme-hover(cobalt-blue, '.SmallPrimaryFormButton', $cobalt-blue-dark, #fff, $cobalt-blue-dark);

.SmallPrimaryFormButton {
  font-size: 1.2em;
  font-weight: 700;
  padding: 0.75em 0;
  width: 52.5%;
}
