.textInput {
  margin-bottom: 20px;
}

.container {
  position: relative;
}

@mixin placeholder {
  display:inline-block;
  padding-right: 4px;  
  color: $sba-gray-dark;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  text-align: right;
}

input.input {
  margin-bottom: 4px;

  &::-webkit-input-placeholder {
    @include placeholder;
  }

  &::-moz-placeholder {
    @include placeholder;
  }

  &:-ms-input-placeholder {
    @include placeholder;
  }

  &:-moz-placeholder {
    @include placeholder;
  }
}

input.invalid {
  border: 2px solid $sba-red-light;

  &:hover {
    border-color: $sba-red-light;
  }
}

.searchIconPadding {
  padding-right: 40px;
}

.searchIcon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.helperText {
  font-size: 14px;
  color: #686868;
  margin: 0 0 10px;
}
