//lendermatch FORM INPUTS

//COMMON INPUT STYLES

.inputContainer {
  margin-bottom: 20px !important;
}

//TEXT INPUT
.textInputContainer {
  position: relative;
  margin-bottom: 0px !important;
}

.textInput {
  margin-bottom: 0px !important;
}

.textInputInvalid {
  composes: textInput;
  border: 1px solid $error !important;
  box-shadow: inset 0px 0px 0px 1px $error !important;
}

.searchBar input {
  height: 40px;
  display: inline;
  border-radius: 5px;
  border-color: $grey-light;
  width: 12vw;
}

.searchBar a {
  position: absolute;
  right: 0.5vw;
  top: 12px;
}

.searchIconPadding {
  padding-right: 40px !important;
}

.searchIcon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
