.radioItem {
  padding: 5px;
  margin-top: 10px;
  height: 2.8vw;
  min-height: 48px;
  background-color: white;
}

.radioItemSelected {
  border: 1px solid black;
}

.radioItemNotSelected {
  border: 1px solid #cccccc;
}

.regularRadio {
  display: none !important;
}

.regularRadio + label {
  background-color: #ffffff;
  border: 2px solid #c4c4c4;
  border-radius: 50px;
  display: inline-block;
  padding: 9px;
  position: relative;
  margin-top: 8px;
  margin-left: 10px;
}

.regularRadio + label:before {
  background: none repeat scroll 0 0 #fdfdfd;
  border-radius: 50px;
  content: ' ';
}

.regularRadio:checked + label:after {
  background: none repeat scroll 0 0 $money-green;
  border-radius: 50px;
  content: ' ';
  font-size: 36px;
  height: 14px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 14px;
}

.regularRadio:checked + label {
  background-color: #ffffff;
  color: #99a1a7;
  padding: 9px;
}

.radioText {
  margin-left: 17px;
  position: relative;
  top: -11px;
}

.defaultRadioText {
  font-size: 1.2rem !important;
  font-weight: normal !important;
}

.radioItem:focus {
  outline: none;
  box-shadow: none;
}
