.titleMarginBottom {
  margin-bottom: 28px;
}

.title {
  @include for-large-up {
    width: 66.666%;
  }
}

.dates {
  font-family: Merriweather;

  color: $sba-gray-dark;

  h5 {
    margin-bottom: 20px;
  }
}

.meta {
  margin-bottom: 46px;
}

.hr {
  margin-bottom: 50px;
  border: 1px solid $sba-gray-light;
}

.summaryContainer {
  // download button
  @include for-small-and-medium-only {
    div[class~='column']:first-child {
      margin-bottom: 30px;
    }
  }

  @include for-large-up {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 30px;

    div[class~='column']:last-child {
      // Reverse the visual order of the columns
      grid-column: 1;
      grid-row: 1;
      // This is for the summary column
      padding-right: 30px;
      margin-bottom: 6px;
    }

    h5 {
      margin-bottom: 0;
    }
  }
}

.dash {
  @include for-small-and-medium-only {
    margin-bottom: 30px;
  }

  @include for-large-up {
    margin-bottom: 40px;
  }
}

.body {
  @include for-small-and-medium-only {
    margin-bottom: 50px;
  }

  @include for-large-up {
    width: 66.666%;
    margin-bottom: 50px;
  }
}

.dash {
  margin-top: 0;
}

.relatedProgramsContainer {
  hr:first-child {
    margin-bottom: 4px;
    border: 1px solid $sba-gray-light;
  }
}

.relatedPrograms {
  font-weight: bold;
}

.noncompliant {
  border: 1px solid $sba-red;
  padding: 20px;

  @include for-small-and-medium-only {
    margin-bottom: 30px;
  }

  @include for-large-up {
    margin-bottom: 40px;
  }
}

.languages {
  ul {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin-bottom: 20px;
    li {
      margin-bottom: 10px;
    }
  }

  @include for-medium-only {
    h3 {
      margin-right: 20px;
    }
    ul {
      width: 16%;
    }
  }

  @include for-medium-up {
    display: flex;
    ul {
      width: 16%;
      padding-right: 10px;
    }
  }

  @include for-large-up {
    h3 {
      width: 16%;
    }
  }
}

.list {
  margin-top: 20px;
  h4 {
    color: $sba-blue-dark;
    margin-left: 20px;
  }
  p {
    margin: 0;
  }
  ul {
    border-top: 1px solid #c5c5c5;
    li {
      border-bottom: 1px solid #c5c5c5;
      padding: 20px;

      &.button {
        cursor: pointer;

        &:hover,
        &:focus {
          > p {
            color: #057dbc;
          }

          a {
            color: #58acef;
          }
        }
      }

      &:focus {
        outline: 2px dotted #c5c5c5;
        outline-offset: 3px;
      }

      > p {
        color: $sba-blue;
        font-weight: bold;
        text-decoration: underline;
      }
      .colB {
        i {
          margin-left: 10px;
        }

        strong:first-child {
          margin-left: 0;
        }
      }
      .title {
        text-decoration: underline;
      }
      .clear {
        clear: both;
      }
    }

    li[lang='ar'] {
      direction: rtl;
      text-align: right;
    }
  }

  @include for-medium-up {
    ul li {
      min-height: 100px;
      .colA {
        display: inline-block;
        width: 80%;
      }
      .colB {
        float: right;
      }

      &[lang='ar'] .colB {
        float: left;
      }
    }
  }
}
