.titleMarginBottom {
  margin-bottom: 28px;
}

.title {
  @include for-large-up {
    width: 66.666%;
  }
}

.dates {
  font-family: Merriweather;

  color: $sba-gray-dark;

  h5 {
    margin-bottom: 20px;
  }
  // @include grid-media($sba-grid-medium-and-small) {
  //   @include grid-column(4, $mobile-0gutter);
  //   & .dateSeperator {
  //     display: none;
  //   }
  //   & .date {
  //     display: block;
  //   }
  // }
  // @include grid-media($sba-grid-large) {
  //   @include grid-column(8, $desktop-0gutter);
  //   & div {
  //     display: none;
  //   }
  // }
}

.office {
  margin-bottom: 46px;
  // @include grid-media($sba-grid-medium-and-small) {
  //   @include grid-column(4, $mobile-0gutter);
  // }
  // @include grid-media($sba-grid-large) {
  //   @include grid-column(8, $desktop-0gutter);
  // }
}

.hr {
  margin-bottom: 50px;
  border: 1px solid $sba-gray-light;
  // margin-bottom: 32px;
  // margin-top: 42px;

  // @include grid-media($sba-grid-medium-and-small) {
  //   @include grid-column(6, $mobile-0gutter);
  // }
  // @include grid-media($sba-grid-large) {
  //   @include grid-column(12, $desktop-0gutter);
  // }
}

.summaryContainer {
  // download button
  @include for-small-and-medium-only {
    div[class~='column']:first-child {
      margin-bottom: 30px;
    }
  }

  @include for-large-up {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 30px;

    div[class~='column']:last-child {
      // Reverse the visual order of the columns
      grid-column: 1;
      grid-row: 1;
      // This is for the summary column
      padding-right: 30px;
      margin-bottom: 6px;
    }

    h5 {
      margin-bottom: 0;
    }
  }
}

.dash {
  @include for-small-and-medium-only {
    margin-bottom: 30px;
  }

  @include for-large-up {
    margin-bottom: 40px;
  }
}

.body {
  @include for-small-and-medium-only {
    margin-bottom: 50px;
  }

  @include for-large-up {
    width: 66.666%;
    margin-bottom: 50px;
  }
}

.dash {
  margin-top: 0;
}

.relatedProgramsContainer {
  hr:first-child {
    margin-bottom: 4px;
    border: 1px solid $sba-gray-light;
  }
}

.relatedPrograms {
  font-weight: bold;
}
