.errorPage {
  @include padded-container;

  background-color: $sba-blue;
  padding-bottom: 155px;
  padding-top: 140px;
}

.container {
  @include for-small-only {
    img {
      margin-bottom: 30px;
    }
  }

  @include for-medium-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    align-items: center;
  }
}

.content {
  a {
    color: white;
  }

  form {
    display: flex;

    .inputContainer {
      flex: 1;
      position: relative;

      i {
        color: $sba-gray;
        font-size: 22px;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(calc(-50% - 6px));
      }
    }

    .buttonContainer {
      flex: 0;
      white-space: nowrap;
    }
  }

  h3 {
    margin-bottom: 50px;
  }

  h1,
  h2,
  h3 {
    color: white;
    // TODO: The font-weights in the codebase may need to be reworked.
    font-weight: 400;
  }

  hr {
    @include margin(30px null);
  }

  button {
    // vertically align (manually) button with input
    transform: translateY(7px);
  }

  input {
    font-size: 22px;
    padding: 13px;
  }
}

.darkness {
  @include for-large-up {
    // 9 columns
    width: calc(75% - 30px);
  }
}
