.container {
  margin-top: 100px;
  background-color: white;
  margin-bottom: 200px;
  @include grid-media($sba-grid-small) {
    @include grid-column(6);
  }
  @include grid-media($sba-grid-medium) {
    @include grid-column(12);
  }
}
