.btn:focus,.btn:active {
    outline: none !important;
    background: none;
}

.findCounselorsBtn {
    background: #333333;
    color: white;
    border: 1px solid #333333;
    border-radius: 0;
    composes: btn;
}

.findCounselorsBtn:hover {
    background: white;
    border: 1px solid #333333;
}

.findLendersBtn {
    background: #333333;
    color: white;
    border: 1px solid #333333;
    border-radius: 0;
    composes: btn;
}

.findLendersBtn:hover {
    background: white;
    border: 1px solid #333333;
}

.helpBtn {
    background: white;
    border: 1px solid #333333;
    color: #333333;
    border-radius: 0;
    composes: btn;
}

.helpBtn:hover {
    background:  #333333;
    border: 1px solid #333333;
    color: white;

}