.btn {
    border-radius: 0;
    font-family: "Source Sans Pro";
}

.btn:focus,
.btn:active {
    outline: none !important;
}

.findCounselorsBtn {
    background: #333333;
    color: white;
    border: 1px solid #333333;
    border-radius: 0;
    composes: btn;
}

.findCounselorsBtn:hover {
    background: white;
    color: black;
    border: 1px solid #333333;
}

.findLendersBtn {
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 23px;
    padding: 12px;
    color: #FFFFFF;
    background-color: #609F00;
    border: 2px solid #609F00;
    border-color: #609F00;
    composes: btn;
}

.findLendersBtn:hover {
    background: white;
    color: #609F00;
    border-color: #609F00;
}

.helpBtn {
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 23px;
    padding: 12px;
    color: #609F00;
    border: 2px solid #609F00;
    border-color: #609F00;
    border-radius: 0;
    composes: btn;
}

.helpBtn:hover {
    color: #FFFFFF;
    background-color: #609F00;
    border-color: #609F00;
}

//BUTTONS FOR HOME PAGE
.homeBtnBlue {
    composes: btn;
    background-color: #0093DF !important;
    font-family: "Source Sans Pro" !important;
    text-align: center !important;
    color: #FFFFFF !important;
    border: none !important;
}

.homeBtnBlue:hover {
    background-color: #006BA2 !important;
    color: #FFFFFF !important;
}

.homeBtnBlue:active {
    background-color: #004265 !important;
    color: #FFFFFF !important;
}

.homeBtnWhite {
    composes: btn;
    background-color: #FFFFFF !important;
    font-family: "Source Sans Pro" !important;
    text-align: center !important;
    color: #0B97DD !important;
    border: none !important;
}

.homeBtnWhite:hover {
    background-color: rgba(255, 255, 255, 0.8) !important;
    color: #0B97DD !important;
}

.homeBtnWhite:active {
    background-color: rgba(255, 255, 255, 0.6) !important;
    color: #0B97DD !important;
}
