@media screen and (min-width:768px) {
  .footer {
    background-color: #E8E8E8;
    padding-top: 3.68vw;

  }

  .linkSectionContainer {
    border-bottom: 1px solid #979797;
    padding: 0;
    margin-left: 10.48vw;
    margin-right: 10.48vw;
  }

  .linkSubject {
    padding-left: 0;
    padding-right: 2.08vw;
    padding-bottom: 4.16vw;
  }

  .linkSubjectLast {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 4.16vw;
  }

  .footer ul {
    list-style: none;
    padding-left: 0;
  }

  .footer ul li {
    padding-top: 1.25vw;
  }

  .footer a {
    color: #333333;
    text-decoration: none;
    font-size: 1.11vw;
    line-height: 1.25vw;
  }

  .footer h4 {
    color: #333333;
    font-size: 1.25vw;
    font-weight: bold;
    line-height: 1.875vw;
  }

  .bottom {
    padding-top: 17px;
    padding-bottom: 3.88vw;
    margin-left: 10.48vw;
    margin-right: 10.48vw;
    padding-left: 0;
    padding-right: 0;
  }

  .social {
    padding: 0;
    margin: 0;
  }

  .social div {
    padding: 0;
    width: 2.08vw;
    height: 2.08vw;
    margin-right: 0.69vw;
  }

  .social div a img {
    padding: 0;
    width: 2.08vw;
    height: 2.08vw;
  }

  .address {
    padding: 0;
  }

  .address div {
    font-size: 1.11vw;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width:768px) {
  .footer{
    background-color: #E8E8E8;
  }

  .smallLinks {
  }

  .smallLinks a {
    font-size: 4.26vw;
    padding-top: 8vw;
    text-decoration: none;
    color: #333333;
    margin-left: 0px;
    padding-left: 1.86vw;
  }

  .smallLinks a:hover{
    color: #333333;
    text-decoration: none;
  }

  .socialSmall {
    padding-top: 5.33vw;
    padding-bottom: 0;
    margin: 0;
    padding-left: 12vw;
    margin-left: -15px;
    margin-right: -15px;
  }

  .socialSmall div {
    padding: 0;
    padding-bottom: 5.33vw;
    width: 12vw;
    margin-right: 4vw;
    float: left;

  }

  .socialSmall div a img {
    padding: 0;
    width: 12vw;
    height: 12vw;
  }

  .smallBottomBorder {
    border-bottom: 0.533vw solid #979797;
    width: 90.66vw;
    //margin-left: -15px;
    margin-left: 1.33vw;
    //margin-right: auto;
  }

  .addressSmall {
    padding-top: 5.06vw;
    padding-bottom: 8vw;
    color: #333333;
  }

  .addressSmall div {
    padding: 0;
    font-size: 4.26vw;
    color: #333333;
  }

  .addressSmall div:last-of-type{
    padding-top: 1.6vw;
  }
}