.footer {
  background-color: #E8E8E8;
  padding-top: 50px;

}

.linkSectionContainer{
  border-bottom: 1px solid #979797;
  padding: 0;
  margin-left: 150px;
  margin-right: 150px;
}

.linkSubject {
  padding-left: 0px;
  padding-right: 30px;
  padding-bottom: 60px;
}

.linkSubjectLast {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 60px;
}


.footer ul {
  list-style: none;
  padding-left: 0px;
}

.footer ul li {
  padding-top: 10px;
}

.footer a {
  color: #333333;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
}

.footer h4{
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
}

.bottom {
  padding-top: 30px;
  padding-bottom: 70px;
  margin-left: 150px;
  margin-right: 150px;
  padding-left: 0;
  padding-right: 0;
}

.social{
  padding: 0;
  margin: 0;
}

.social div{
  padding: 0;
  padding-right: 35px;
}

.social div a img{
  padding: 0;
  width: 30px;
  height: 30px;
}

.address {
  padding: 0;
}

.address div{
  font-size: 16px;
  padding: 0;
  margin: 0;
}


.smallLinks a{
  font-size: 16px;
  padding-bottom: 20px;
  text-decoration: none;
}

.socialSmall{
  padding-top: 20px;
  padding-bottom: 0;
  margin: 0;
}

.socialSmall div{
  padding: 0;
  padding-bottom: 25px;

}

.socialSmall div a img{
  padding: 0;
  width: 45px;
  height: 45px;
}

.smallBottomBorder{
  border-bottom: 1px solid #979797;
}

.addressSmall{
  padding-top: 25px;
  padding-bottom: 30px;
}

.addressSmall div {
  padding: 0;
  font-size: 16px;
}