// Variables
$sba-blue: #0B97DD;
$byzantine: #AB3EA0;
$money-green: #609F00;
$cobalt-blue: #0F48AA;
$sba-blue-dark: #006BA2;
$byzantine-dark: #7E2E76;
$money-green-dark: #336200;
$cobalt-blue-dark: #0A3072;
