.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.dropdownMenu {
  border-top: 5px solid $sba-blue;
  box-shadow: 0.111rem 0.111rem 0.222rem 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  left: -36%;
  background-color: white;
  width: 136%;
  padding: 3.333rem 2.778rem;
  z-index: 10000000000;
  display: flex;
  flex-flow: column wrap;
  top: 2.278rem;
}

.one {
  height: 35.556rem;
}

.two {
  height: 25rem;
  width: auto;
  left: 10%;
}

.twoWithFeaturedCallout {
  height: 29.444rem;
}

.three {
  height: 28.333rem;
}

.five {
  height: 36.111rem;
}

.six {
  height: 36.556rem;
}

.skipLink {
  pointer-events: none;
  height: 0;
  position: absolute;
  top: 0;
  a:focus {
    color: $sba-blue;
  }
}

.featuredCallout {
  width: 351px;

  img {
    width: 100%;
  }

  p {
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0;
  }
}

// TODO: Refactor (when we refactor the menu) to not use such specific measurements.
.callToAction {
  border: 2px solid $sba-blue;
  bottom: 3.333rem;
  left: 4%;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 92%;

  h6 {
    display: inline;
    margin-right: 30px;
  }
}
