$x-padding: 50px;
$y-padding: 60px;

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.dropdownMenu {
  background-color: white;
  border-top: 5px solid $sba-blue;
  box-shadow: $box-shadow;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 10000000000;
}

.columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 680px;
  padding: $y-padding $x-padding;
  width: $breakpoint-large - $x-padding;
}

.skipLink {
  left: $x-padding;
  pointer-events: none;
  position: absolute;
  top: 5px;

  a:focus {
    color: $sba-blue;
  }
}

.featuredCallout {
  width: 351px;

  img {
    width: 100%;
  }

  p {
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.callToAction {
  border: 2px solid $sba-blue;
  margin: (10px - $x-padding) 40px 40px 40px;
  padding: 10px;
  text-align: center;

  h6 {
    display: inline;
    margin-right: 30px;
  }
}
