.question {
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.GreenButton {
  margin-right: 30px;
}

.GreenButton,
.RedButton {
  padding-left: 30px;
  padding-right: 30px;
}

.QuestionContainer {
  text-align: center;
}

.InputContainer {
  text-align: center;
}

.InputContainer button {
  float: right;
}

.ThankYouContainer {
  text-align: center;
}

.checkIcon {
  color: $secondary-green;
  font-size: 1.8rem;
}

.thanksAgain {
  margin-left: 10px;
  display: inline;
}

.maidenNameContainer {
  display: none;
}
