.container {
  border-top: 3px solid $sba-blue;
  background-color: white;
  box-shadow: $box-shadow;
  margin-bottom: 3em;
  padding: 40px 30px;
  text-align: center;

  i {
    color: $secondary-green;
    margin-right: $small-spacing;
    vertical-align: middle;

    + h4 {
      display: inline;
      vertical-align: middle;
    }
  }

  p {
    margin: 0.5em;
  }

  textarea {
    margin-bottom: 20px;
  }
}

.firstThankYou {
  margin-bottom: 0;
}

.question {
  margin-bottom: 28px;
}

.otherFeedbackContainer {
  display: none;
}
