$wrapper-tablet-height: 55px;
$wrapper-mobile-height: 113px;
$mobile-nav-height: 53px;

.wrapper {
  position: static;
  width:100%;
  z-index: 1000000000;
  // top: 0;
  // left: 0;
  @include grid-media($tablet-nav) {
  position: fixed;
  top: 0;
  left: 0;
  }
  @include grid-media($mobile-nav) {
  position: fixed;
  top: 0;
  left: 0;
  }
}

.wrapper:after {
  content: '';
  display: block;

}

.alert {
  top:0;
  width:100%;
  background-color: #FFC63D;
  color:#333333;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 11px 0;
  @include grid-media($sba-grid-small) {
    margin: 0 auto;
    display: block;
    padding: 11px 60px;
  }
}

.alert .alertIcon {
  font-size: 16px;
  color: #333333;
  @include grid-media($sba-grid-small) {
    display: none;
  }
}

.alert .disasterDescription {
  color:#333333;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin: 0 15px;
  @include grid-media($sba-grid-small) {
    margin: 0 15px 10px;
  }
}

.alert .alertButton {
  position: relative;
  text-align: center;
  border: 2px solid #333333;
  padding: 5px 12px;
  text-decoration: none;
  color: #333333;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.6px;
  display: inline-block;

  &:hover,
  &:focus{
    background: #333;
    color: #FFC63D;
  }
}

.alert .alertClose {
  opacity: .6;
  position: absolute;
  right: 20px;
  display: inline-block;
  cursor: pointer;
  z-index: 10000;
  width: 20px;
  height: 20px;
}
