@media screen and (min-width: 768px) {
    /*TOP MINI NAV BAR*/
    .miniNavNew {
        position: absolute;
        height: 2.1vw;
        top: 3.5vw;
        right: 0;
    }

    .miniNavLinkNew {
        color: #757575;
        font-size: 1vw;
        line-height: 0;
        margin-left: 1.25vw;
        margin-top: 0.5vw;
        text-decoration: none !important;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .miniNavLinkNew:hover {
        color: #333;
    }

    .searchIconNew {
        cursor: pointer;
        color: #757575;
        font-size: 1.2vw;
        line-height: 1.4vw;
        margin-left: 1.1vw;
        margin-top: 5px;
        text-decoration: none;
    }

    #searchBarNew {
        margin-left: 1.1vw;
        display: inline;
    }

    #searchInputNew {
        margin-right: 11px;
        -webkit-appearance: textfield;
        width: 20vw;
    }

    .loggedInUser{
        display: inline-block;
    }

    .googleTranslateElement {
        display: inline-block;
        height: 2.2vw;
        visibility: hidden;
    }

    .googleTranslateElementVisible {
        display: inline-block;
        height: 2.2vw;
        visibility: visible;
    }

    .searchIconNew:hover {
        color: #333;
    }
}
