@media screen and (max-width:767px) {

    .mobileMainHeaderNew {
        height: 16vw;
        box-shadow: 0 0.266vw 0 0 #EBEBEB;
        background-color: #ffffff;
    }

    .logoNew {
        height: 9.6vw;
        width: auto;
        margin-left: 5.33vw;
        margin-top: 3.2vw;
    }

    .menuBtnNew {
        float: right;
        margin-top: 3.5vw;
        margin-right: 2vw;
        width: 22.934vw;
        height: 8.534vw;
        font-size: 3.2vw;
        line-height: 9.6vw;
        text-decoration: none;
        font-weight: bold;
    }

    .sba-blue .menuBtnNew {
        color: $sba-blue;
        border: 0.533vw solid $sba-blue;
    }
    .byzantine .menuBtnNew {
        color: $byzantine;
        border: 0.533vw solid $byzantine;
    }
    .money-green .menuBtnNew {
        color: $money-green;
        border: 0.533vw solid $money-green;
    }
    .cobalt-blue .menuBtnNew {
        color: $cobalt-blue;
        border: 0.533vw solid $cobalt-blue;
    }


    .mobile-search-new{
        width: 100%;
    }

    .mainNavNew {
        width: 100%;
        display: none;
        background-color: #ffffff;
        overflow: auto;
    }

    .mainNavNewShow{
        display: inherit;
    }

    .mobileSearchContainerNew {
        background-color: #EBEBEB;
        height: 16vw;
        margin-bottom: 0;
        position: relative;
    }

    .searchIconContainerNew {
        position: absolute;
        height: 4vw;
        width: 4vw;
        top: 5.9vw;
        left: 8vw;
        z-index: 1;
    }

    .searchIconNew {
        height: 4vw;
        width: auto;
    }

    .searchInputFieldNew {
        position: absolute;
        margin-top: 2.93vw;
        height: 10.13vw;
        margin-left: 5.33vw;
        width: 89.33vw;
        font-size: 3.73vw;
        line-height: 4.8vw;
        color: #666666;
        text-indent: 7.466vw;
        border: 0.266vw solid #C4C4C4;
    }

    .mainNavNew div a {
        font-size: 4.8vw;
        border-bottom: 0.266vw solid #DBDBDB;
        padding-left: 12.8vw;
        margin-left: 0;
        text-decoration: none;
        display: block;
        height: 16vw;
        line-height: 16vw;
        font-family: "Source Sans Pro" ;
    }

    .navLinkNew {
        font-weight: bold;
    }

    .sba-blue .navLinkNew {
        color: $sba-blue;
    }
    .byzantine .navLinkNew {
        color: $byzantine;
    }
    .money-green .navLinkNew {
        color: $money-green;
    }
    .cobalt-blue .navLinkNew {
        color: $cobalt-blue;
    }

    .navLinkSpecialNew{
        color: #666666 ;
    }

    .navLinkNearIconNew{
        margin-right: 4vw;
        height: 4.8vw;
        width: auto;
        vertical-align: middle;
        padding-left: .6vw;
        margin-top: -1.3vw;
    }

    .navLinkCalendarIconNew{
        margin-right: 3.2vw;
        height: 4.8vw;
        width: auto;
        vertical-align: middle;
        margin-top: -1.3vw;
    }
}
