$diameter: 126px;

.container {
  height: $diameter;
  position: relative;
  width: $diameter;
}

.logo {
  height: 68px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader,
.loader:after {
  border-radius: 50%;
  height: $diameter;
  width: $diameter;
}

@mixin loader-border($side, $color: $sba-gray-lighter) {
  border-#{$side}: 11px solid $color;
}

.loader {
  animation: spin 1.1s infinite linear;
  font-size: 10px;
  position: absolute;
  text-indent: -9999em;
  transform: translateZ(0);

  @include loader-border('top') @include loader-border('right') @include loader-border('bottom') @include
    loader-border('left', $sba-red);
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
