.zipContainer {
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: row;

  @include grid-media($sba-grid-medium-and-small) {
    flex-direction: column;
  }
}

.field {
  height: 55px;
}

.label {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
  color: $sba-blue-dark;
}

.submit {
  margin: 6px 0 0 20px;
  font-size: 18px;
  padding-top: 19px;
  padding-bottom: 19px;

  @include grid-media($sba-grid-medium-and-small) {
    margin-top: 22px;
    margin-left: 0;
    width: 100%;
  }
}
