$boulder: #757575;

$iconColor: $boulder;

.icon {
  position: absolute;
  top: 10px;
  right: 16px;
  color: $iconColor !important;
  font-size: 16px;
}

.entryCode {
  margin-bottom: -4px;
  font-size: 12px;
  font-weight: 700;
}

.entryDescription {
  margin-bottom: 0;
}
