nav {
  width: 100%;
  background-color: #fff;
  z-index: 1;
  a {
    text-decoration: none;
  }
  @include grid-media($sba-grid-large) {
    height: 6.444rem;
  }
  @include grid-media($tablet-nav) {
    top: 0;
    position: fixed;
  }
  @include grid-media($mobile-nav) {
    top: 0;
    position: fixed;
  }
}

.alertIsActive nav {
  @media only screen and (max-width: 1079px) {
    top: 2.944rem;
  }

  @media only screen and (max-width: 767px) {
    top: 4.944rem;
  }

  @media only screen and (max-width: 506px) {
    top: 6.278rem;
  }

  @media only screen and (max-width: 335px) {
    top: 7.611rem;
  }

  @media only screen and (max-width: 305px) {
    top: 8.667rem;
  }
}

.mainContent {
  @include grid-media( $tablet-nav) {
    padding-top: 4.111rem;
  }
  @include grid-media( $mobile-nav) {
    padding-top: 3.611rem;
  }
}

.alertIsActive .mainContent {
  @media only screen and (max-width: 1079px) {
    padding-top: 7.056rem;
  }

  @media only screen and (max-width: 767px) {
    padding-top: 9.056rem;
  }

  @media only screen and (max-width: 506px) {
    padding-top: 10.389rem;
  }

  @media only screen and (max-width: 335px) {
    padding-top: 11.667rem;
  }

  @media only screen and (max-width: 305px) {
    padding-top: 12.778rem;
  }
}

.skipNav {
  background-color: transparent;
  color: transparent;
  padding: 0.5rem 0.5rem;
  position: absolute;
  transition: all 0.2s ease-in-out;
  z-index: 20;
  &:focus {
    background-color: $sba-gray-light;
    color: $sba-blue;
    transition: all 0.2s ease-in-out;
  }
}
