.readMoreSection {
  padding: 40px;
  margin-bottom: 40px;
  background-color: #EBEBEB;
  margin-left: 0.6em;
}

.readMoreSectionClosed {
  @include grid-push(7);
  @include grid-media($sba-grid-small) {
    display: none;
  }
}

.readMoreSectionExpanded {
  margin-left: 0 !important;
  @include grid-push(0);
  @include grid-media($sba-grid-small) {
    display: none;
  }
}

.readMoreSectionMobile{
  display: none;
  @include grid-media($sba-grid-small) {
    @include grid-shift(-0.25);
    margin-left: 0 !important;
    display:block;
  }
}

.lineCopy {
  box-sizing: border-box;
  height: 3px;
  width: 60px;
  border: 3px solid #AD32A3;
  text-align: left;
  @include grid-media($sba-grid-small) {
    width: 80px;
    text-align: left;
  }
}

.title{
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
}

.preview{
  color: #333333;
  font-size: 18px;
  font-style: italic;
  line-height: 27px;
}

.expandedCopyText{
  color: #333333;
  font-size: 18px;
  line-height: 27px;
}
