.readMoreSection {
  padding: 40px;
  margin-bottom: 40px;
  background-color: #EBEBEB;
}

.readMoreSectionClosed {
  @include grid-media($sba-grid-small) {
    display: none;
  }
  @include grid-media($sba-grid-medium){
    @include grid-column(12);
  }
  @include grid-media($sba-grid-large){
    @include grid-push(9);
    @include grid-column(3.07);
  }

}

.readMoreSectionExpanded {
  @include grid-media($sba-grid-small) {
    display: none;
  }
  @include grid-media($sba-grid-medium) {
    @include grid-column(12);
  }
  @include grid-media($sba-grid-large) {
    @include grid-column(8);
    @include grid-push(4);  
  }
}

.readMoreSectionMobile{
  display: none;
  @include grid-media($sba-grid-small) {
    @include grid-column(6, $sba-grid-small);
    display:block;
  }
}

.lineCopy {
  box-sizing: border-box;
  height: 3px;
  width: 60px;
  border: 3px solid;
  text-align: left;
  @include grid-media($sba-grid-small) {
    width: 80px;
    text-align: left;
  }
}

@include theme(sba-blue, '.lineCopy', $sba-blue, $sba-blue, $sba-blue);
@include theme(byzantine, '.lineCopy', $byzantine, $byzantine, $byzantine);
@include theme(money-green, '.lineCopy', $money-green, $money-green, $money-green);
@include theme(cobalt-blue, '.lineCopy', $cobalt-blue, $cobalt-blue, $cobalt-blue);

.title{
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
}

.preview{
  color: #333333;
  font-size: 18px;
  font-style: italic;
  line-height: 27px;
}

.expandedCopyText{
  color: #333333;
  font-size: 18px;
  line-height: 27px;
}

@include theme(sba-blue, '.readMore', #EBEBEB, $sba-blue,  null);
@include theme(byzantine, '.readMore', #EBEBEB, $byzantine,  null);
@include theme(money-green, '.readMore', #EBEBEB, $money-green,  null);
@include theme(cobalt-blue, '.readMore', #EBEBEB, $cobalt-blue,  null);

@include theme-hover(sba-blue, '.readMore', $sba-blue-dark, #fff, $sba-blue-dark);
@include theme-hover(byzantine, '.readMore', $byzantine-dark, #fff, $byzantine-dark);
@include theme-hover(money-green, '.readMore', $money-green-dark, #fff, $money-green-dark);
@include theme-hover(cobalt-blue, '.readMore', $cobalt-blue-dark, #fff, $cobalt-blue-dark);

@include small-button(".readMore");

@include grid-media( $sba-grid-small) {
  .readMore {
    width: 100%;
  }
  }
