.imageSection {
  @include grid-media($sba-grid-small) {
    margin: 0;
    margin-bottom: 0.8rem;
    text-align: center;
    width: 100%;
  }
}

.caption {
  font-style: italic;
  margin-bottom: 2.778rem;
  text-align: center;

  @include grid-media($sba-grid-small) {
    text-align: center;
  }
}
