.container {
}

.sectionHeader,
.textSection,
.image {
  @include grid-column(8, $sba-grid-large);
}

.sectionHeader {
	margin-top:25px;
}


.feedback,
.readMore,
.titleSection,
.previousNext,
.breadcrumb,
.callToAction,
.cardCollection,
.styleGrayBackground,
.childPageMenu {
  @include grid-column(12, $sba-grid-large);
}

.childPageMenu {
 	
 	margin: 0 20px 50px;

 	@include grid-media($sba-grid-small) {
 		margin: 10px 30px 50px;
  	}

}

.lookup {
	@include grid-column(12, $desktop-0gutter)
}

.previousVersionsList {
	li {
		margin-bottom: 5px;
	}

	strong {
		margin-right:10px;
	}

	i {
	    margin-left: 10px;
	}
}

.button {
	 @include grid-column(12, $sba-grid-large);
	 text-align: center;
}

.quickLinks {
	@include grid-column(12, $desktop-0gutter);
}

.searchBox {
	clear: both;
	margin: 20px;
}