.container {
}

.sectionHeader,
.textSection,
.image {
  @include grid-column(8, $sba-grid-large);
}

.sectionHeader {
	margin-top:25px;
}


.feedback,
.readMore,
.titleSection,
.previousNext,
.breadcrumb,
.callToAction,
.cardCollection,
.styleGrayBackground {
  @include grid-column(12, $sba-grid-large);
}

.lookup {
	@include grid-column(12, $desktop-0gutter)
}

.previousVersionsList {
	li {
		margin-bottom: 5px;
	}

	strong {
		margin-right:10px;
	}

	i {
	    margin-left: 10px;
	}
}

.button {
	 @include grid-column(12, $sba-grid-large);
	 text-align: center;
}

.quickLinks {
	@include grid-column(12, $desktop-0gutter);
}