.paginator {
  margin-top: 15px;
  float: right;
  margin: 30px 30px 50px 0;
  clear: both;

  @include grid-media($sba-grid-small) {
    margin-bottom: 60px;
  }
}

.container {
  text-align: center;

  @include grid-media($sba-grid-small) {
    padding: 20px;
    text-align: left;
  }
  @include grid-media($sba-grid-medium) {
    padding: 20px 30px 20px 30px;
  }
  @include grid-media($sba-grid-large) {
    padding: 20px 28px 15px 28px;
  }
}

.emptyDocuments {
  p {
    margin: 0 0 20px;
  }

  a {
    cursor: pointer;
  }
}
