.contactCard {
  .firstColumn {
    color: $sba-blue;
    padding-top: 5px;
    float: left;
  }
  .secondColumn {
    padding-top: 3px;
    padding-left: 30px;
    min-height: 35px;
  }
}

.box {
  border: 2px solid $sba-gray-lighter;
  padding: 30px;
}

.h4 {
  font-size: 1rem
}