.contactCard {
  border: 2px solid $sba-gray-lighter;
  padding: 30px;

  .firstColumn {
    color: $sba-blue;
    grid-column: 1;
    -ms-grid-column: 1;
    -ms-grid-row-align: center;
  }
  .secondColumn {
    grid-column: 2;
    -ms-grid-column: 2;
    -ms-grid-row-align: center;
  }
}

.row {
  align-items: center;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 28px 1fr;
  -ms-grid-columns: 28px 1fr;
}
