@font-face {
  font-family: 'Source Sans Pro';
  src: url('./regular/SourceSansPro-Regular.eot');
  src: url('./regular/SourceSansPro-Regular.eot#iefix') format('embedded-opentype'),
    url('./regular/SourceSansPro-Regular.woff2') format('woff2'),
    url('./regular/SourceSansPro-Regular.woff') format('woff'),
    url('./regular/SourceSansPro-Regular.ttf') format('truetype'),
    url('./regular/SourceSansPro-Regular.svg#SourceSansPro') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Source Sans Pro';
  src: url('./bold/SourceSansPro-Bold.eot');
  src: url('./bold/SourceSansPro-Bold.eot#iefix') format('embedded-opentype'),
    url('./bold/SourceSansPro-Bold.woff2') format('woff2'),
    url('./bold/SourceSansPro-Bold.woff') format('woff'),
    url('./bold/SourceSansPro-Bold.ttf') format('truetype'),
    url('./bold/SourceSansPro-Bold.svg#SourceSansPro') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'Source Sans Pro';
  src: url('./italic/SourceSansPro-italic.eot');
  src: url('./italic/SourceSansPro-italic.eot#iefix') format('embedded-opentype'),
  url('./italic/SourceSansPro-italic.woff2') format('woff2'),
  url('./italic/SourceSansPro-italic.woff') format('woff'),
  url('./italic/SourceSansPro-italic.ttf') format('truetype'),
  url('./italic/SourceSansPro-italic.svg#SourceSansPro') format('svg');
  font-weight: normal;
  font-style: italic;
}





body {
  font-family: "Source Sans Pro";
}