@font-face {
  font-family: 'Source Sans Pro';
  src: url('./Regular/SourceSansPro-Regular.eot');
  src: url('./Regular/SourceSansPro-Regular.eot#iefix') format('embedded-opentype'),
    url('./Regular/SourceSansPro-Regular.woff2') format('woff2'),
    url('./Regular/SourceSansPro-Regular.woff') format('woff'),
    url('./Regular/SourceSansPro-Regular.ttf') format('truetype'),
    url('./Regular/SourceSansPro-Regular.svg#SourceSansPro') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Source Sans Pro';
  src: url('./Bold/SourceSansPro-Bold.eot');
  src: url('./Bold/SourceSansPro-Bold.eot#iefix') format('embedded-opentype'),
    url('./Bold/SourceSansPro-Bold.woff2') format('woff2'),
    url('./Bold/SourceSansPro-Bold.woff') format('woff'),
    url('./Bold/SourceSansPro-Bold.ttf') format('truetype'),
    url('./Bold/SourceSansPro-Bold.svg#SourceSansPro') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'Source Sans Pro';
  src: url('./Italic/SourceSansPro-Italic.eot');
  src: url('./Italic/SourceSansPro-Italic.eot#iefix') format('embedded-opentype'),
  url('./Italic/SourceSansPro-Italic.woff2') format('woff2'),
  url('./Italic/SourceSansPro-Italic.woff') format('woff'),
  url('./Italic/SourceSansPro-Italic.ttf') format('truetype'),
  url('./Italic/SourceSansPro-Italic.svg#SourceSansPro') format('svg');
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: "Source Sans Pro";
}