.container {
  word-break: break-word;
  padding: 30px;

  h1 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 0;

    @include for-large-up {
      font-size: 36px;
    }
  }

  @include for-medium-up {
    width: 700px;
    margin: 0 auto;
  }
}
.to {
  margin-bottom: 20px;
}
.subject input {
  height: 48px;
}
.message {
  min-height: 200px;
}

.success,
.error {
  // border-bottom: 2px solid $sba-blue-dark;
  margin-bottom: 100px;
  text-align: center;

  p {
    margin-bottom: 9px;
    margin-top: 0;
  }

  :global(.fa) {
    font-size: 45px;
    margin-bottom: 15px;
  }
}

.success {
  :global(.fa) {
    color: $secondary-green;
  }
}

.error {
  :global(.fa) {
    color: $sba-red;
  }
}

.loaderContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 20vw;
}

.uploadFileError {
  color: $sba-red;
}
