@import "../buttons";
@import "../atoms/grid";
.section {
    width: 84vw;
    margin: 0 auto 90px;
    left: 1.4vw;
    position: relative;
    top: 30px;
    @include grid-container;
    .resource {
        @include grid-column(12);
        background: #EBEBEB;
        padding: 20px 30px 35px;
        margin-bottom: 20px;
        button {
            font-size: 13px;
            text-transform: uppercase;
            margin: 0 auto;
            padding: 8px 15px;
        }
    }
    // Mobile
    h1 {
        font-size: 34px;
        font-weight: 900;
        margin-bottom: 12px;
        text-align: center;
    }
    h4 {
        font-size: 21px;
        font-weight: 900;
        margin-bottom: 9px;
    }
    h5 {
        color: #666666;
        font-family: Merriweather;
        font-size: 16px;
        font-style: italic;
        margin-bottom: 32px;
        text-align: center;
    }
    p {
        font-size: 18px;
        margin-bottom: 17.6px;
    }
    hr {
        width: 35px;
        border-top: 2px solid #609F00;
        margin: 16px 0 25px;
        text-align: left;
    }
    a {
        color: #609F00;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    // Tablet
    @media (min-width: 768px) {
        h1 {
            font-size: 56px;
            margin-bottom: 18px;
            margin-top: 50px;
        }
        h4 {
            font-size: 21px;
            margin-bottom: 11px;
        }
        h5 {
            font-size: 18px;
            margin-bottom: 125px;
        }
        p {
            font-size: 18px;
            margin-bottom: 20px;
        }
        .resources {
            display: flex;
            width: 100%;
        }
        .resource {
            @include grid-column(4);
            margin-bottom: 0;
        }
    }
    // Desktop
    @media (min-width: 1080px) {
        h1 {
            font-size: 75px;
            margin-bottom: 30px;
            margin-top: 50px;
        }
        h4 {
            font-size: 24px;
            margin-bottom: 15px;
        }
        h5 {
            font-size: 24px;
            margin-bottom: 125px;
        }
        p {
            font-size: 18px;
            margin-bottom: 20px;
        }
        .resource {
            @include grid-column(4);
            margin-bottom: 0;
        }
    }
    h1,
    h5 {
        @include grid-column(12);
    }
}
