@import "../buttons";

.section {
  font-weight: lighter;
  background: #efefef;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.subTitle {
  margin-top:4px;
  font-size: 13px;
  font-weight:bold;
}

.subText {
  font-size: 13px;
}

.seeMoreBtn{
  composes: helpBtn;
  background: #efefef;
  width: 100%;
}