.courseContent {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.courseEmbed {
  position: relative;
  height: 64.25vw; /* 100/56.25 = 560/315 = 1.778 */

  iframe {
    display: block;
    width: 100%;
    height: 100%;
    background: $sba-gray-lighter;
    border: none;
  }
}

.courseOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $sba-gray-lighter;

  button,
  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150%;
    border: none;
  }
}

.transcriptBox {
  margin-top: 30px;
  background: $sba-gray-lighter;
  width: 100%;
  text-align: left;

  .button {
    background: $sba-gray-lighter;
  }
}
