$wrapper-tablet-height: 55px;
$wrapper-mobile-height: 113px;
$mobile-nav-height: 53px;

.wrapper {
  position: static;
  width: 100%;
  z-index: 10;
  @include grid-media($tablet-nav) {
    position: fixed;
    top: 0;
    left: 0;
  }
  @include grid-media($mobile-nav) {
    position: fixed;
    top: 0;
    left: 0;
  }
}

.wrapper:after {
  content: '';
  display: block;
}

.alert {
  top: 0;
  width: 100%;
  background-color: $secondary-yellow;
  color: $secondary-black-ish;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 11px 0;
  @include grid-media($sba-grid-small) {
    margin: 0 auto;
    display: block;
    padding: 11px 60px;
  }
}

.alert .alertIcon {
  font-size: 16px;
  color: $secondary-black-ish;
  @include grid-media($sba-grid-small) {
    display: none;
  }
}

.alert .disasterDescription {
  color: $secondary-black-ish;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin: 0 15px;
  @include grid-media($sba-grid-small) {
    margin: 0 15px 10px;
  }
}

.alert .alertLink {
  color: $secondary-black-ish;
  font-weight: 600;
}

img.alertClose {
  position: absolute;
  right: 20px;
  top: 15px;
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: auto;
}
