.alert {
  align-items: center;
  background-color: $secondary-yellow;
  color: $secondary-black-ish;
  display: grid;
  // TODO: The browser prefix will be handled by build tool later
  grid-template-columns: 1fr 6fr 1fr;
  -ms-grid-columns: 1fr 6fr 1fr;
  padding: 13px 23px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.description {
  text-align: center;

  h6 {
    display: inline;

    i {
      @include for-small-and-medium-only {
        display: none;
      }

      @include for-large-up {
        margin-right: $small-spacing;
      }
    }
  }

  @include for-small-and-medium-only {
    i {
      display: none;
    }
  }
}

.button {
  margin-left: $small-spacing;
  // TODO: Stop gap measure
  text-decoration: underline;
  white-space: nowrap;
}

.column {
  justify-self: end;
  -ms-grid-column-align: end;

  &:first-child {
    align-self: baseline;
    -ms-grid-row-align: baseline;
  }

  i {
    @include for-small-and-medium-only {
      margin-right: 15px;
    }
    @include for-large-up {
      display: none;
    }
  }
}
