.personPage {
  $margin-top: 18.5px;

  @include for-small-only {
    margin: $margin-top 20px 50px 20px;
  }

  @include for-medium-only {
    margin: $margin-top 30px 70px 30px;
  }

  @include for-large-up {
    margin: $margin-top 80px 60px 80px;
  }
}

.header {
  h1 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  h5 {
    margin-bottom: 10px;
  }

  @include for-small-only {
    margin-bottom: 30px;

    div[class~='contact-card'] {
      margin-top: 20px;
    }
  }

  @include for-medium-up {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 50px;
  }
}

.blogContainer {
  border-top: $sba-gray-light;
  border-top-style: solid;
  border-top-width: 1px;
}

.blogHeader {
  padding-top: 50px;
}

// basically a media object
.content {
  h5 {
    margin-bottom: 45px;
  }

  .officeName {
    margin-top: 45px;
  }

  @include for-small-only {
    .avatar {
      margin-bottom: 30px;
    }
  }

  @include for-medium-up {
    .avatar {
      align-self: start;
      width: 100%;
    }
  }
}

.hasPicture {
  @include for-medium-up {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 20px;
  }
}

.breadcrumb {
  border-bottom: 1px solid $sba-gray-light;
  border-top: 1px solid $sba-gray-light;
  margin-bottom: 50px;
  padding: 15px 0;

  @include for-small-only {
    display: none;
  }
}

.paginator {
  display: flex;
  justify-content: flex-end;
}

.topPaginator {
  padding: 10px 0 5px;
}

.bottomPaginator {
  padding-top: 30px;
  @include for-small-only {
    padding-top: 20px;
  }
  @include for-medium-only {
    padding-top: 30px;
  }
  @include for-large-up {
    padding-top: 30px;
  }
}
