.mobileHeaderOpen,
.mobileHeaderClosed {
  display: none;
  background-color: white;
  border: $sba-gray-light 0.889rem solid;
  height: 2.944rem;
  padding: 10px 1.111rem 3rem 1.111rem;
  @include grid-media($sba-grid-medium) {
    padding-bottom: 3.5rem;
  }
  @include grid-media( $tablet-nav) {
    display: block;
  }
  @include grid-media( $mobile-nav) {
    display: block;
  }
}

.mobileHeaderOpen {
  border-bottom: none;
}

.menuButtonOpen,
.menuButtonClosed {
  float: right;
  border: 0.111rem solid;
  width: 6.111rem;
  padding: 0.278rem 0.722rem 0.333rem 0.722rem;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.mainNavNew .mobileNavMenuLink {
  border-bottom: 0.111rem solid $sba-gray-light;
  display: block;
  padding: 1.389rem 2.778rem;
  font-size: 1rem;
}

.mobile-search-new {
  width: 100%;
}

.mainNavNew {
  // use base color
  border: $sba-gray-light 0.889rem solid;
  border-bottom: $sba-gray-light 1.333rem solid;
  border-top: hidden;
  width: 100%;
  display: none;
  background-color: white;
  overflow: auto;
}

.mainNavNewShow {
  display: inherit;
}

.mobileNavMenuLinks {
  overflow-y: scroll;
}

.mobileSearchContainerNew {
  // should use from base color
  background-color: $sba-gray-lighter;
  height: 3.333rem;
  padding: 0.556rem 0;
  position: relative;
  width: 100%;
}

.searchIconContainerNew {
  position: absolute;
  left: 88%;
  top: 33%;
  z-index: 1;
}

.searchIconNew {
  width: 0.833rem;
}

input.searchInputFieldNew {
  position: relative;
  height: 2.222rem;
  width: 85vw;
  font-size: 1rem;
  color: $sba-gray-dark;
  text-indent: 2%;
  border: 0.056rem solid $sba-gray-light;
  border-radius: 0;
  box-shadow: none;
  margin: 0 auto;
}

.linkIcon {
  height: 1rem;
  width: 0.944rem;
  vertical-align: middle;
  margin-top: -0.111rem;
  margin-right: 0.667rem;
}
