.solidBox {
  background-color: $byzantine;
  border-color: #fff;
  color: #fff;
  padding: 15px 50px 50px;
}

.sectionNum {
  @include font-size($h1-font-sizes);
  font-weight: 900;
  border-bottom: 4px solid;
}

.transparentBox .sectionNum {
  color: $byzantine;
}

h2.sectionTitle {
  @include font-size($h1-font-sizes);
}

