.footer{
  width:100%;
  float:left;
  padding: 30px 0;
  background-color: #E8E8E8;
  @include grid-container;
  a {
    text-decoration: none;
  }
}

.footerLinksGroup {
  @include grid-container;
}

.desktopFooterLinks {
  display: none;
  margin-bottom: 15px;
  @include grid-media( $sba-grid-large) {
    @include grid-column(2);
    display: block;
  }
}

.tabletFooterLinks {
  display: none;
  margin-bottom: 20px;
  @include grid-container;
  ul {
    @include grid-column(4, $sba-grid-medium);
  }
  @include grid-media( $tablet-nav) {
    display: block;
  }
}

.mobileFooterLinks {
  display: none;
  margin-bottom: 20px;
  @include grid-container;
  ul {
    @include grid-column(3, $sba-grid-small);
  }
  @include grid-media( $mobile-nav) {
    display: block;
  }
}

.footer hr {
  display: none;
  border-bottom: 1px solid #C4C4C4;
  &.desktopRule {
    @include grid-media( $sba-grid-medium) {
      display: inline-block;
      width: calc(100% - 60px);
      margin: 0 30px 20px 30px;
    }
  }
  &.mobileRule {
    @include grid-media( $sba-grid-small) {
      display: inline-block;
      width: calc(100% - 40px);
      margin: 0 20px 20px 20px;
    }
  }
}

.SocialMediaLinkSet {
  img {
    width: 35px;
    margin-right: 15px;
  }
  @include grid-media( $sba-grid-small) {
    max-width: 300px;
    margin: 0 auto 20px;
  }
  @include grid-media( $sba-grid-medium) {
    img {
      width: 25px;
      margin-right: 10px;
    }
    @include grid-column(4);
  }
}

.address {
  font-size: 16px;
  @include grid-media( $mobile-nav) {
    text-align: center;
    span {
      display: block;
    }
  }
  @include grid-media( $tablet-nav) {
    float: right;
    margin-right: 30px;
    .name {
      margin-right: 7px;
      padding-right: 6px;
      border-right: 1px solid #333;
    }
  }
  @include grid-media( $desktop-nav) {
    float: right;
    margin-right: 30px;
    .name {
      margin-right: 5px;
      padding-right: 5px;
      border-right: 2px solid #c4c4c4;
    }
  }
  // @include grid-media( $sba-grid-medium) {
  //   @include grid-column(9);
  // }
}

@include theme(sba-blue, '.footer li:first-child a', null, $base-font-color, null);
@include theme(byzantine, '.footer li:first-child a', null, $base-font-color, null);
@include theme(money-green, '.footer li:first-child a', null, $base-font-color, null);
@include theme(cobalt-blue, '.footer li:first-child a', null, $base-font-color, null);

@include theme-hover(sba-blue, '.footer li:first-child a', null, $base-font-color, null);
@include theme-hover(byzantine, '.footer li:first-child a', null, $base-font-color, null);
@include theme-hover(money-green, '.footer li:first-child a', null, $base-font-color, null);
@include theme-hover(cobalt-blue, '.footer li:first-child a', null, $base-font-color, null);
