.footer {
  height: 2px;
  width: 100%;
  float: left;
  padding: 30px 0;
  border-top: 1px solid #c5c5c5;
  @include grid-container;
  a {
    text-decoration: none;
  }
}

.footer::after {
  padding-bottom: 18px;
}

.footerLinksGroup {
  @include grid-container;
}

.desktopFooterLinks {
  display: none;
  margin-bottom: 15px;
  @include grid-media( $sba-grid-large) {
    @include grid-column(2);
    display: block;
  }
}

.tabletFooterLinks {
  display: none;
  margin-bottom: 20px;
  @include grid-container;
  ul {
    @include grid-column(4, $sba-grid-medium);
  }
  @include grid-media( $tablet-nav) {
    display: block;
  }
}

.mobileFooterLinks {
  display: none;
  margin-bottom: 20px;
  @include grid-container;
  ul {
    @include grid-column(3, $sba-grid-small);
  }
  @include grid-media( $mobile-nav) {
    display: block;
  }
}

.footer hr {
  display: none;
  border-bottom: 1px solid #c4c4c4;
  &.desktopRule {
    @include grid-media( $sba-grid-medium) {
      display: inline-block;
      width: calc(100% - 60px);
      margin: 0 30px 20px 30px;
    }
  }
  &.mobileRule {
    @include grid-media( $sba-grid-small) {
      display: inline-block;
      width: calc(100% - 40px);
      margin: 0 20px 20px 20px;
    }
  }
}

.SocialMediaLinkSet {
  img {
    width: 35px;
    margin-right: 15px;
  }
  @include grid-media( $sba-grid-small) {
    max-width: 300px;
    margin: 0 auto 20px;
  }
  @include grid-media( $sba-grid-medium) {
    img {
      width: 25px;
      margin-right: 10px;
    }
    @include grid-column(4);
  }
}

.address {
  font-size: 14px;
  color: #686868;
  @include grid-media( $mobile-nav) {
    text-align: center;
    span {
      display: block;
    }
  }
  @include grid-media( $tablet-nav) {
    float: right;
    margin-right: 30px;
    .name {
      margin-right: 7px;
      padding-right: 6px;
      border-right: 1px solid #333;
    }
  }
  @include grid-media( $desktop-nav) {
    float: right;
    margin-right: 30px;
    .name {
      margin-right: 5px;
      padding-right: 5px;
      border-right: 2px solid #c4c4c4;
    }
  }
}
