doctype html
html
  head
    title Small Business Administration
  body
    p Thank you for applying to LINC! Please click the link below to confirm your email:
        a(href=confirmationLink) &nbsp&nbspConfirm Email
    p Please note that until you confirm your email, your information will not be submitted
