doctype html
html
  head
    title Small Business Administration
  body
    p Welcome to Lender Match, #{firstName}! Before we match you with lenders, please confirm your email address.
        a(href=confirmationLink) Confirm email
    p Or, paste this link into your browser: #{confirmationLink}
