doctype html
html
  head
    title Small Business Administration
  body
    div(style={"display":"none","font-size":"1px","color":"#333333","line-height":"1px","max-height":"0px","max-width":"0px","opacity":"0","overflow":"hidden"}) We can't look for matches until you confirm your email.
    p Welcome to Lender Match, #{firstName}! Before we match you with lenders, please confirm your email address.
        a(href=confirmationLink) Confirm email
    p Or, paste this link into your browser: #{confirmationLink}
    p U.S. Small Business Administration 409 3rd St, SW, Washington, DC  20416
    p This email was sent to you because you selected to participate in the Lender Match program.
    p Change your subscription settings.
