doctype html
html(lang= lang)
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    include includes/seo-meta.pug
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title= title
    script(src='/assets/scripts/purify.min.js')
    script(type="text/javascript").
        window.CONFIG = !{config}
    style(type="text/css")
        .async-hide { opacity: 0 !important}
    include includes/google-optimize.pug
    include includes/google-tag-manager-head.pug
  body
    include includes/google-tag-manager.pug
    #root
    script(src='/build/bundle.js')
    link(href="https://fonts.googleapis.com/css?family=Merriweather:400,400i|Source+Sans+Pro:200,300,400,500,600,700,800,900" rel="stylesheet")
    include includes/google-translate.pug
    include includes/foresee.pug
