doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content=description)
    meta(name="og:title" content=title)
    meta(name="og:description" content=description)
    meta(name="og:image" content="See attached")
    title= title
  body
    #root
    script(src='/build/bundle.js')
    script(src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript")
    link(href="https://fonts.googleapis.com/css?family=Merriweather:400i|Source+Sans+Pro:400,700" rel="stylesheet")

    script(type="text/javascript").
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({
          pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE
        }, 'google_translate_element');
      }
