doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Small Business Administration
  body
    #root
    script(src='/build/bundle.js')
    script(src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript")
    script(type="text/javascript").
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({
          pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE
        }, 'google_translate_element');
      }


