//LINC FORM INPUTS

  @include theme-focus('money-green', '.textInput', $money-green);
  @include theme-focus('sba-blue', '.textInput', $sba-blue);
  @include theme-focus('cobalt-blue', '.textInput', $cobalt-blue);
  @include theme-focus('byzantine', '.textInput', $byzantine);

  @include theme-focus('money-green', '.textArea', $money-green);
  @include theme-focus('sba-blue', '.textArea', $sba-blue);
  @include theme-focus('cobalt-blue', '.textArea', $cobalt-blue);
  @include theme-focus('byzantine', '.textArea', $byzantine);

//COMMON INPUT STYLES

.inputContainer {
  margin-bottom: 20px !important
}

//validation text
.errorText {
    font-size: 16px;
    font-weight: 600;
    color: $error;
    margin-bottom:0;
    margin-top:0;
}

//TEXT INPUT
.textInputContainer {
    position: relative;
    margin-bottom: 0px !important;
}

.textInput {
  margin-bottom: 0px !important;
}

.textInputInvalid {
    composes: textInput;
    border: 1px solid $error !important;
    box-shadow:inset 0px 0px 0px 1px $error !important;
}

.textInputIconValid {
    font-size: 22px !important;
    color: #609F00;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

//TEXT AREA
.textAreaContainer {
    position: relative;
}

.textArea {
  height: 120px;
  padding-right: 37px;
}

.textAreaInvalid {
  composes: textArea;
  border: 1px solid $error !important;
  box-shadow:inset 0px 0px 0px 1px $error;
}

.textAreaIconValid {
  font-size: 22px !important;
  color: #609F00;
  position: absolute;
  top: 12px;
  right:20px;
}

.textAreaCounter{
    display: block;
    text-align: right;
    margin-right: 2px;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    color: #666666;
}
