@import "../../styles/variables.scss";

.radioItem {
    padding: 5px;
    margin-top: 10px;
    height: 2.8vw;
    min-height: 48px;
}

.radioItemSelected {
    border: 1px solid black;
}

.radioItemNotSelected {
    border: 1px solid #CCCCCC;
}

.regularRadio {
    display: none;
}

.regularRadio+ label {
    background-color: #ffffff;
    border: 2px solid #c4c4c4;
    border-radius: 50px;
    display: inline-block;
    padding: 9px;
    position: relative;
    margin-top: 5px;
    margin-left: 10px;
}

.regularRadio+ label:before {
    background: none repeat scroll 0 0 #FDFDFD;
    border-radius: 50px;
    content: " ";
}

.regularRadio:checked + label:after {
    background: none repeat scroll 0 0 $money-green;
    border-radius: 50px;
    content: " ";
    font-size: 36px;
    height: 14px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 14px;
}

.regularRadio:checked + label {
    background-color: #ffffff;
    border: 2px solid $money-green;
    color: #99a1a7;
    padding: 9px;
}

.radioText {
    margin-left: 10px;
    position: relative;
    top: -3px;
    font-size: 1.2rem;
}
