.container {
  @include grid-media($sba-grid-small) {
    padding: 0px 20px 50px;
  }
  @include grid-media($sba-grid-medium) {
    padding: 0px 30px 50px;
  }
  @include grid-media($sba-grid-large) {
    padding: 0px 80px 50px;
  }
}

.seeMoreButton {
  text-align: center;
}
