@import "../buttons.scss";

@media screen and (min-width:768px) {
    .blogSection {
        margin-top: 5vw;
        margin-bottom: 5vw;
        margin-left: 10.4vw;
        margin-right: 10.4vw;
        padding: 0;
    }

    .blogSection > div > div {
        padding: 0;
        margin-left: -15px;
        margin-right: -15px;
    }


    .blogsImage {
        width: 38.5vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .sectionTitle {
        color: #333333;
        font-size: 5.2vw;
        font-weight: 900;
        padding: 0;
        margin-bottom: 2vw;
    }

    .blogTitleContainer{
        margin-top: 1.5vw;
        width: 38.5vw;
    }

    .blogTitle {
        font-size: 2.5vw;
        font-weight: 900;
        line-height: 2.78vw;
        color: #333333;
    }

    .blogTitle:hover {
        color: #333333;
    }

    .blogInfo {
        margin-top: 1.5vw;
        color: #666666;
        font-weight: normal;
        font-size: 1.25vw;
        line-height: 1.88vw;
    }

    .blueBtn {
        composes: homeBtnBlue;
        height: 3.33vw;
        width: 11.8vw;
        font-size: 1.25vw;
        line-height: 1.59vw;
        text-align: center;
        padding-top: 0.833vw;
        padding-bottom: 0.833vw;
        font-weight: 900;
        margin-top: 2vw;
    }


}
@media screen and (max-width:767px) {
    .sectionTitle {
        font-size: 7.47vw;
        line-height: 8vw;
        font-weight: 900;
        color: #333333;
        padding-left: 12.53vw;
        height: 8vw;
    }

    a:hover {
        text-decoration: none;
    }


    .singleBlog {
        border: 1px solid #C4C4C4;
        width: 91.4vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4.267vw;
    }

    .blogTitle {
        color: #333333;
        font-size: 5.06vw;
        line-height: 5.867vw;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
        width: 75.2vw;
        margin-top: 4vw;
    }

    .blogInfo {
        color: #333333;
        font-size: 3.73vw;
        line-height: 5.867vw;
        margin-top: 1.067vw;
        margin-left: auto;
        margin-right: auto;
        width: 75.2vw;
        margin-bottom: 4vw;
    }

    .whiteSpace {
        height: 16vw;
    }
}
