@media screen and (min-width:768px){
  .fybContainer{
    position: relative;
    margin-top: 5vw;
  }

  .fybBanner{
    position: relative;
    width: 82vw;
    height: 40vw;
    left: 18vw;
  }

  .fybContainer p{
    font-size: 5.2vw;
    font-weight: 900;
    padding-bottom: 2vw;
    padding-left: 10.4vw;
  }

  .fybAccentBox{
    position: absolute;
    background: #609F00;
    width: 36vw;
    height: 18vw;
    bottom: 15vw;
    left: 10.5vw;
    z-index: 0;
  }

  .fybAccentBox ul{
    list-style: none;
    padding: 0;
  }

  .fybAccentBox li{
    height: 6vw;
    padding-left: 2vw;
    font-size: 1.66vw;
    line-height: 6vw;
  }

  .borderBox {
    border-bottom: 0.1vw solid rgba(51,51,51,0.3);
  }

  .fybAccentBox img{
    position: absolute;
    width: 8.5vw;
    height: 8.5vw;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .fybAccentBox a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
}

@media screen and (max-width:768px) {
  .fybContainer{
    margin-bottom: 54vw;
  }

  .fybBanner{
    display: none;
  }

  .fybContainer p{
    font-size: 6vw;
    font-weight: bold;
    padding-bottom: 2vw;
    padding-left: 12vw;
  }

  .fybAccentBox{
    position: absolute;
    background: #609F00;
    width: 91.4vw;
    margin-left: 4.3vw;
    margin-right: 4.3vw;
    height: 48vw;
    z-index: 0;
  }

  .fybAccentBox ul{
    list-style: none;
    padding: 0;
  }

  .fybAccentBox li{
    height: 16vw;
    padding-left: 7vw;
    font-size: 5vw;
    line-height: 16vw;
  }

  .borderBox {
    border-bottom: .3vw solid rgba(51,51,51,0.3);
  }

  .fybAccentBox img{
    position: absolute;
    width: 25.9vw;
    height: 25.9vw;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .fybAccentBox a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
}

