@media screen and (min-width:768px){
  .stgContainer{
    position: relative;
    margin-top: 5vw;
  }

  .stgBanner{
    width: 85vw;
    height: 40vw;
  }

  .stgContainer p{
    font-size: 6vw;
    font-weight: bold;
    padding-bottom: 2vw;
    padding-left: 12vw;
  }

  .stgAccentBox{
    position: absolute;
    background: rgb(0, 81, 147);
    width: 36vw;
    height: 18vw;
    bottom: 15vw;
    left: 57vw;
  }

  .stgAccentBox ul{
    list-style: none;
    padding: 0;
  }

  .stgAccentBox li{
    height: 6vw;
    padding-left: 2vw;
    font-size: 20px;
    line-height: 6vw;
  }

  .stgAccentBox img{
    position: absolute;
    width: 8.5vw;
    height: 8.5vw;
    bottom: 0;
    right: 0;
  }

  .stgAccentBox li:nth-child(2){
    border-top: 1px solid darkblue;
  }

  .stgAccentBox li:nth-child(3){
    border-top: 1px solid darkblue;
  }

  .stgAccentBox a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
}

@media screen and (max-width:768px) {
  .stgContainer{
    margin-bottom: 42vw;
  }

  .stgBanner{
    display: none;
  }

  .stgContainer p{
    font-size: 6vw;
    font-weight: bold;
    padding-bottom: 2vw;
    padding-left: 12vw;
  }

  .stgAccentBox{
    position: absolute;
    background: rgb(0, 81, 147);
    width: 90vw;
    height: 36vw;
    margin-left: 4.5vw;
  }

  .stgAccentBox ul{
    list-style: none;
    padding: 0;
  }

  .stgAccentBox li{
    height: 12vw;
    padding-left: 7vw;
    font-size: 4vw;
    line-height: 12vw;
  }

  .stgAccentBox img{
    position: absolute;
    width: 18vw;
    height: 18vw;
    bottom: 0;
    right: 0;
  }

  .stgAccentBox li:nth-child(2){
    border-top: 1px solid darkblue;
  }

  .stgAccentBox li:nth-child(3){
    border-top: 1px solid darkblue;
  }

  .stgAccentBox a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
}

