@media screen and (min-width:768px){
  .sybContainer{
    position: relative;
    margin-top: 8vw;
  }

  .sybBanner{
    width: 85vw;
    height: 40vw;
  }

  .sybContainer p{
    font-size: 5.2vw;
    font-weight: 900;
    padding-bottom: 2vw;
    padding-left: 10.4vw;
  }

  .sybAccentBox{
    position: absolute;
    background: #AB3EA0;
    width: 36vw;
    height: 18vw;
    bottom: 15vw;
    //left: 55.8vw;
    right: 10.4vw;
    z-index: 0;
  }

  .sybAccentBox ul{
    list-style: none;
    padding: 0;
  }

  .sybAccentBox li{
    height: 6vw;
    padding-left: 2vw;
    font-size: 1.66vw;
    line-height: 6vw;
  }

  .borderBox {
    border-bottom: 0.1vw solid rgba(51,51,51,0.3);
  }

  .sybAccentBox img{
    position: absolute;
    width: 8.5vw;
    height: 8.5vw;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .sybAccentBox a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
}

@media screen and (max-width:768px) {
  .sybContainer{
    margin-top: 8vw;
    margin-bottom: 54vw;
  }

  .sybBanner{
    display: none;
  }

  .sybContainer p{
    font-size: 7.47vw;
    font-weight: bold;
    padding-bottom: 2vw;
    padding-left: 12.53vw;
  }

  .sybAccentBox{
    position: absolute;
    background: #AB3EA0;
    width: 91.4vw;
    margin-left: 4.3vw;
    margin-right: 4.3vw;
    height: 48vw;
    z-index: 0;
  }

  .sybAccentBox ul{
    list-style: none;
    padding: 0;
  }

  .sybAccentBox li{
    height: 16vw;
    padding-left: 7vw;
    font-size: 5vw;
    line-height: 16vw;
  }

  .borderBox {
    border-bottom: .3vw solid rgba(51,51,51,0.3);
  }

  .sybAccentBox img{
    position: absolute;
    width: 25.9vw;
    height: 25.9vw;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .sybAccentBox a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
}