@media screen and (min-width:768px){

  .sybContainer{
    position: relative;
    margin-top: 5vw;
  }

  .sybBanner{
    width: 85vw;
    height: 40vw;
  }

  .sybContainer p{
    font-family: Arial, sans-serif;
    font-size: 6vw;
    font-weight: bold;
    padding-bottom: 2vw;
  }

  .sybAccentBox{
    position: relative;
    background: rgb(172, 62, 161);
    width: 36vw;
    height: 18vw;
    bottom: 33vw;
    left: 57vw;
  }

  .sybAccentBox ul{
    list-style: none;
    padding: 0;
  }

  .sybAccentBox li{
    height: 6vw;
    padding-left: 2vw;
    font-size: 20px;
    line-height: 6vw;
  }

  .sybAccentBox img{
    position: absolute;
    width: 8.5vw;
    height: 8.5vw;
    bottom: 0;
    right: 0;
  }

  .sybAccentBox li:nth-child(n+1){
    border-top: 1px solid darkmagenta;
  }

  .sybAccentBox a{
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: #fff;
    font-weight: bold;
  }
}