
.happeningNow {
    margin-top: 5vw;
    padding-left: calc(10.4vw - 15px);
    padding-right: calc(10.4vw - 15px);
}

.happeningNowTitle{
    font-size: 5.2vw;
    font-weight: 900;
    padding-bottom: 2vw;
}

.happeningNowItemTitle{
    color: black;
    font-size: 1.2vw;
    font-weight: 700;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.happeningNowLearnMore, .happeningNowLearnMore:hover{
    background-color: rgb(10,151,222);
    color: white;
    font-weight: 600;
    border-radius: 0;
    border: 0;
    padding: 10px 20px;
}

.carouselImage{
    padding: 1px;
}

.happeningNowCarouselItemTitle{
    color: black;
    font-weight: 600;
    font-size: 3.5vw;
    background-color: white;
}
