@import "../buttons.scss";

.happeningNow {
    margin-top: 5vw;
    padding-left: 0;
    padding-right: 0;
}
.happeningNowDesktop{
    padding-left: calc(10.4vw - 15px);
    padding-right: calc(10.4vw - 15px);
}

.happeningNowMobile{
    margin-top: 2vw;
}

.happeningNowSection{
    padding-bottom: 4vw;
}

.mobileImg{
    width: 91.4vw;
    height: auto;
    margin-left: calc(4.3vw - 15px);
    margin-right: calc(4.3vw - 15px);
    padding-right: 0;
}

.happeningNowTitle{
    font-size: 5.2vw;
    font-weight: bold;
    padding-left: calc(10.4vw - 15px);
    padding-bottom: 2vw;
}

.happeningNowTitleMobile{
    font-size: 7.47vw;
    line-height: 8vw;
    font-weight: 900;
    padding-bottom: 2vw;
    padding-left: calc(12.53vw - 15px);
}

.happeningNowItemTitle{
    color: black;
    font-size: 1.2vw;
    font-weight: 700;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.happeningNowItemTitleMobile{
    color: black;
    font-size: 4vw;
    font-weight: bold;
    padding-top: 1vw;
    padding-left: calc(4.3vw - 15px);
    padding-bottom: 1vw;
}

.happeningNowLearnMore{
    composes: homeBtnBlue;
    font-weight: 600;
    padding: 10px 20px;
}

.carouselImage{
    padding: 1px;
}

.happeningNowCarouselItemTitle{
    color: black;
    font-weight: 600;
    font-size: 3.5vw;
    background-color: white;
}
