.cardCollection {
    clear: left;
}

.row {
    display: table;
}

.card {
	  @include grid-media($sba-grid-small) {
        margin-bottom: 20px;
        @include grid-column(6);
    }
    @include grid-media($sba-grid-medium) {
        margin-bottom: 20px;
        @include grid-column(6);
    }
    @include grid-media($sba-grid-large) {
        margin-bottom: 30px;
        @include grid-column(4);
    }
}
