.resultsMessage {
  text-align: left;
  width: 100%;
  padding: 20px 20px;
  background-color: $sba-gray-lighter;
  pointer-events: all;
  border-top: 10px solid #fff;

  ul {
    list-style: circle;
    margin-left: 20px;

    li p {
      display: block;
      margin: 0;
    }
  }

  @include grid-media($sba-grid-small) {
    width: 100%;
  }
}

.focus:focus {
  outline: 2px dotted #c5c5c5;
  outline-offset: -6px;
}

.emptyDocumentsMessage {
  font-weight: bold;

  @include grid-media($sba-grid-medium) {
    font-size: 72px;
    font-weight: 900;
  }
  @include grid-media($sba-grid-large) {
    font-size: 72px;
    font-weight: 900;
  }
}
