.resultsMessage {
  text-align: left;
  width: 100%;
  margin: 10px auto 100px;
  padding: 20px 20px;
  background-color: $sba-gray-lighter;

  ul {
    list-style: circle;
    margin-left: 20px;

    li p {
      display: block;
      margin: 0;
    }
  }

  @include grid-media($sba-grid-small) {
    width: 100%;
  }
}

.emptyDocumentsMessage {
  font-weight: bold;

  @include grid-media($sba-grid-medium) {
    font-size: 72px;
    font-weight: 900;
  }
  @include grid-media($sba-grid-large) {
    font-size: 72px;
    font-weight: 900;
  }
}
