@import '../menu-tile/menu-tile-shared.scss';

.tileHover {
  height: 100%;
  width: 100%;
  padding-top: 20px;
  background-color: $sba-blue;
}

.tileHover h3 {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.topLine {
  margin-top: 20px;
  border-top: 1px solid rgba(white, 0.2);
  width: 100%;
}

.linkContainer {
  position: relative;
  cursor: pointer;
  padding: 5px 0 5px 15px;
  border-bottom: 1px solid rgba(white, 0.2);
  z-index: 9999 !important;

  &:hover {
    background-color: $secondary-blue;
  }
}

.link {
  font-weight: 300;
  color: white;
}
