.banner {
  background-color: $sba-blue;
  width: 100%;

  @include grid-media($sba-grid-small) {
    padding: 20px;
  }

  @include grid-media($sba-grid-medium) {
    padding: 20px 30px;
  }

  @include grid-media($sba-grid-large) {
    padding: 40px 28px;
  }

  > h2 {
    color: white;
  }
}

.blurb {
  color: white;

  @include grid-media($sba-grid-medium-and-small) {
    display: none;
  }
}

.multiSelect {
  @include grid-media($sba-grid-small) {
    width: 100%;
  }

  @include grid-media($sba-grid-large) {
    display: inline-block;
    width: 387px;
    margin-right: 20px;

    & label {
      font-size: 27px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  label {
    // TODO: These are h5 styles.
    color: white;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 0.5em;
  }
}

.cardContainer {
  padding-top: 30px;
}

.card {
  visibility: visible;
}

.phoneContainer {
  margin-bottom: 4px;
}

.phoneIcon {
  font-size: 24px !important;
  float: left;
  margin: 2px 6px 0 3px;
  color: #666;
}

.phoneNumber {
  font-size: 18px;
  line-height: 23px;
  margin-left: 9px;
  color: #333;
}

.emailIcon {
  font-size: 24px !important;
  float: left;
  margin: 2px 6px 0 3px;
  color: #336200;
}

.emptyContacts {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
}

.paginator {
  margin-bottom: 30px;
  margin-right: 30px;
  text-align: right;
}
