.titleSection {
  @include grid-media($sba-grid-small) {
    text-align: left;
  }
}

.summary {
  // @include font-size($h4-font-sizes);
  margin-bottom: 51.5px;
  @include grid-media($sba-grid-small) {
    margin-bottom: 33.5px;
  }
}

.content {
  // @include font-size($h4-font-sizes);
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 18.5px;
  @include grid-media($sba-grid-small) {
    margin-bottom: 9px;
  }
}

.titleLink {
  // @include font-size($paragraph-font-sizes);
  line-height: 30px;
  @include grid-media($sba-grid-small) {
    line-height: 40px;
  }
}

.titleSection ul {
  margin-bottom: 51.5px;
  @include grid-media($sba-grid-small) {
    margin-bottom: 30px;
  }
}

.title {
  // @include font-size($h1-font-sizes);
  margin-bottom: 30px;
  @include grid-media($sba-grid-small) {
    margin-bottom: 19px;
  }
}
