.titleSection {
  @include grid-media($sba-grid-small) {
    text-align: left;
  }
}

.lineCopy {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 3px;
  width: 5.5em;
  border: 3px solid;
  text-align: left;
  @include grid-media($sba-grid-small) {
    width: 4.0em;
  }
}

@include theme(sba-blue, '.lineCopy', #fff, #fff, $sba-blue);
@include theme(byzantine, '.lineCopy', #fff, #fff, $byzantine);
@include theme(money-green, '.lineCopy', #fff, #fff, $money-green);
@include theme(cobalt-blue, '.lineCopy', #fff, #fff, $cobalt-blue);

.hrLine{
  box-sizing: border-box;
  height: 1px;
  border: 1px solid #DADADA;

}

.summary{
  @include font-size($h4-font-sizes);
  margin-bottom: 51.5px;
  @include grid-media($sba-grid-small) {
    margin-bottom: 33.5px;
  }
}

.content{
  @include font-size($h4-font-sizes);
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 18.5px;
  @include grid-media($sba-grid-small) {
    margin-bottom: 9px;
  }
}

.titleLink{
  @include font-size($paragraph-font-sizes);
  line-height: 30px;
  @include grid-media($sba-grid-small) {
    line-height: 40px;
  }
}

.titleSection ul{
  margin-bottom: 51.5px;
  @include grid-media($sba-grid-small) {
    margin-bottom: 30px;
  }
}

.title{
  @include font-size($h1-font-sizes);
  margin-bottom: 30px;
  @include grid-media($sba-grid-small) {
    margin-bottom: 19px;
  }
}
