@include theme(sba-blue, '.callout', $sba-blue, #fff, #fff);
@include theme(byzantine, '.callout', $byzantine, #fff, #fff);
@include theme(money-green, '.callout', $money-green, #fff, #fff);
@include theme(cobalt-blue, '.callout', $cobalt-blue, #fff, #fff);

.callout {
    background-image: url('./corner-graphic.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 30px 30px 30px 30px;
}

.message {
	margin-bottom: 30px;
	font-size: 25px;
	line-height: 30px;
}

.title {
	@include grid-media($sba-grid-small){
		font-size: 32px;
	}
}

.button {
	@include grid-media($sba-grid-small){
		width: 100%;
	}
}


