@include theme(sba-blue, '.SmallGreySecondaryFormButton', #fff, $grey,  $grey);
@include theme(byzantine, '.SmallGreySecondaryFormButton', #fff, $grey,  $grey);
@include theme(money-green, '.SmallGreySecondaryFormButton', #fff, $grey,  $grey);
@include theme(cobalt-blue, '.SmallGreySecondaryFormButton', #fff, $grey,  $grey);

@include theme-hover(sba-blue, '.SmallGreySecondaryFormButton', $grey-dark, #fff, $grey-dark);
@include theme-hover(byzantine, '.SmallGreySecondaryFormButton', $grey-dark, #fff, $grey-dark);
@include theme-hover(money-green, '.SmallGreySecondaryFormButton', $grey-dark, #fff, $grey-dark);
@include theme-hover(cobalt-blue, '.SmallGreySecondaryFormButton', $grey-dark, #fff, $grey-dark);

.SmallGreySecondaryFormButton {
  font-size: 1.1em;
  font-weight: 700;
  padding: 0.75em 0;
  width: 38.5%;
}

