.miniNav {
  margin-bottom: 12px;
  @include grid-column(9, $desktop-nav);
  float: right;
}

.miniNav ul {
  float: right;
}

.miniNav {
  li {
    color: $sba-gray-dark;
  }
  li {
    display: inline-block;
    margin-right: 12px;
    font-size: 14px;
  }
}

.searchBar ul {
  position: relative;
  padding-right: 170px;
}
