@import "../../styles/buttons.scss";

.happeningNow {
    margin-top: 5vw;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

/* Desktop */
.happeningNowDesktop{
    padding-left: calc(10.4vw - 15px);
    padding-right: calc(10.4vw - 15px);
}

.happeningNowTitle{
    font-size: 5.2vw;
    font-weight: bold;
    padding-left: calc(10.4vw - 15px);
    padding-bottom: 2vw;
}

.happeningNowItemTitle{
    color: black;
    font-size: 1.2vw;
    font-weight: 700;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.happeningNowLearnMore{
    composes: homeBtnBlue;
    font-weight: 600;
    padding: 10px 20px;
}

/* Mobile */

.happeningNowMobile{
    margin-top: 2vw;
}

.happeningNowTitleMobile{
    font-size: 7.47vw;
    // line-height: 8vw;
    font-weight: bold;
    padding-bottom: 2vw;
    padding-left: 12.53vw;
}
