.menuCallToAction {
  width: 351px;
  display: block;
}

.menuCallToAction img {
  width: 100%;
}

.menuCallToAction p {
  color: white;
  font-weight: bold;
  font-size: 36px;
  padding: 30px;
  line-height: normal;
  margin-bottom: 0;
}
