.container {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  float: left;
}

.section,
.sectionWithPadding {
  width: 100%;
  @include grid-media($sba-grid-small) {
    margin-bottom: 20px;
  }
  @include grid-media($sba-grid-medium) {
    margin-bottom: 50px;
  }
}

.last {
  margin-bottom: 50px;
}
.section,
.sectionWithPadding {
  @include clearFix;
}

.sectionWithPadding {
  @include grid-media($sba-grid-small) {
    padding-left: 0;
    padding-right: 0;
  }
  @include grid-media($sba-grid-medium) {
    padding-left: $homepage-gutter-size;
    padding-right: $homepage-gutter-size;
  }
}

.sectionPanelMenu {
  @include clearfix;

  @include grid-media($sba-grid-medium) {
    padding-left: $homepage-gutter-size;
    padding-right: $homepage-gutter-size;
  }
}

.panelMenuContainer {
  @include grid-media($sba-grid-small) {
    max-width: 100vw;
  }

  @include grid-media($sba-grid-medium) {
    max-width: 94.66vw;
  }
}

.sectionHeader {
  margin-top: 25px;
}

.container h2[id^='section-header'] {
  margin-left: 27px;
  margin-right: 27px;

  @include grid-media($sba-grid-medium) {
    margin-bottom: -5px;
  }

  @include grid-media($sba-grid-medium) {
    margin-bottom: -25px;
  }
}

div[id^='card'] p[id^='title'] {
  line-height: 1.1;
}

.callToAction,
.cardCollection {
  @include grid-column(12, $sba-grid-large);
}

div[id^='call-to-action'] {
  margin-top: -30px;
}
