div[class~='contact-card'] {
  margin-bottom: 30px;
}

table {
  table-layout: auto;
}

.program-summary-table {
  border: none;
}

.program-summary-data {
  border-color: white;
}

.program-summary-data:nth-child(even) {
  background-color: white;
}

.detailCard {
  position: relative;
  height: 100%;

  .label {
    margin-bottom: 20px;
  }

  > h6 > a {
    // This forces the underline color to be the same color as the text.
    text-decoration: underline;
    color: $sba-blue;
    padding-top: 0;
  }
}
.row {
  width: 100%;
}

.columnOne,
.columnTwo {
  background-color: white !important;
  border: none;
}

.columnOne {
  color: $sba-blue;
  padding: 0;

  h6 {
    line-height: 1.4;
  }
}

.columnTwo {
  padding: 0 0 0 5px;
}

hr[class~='dash'] {
  margin-top: 15px;
  width: 30px !important;
}

.download {
  position: absolute;
  bottom: 0;
  left: 0;

  a {
    margin-right: 10px;
  }

  i {
    color: $secondary-blue;
  }
}
