.program-summary-table {
  border: none;
}

.program-summary-data {
  border-color: white;
}

.program-summary-data:nth-child(even) {
  background-color: white;
}

.container {
  border: 1px solid #bebdbd;
  background-color: white;

  @include grid-media($sba-grid-medium-and-small) {
    padding: 15px;
  }
  @include grid-media($sba-grid-large) {
    padding: 20px;
  }
}

.innerContainer {
  min-height: 19.5rem;
}

.documentTypeContainer {
  margin-bottom: 20px;
}

.documentType > div {
  padding: 5px 10px;
}

.title {
  text-decoration: underline;
  color: $sba-blue;
  padding-top: 0px;
}

.row {
  width: 100%;
}

.columnOne,
.columnTwo {
  background-color: white !important;
  border: none;
}

.columnOne {
  color: $sba-blue;
  padding: 0px;

  h6 {
    line-height: 1.4;
  }
}

.columnTwo {
  padding: 0 0 0 5px;
}

.dash {
  hr {
    margin-top: 0.8rem;
    width: 30px !important;
  }
}

.download {
  margin-top: 42px;
  i {
    color: $secondary-blue;
  }
}

.link {
  color: $secondary-blue;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: underline;
}
