.leftAlignedSolidBoxSection,
.leftAlignedBoxSection,
.rightAlignedSolidBoxSection,
.rightAlignedBoxSection {
  @include grid-container;
  // border: 1px solid red;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.leftAlignedSolidBoxSection img,
.leftAlignedBoxSection img,
.rightAlignedSolidBoxSection img,
.rightAlignedBoxSection img {
  position: absolute;
  top: 5vh;
}

.leftAlignedSolidBoxSection .titleBox,
.leftAlignedBoxSection .titleBox,
.rightAlignedSolidBoxSection .titleBox,
.rightAlignedBoxSection .titleBox {
  position: absolute;
  bottom: 10vh;
}

.leftAlignedSolidBoxSection img,
.rightAlignedSolidBoxSection img,
.leftAlignedSolidBoxSection .titleBox,
.rightAlignedSolidBoxSection .titleBox {
  @include grid-media($sba-grid-large) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.leftAlignedBoxSection img,
.rightAlignedBoxSection img {
  @include grid-media($sba-grid-large) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.leftAlignedBoxSection .titleBox,
.rightAlignedBoxSection .titleBox {
  @include grid-media($sba-grid-large) {
    position: absolute;
    left: 50px;
    top: 20%;
    transform: translateY(-20%);
  }
}

.leftAlignedSolidBoxSection img{
  @include grid-media($sba-grid-large){
    @include grid-column(10);
    @include grid-shift(2);
  }
}

.leftAlignedBoxSection img{
  @include grid-media($sba-grid-large){
    @include grid-column(7,$desktop-0gutter);
    @include grid-shift(5, $desktop-0gutter);
  }
}

.leftAlignedBoxSection:last-of-type img{
  @include grid-media($sba-grid-large){
    @include grid-column(4,$desktop-0gutter);
    @include grid-shift(7, $desktop-0gutter);
  }
}

.rightAlignedSolidBoxSection img,
.rightAlignedBoxSection img {
  @include grid-media($sba-grid-large){
    @include grid-column(10);
  }
}

.rightAlignedSolidBoxSection .titleBox,
.rightAlignedBoxSection .titleBox,
.leftAlignedSolidBoxSection .titleBox,
.leftAlignedBoxSection .titleBox {
  @include grid-media($sba-grid-small){
    @include grid-column(6)
  }
  @include grid-media($sba-grid-medium){
    @include grid-column(12)
  }
}

.rightAlignedSolidBoxSection .titleBox,
.rightAlignedBoxSection .titleBox {
  @include grid-media($sba-grid-large){
    @include grid-column(6);
    @include grid-shift(6);
  }
}

.leftAlignedSolidBoxSection .titleBox,
.leftAlignedBoxSection .titleBox {
  @include grid-media($sba-grid-large){
    @include grid-column(6);
  }
}
