.stepSection {
  @include grid-container;
  // border: 1px solid red;
  height: calc(100vh - 73px);
  position: relative;
  width: 100%;
  margin-bottom: 1vh;
  overflow: hidden;
  @include grid-media($sba-grid-large){
    height: 100vh;
  }
}

.stepSection img {
  position: absolute;
}

.stepSection:nth-of-type(5n+0) img {
  @include grid-media($sba-grid-small){
    max-height: 40vh;
  }
}

.stepSection:first-of-type img,
.stepSection:nth-of-type(8n) img{
  @include grid-media($sba-grid-large){
    @include grid-column(7,$desktop-0gutter);
    @include grid-shift(5, $desktop-0gutter);
    top: 65%;
  }
}

.stepSection:last-of-type img{
  @include grid-media($sba-grid-large){
    @include grid-column(4,$desktop-0gutter);
    @include grid-shift(7, $desktop-0gutter);
  }
}

.leftAligned img {
  right: 0;
  @include grid-media($sba-grid-small){
    bottom: 0;
  }
  @include grid-media($sba-grid-medium){
    bottom: 5%;
    max-height: 50vh;
  }
  @include grid-media($sba-grid-large){
    bottom: 2.5%;
    left: inherit;
    max-height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.leftAlignedHero img,
.rightAlignedHero img {
  @include grid-media($sba-grid-small){
    top: 0;
  }
  @include grid-media($sba-grid-medium){
    top: 2.5%;
  }
}

.leftAlignedHero img{
  @include grid-media($sba-grid-large){
    @include grid-column(10);
    @include grid-shift(2);
  }
}

.leftAligned img{
  @include grid-media($sba-grid-large){
    @include grid-column(7,$desktop-0gutter);
    @include grid-shift(5, $desktop-0gutter);
  }
}

.rightAlignedHero img,
.rightAligned img {
  @include grid-media($sba-grid-large){
    @include grid-column(10);
  }
}

.leftAlignedHero img,
.rightAlignedHero img,
.leftAlignedHero .titleBox,
.rightAlignedHero .titleBox {
  @include grid-media($sba-grid-large) {
    bottom: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.titleBox {
  position: absolute;
}

.leftAlignedHero .titleBox,
.rightAlignedHero .titleBox {
  @include grid-media($sba-grid-small){
    bottom: 0;
  }
  @include grid-media($sba-grid-medium){
    bottom: 2.5%;
  }
}

.leftAligned .titleBox {
  @include grid-media($sba-grid-small){
    top: 0;
  }
  @include grid-media($sba-grid-medium){
    top: 2.5%;
  }
  @include grid-media($sba-grid-large) {
    position: absolute;
    left: 50px;
    top: 20%;
    transform: translateY(-20%);
  }
}

.leftAlignedHero .titleBox,
.rightAlignedHero .titleBox {
  @include grid-media($sba-grid-small){
    bottom: 0;
  }
  @include grid-media($sba-grid-medium){
    bottom: 2.5%;
  }
}

.rightAlignedHero .titleBox,
.leftAlignedHero .titleBox,
.leftAligned .titleBox {
  @include grid-media($sba-grid-small){
    @include grid-column(6)
  }
  @include grid-media($sba-grid-medium){
    @include grid-column(12)
  }
}

.rightAlignedHero .titleBox {
  @include grid-media($sba-grid-large){
    @include grid-column(6);
    @include grid-shift(6);
  }
}

.leftAlignedHero .titleBox,
.leftAligned .titleBox {
  @include grid-media($sba-grid-large){
    @include grid-column(6);
  }
}
