.searchBar {
  position: relative;
  display: inline-block;
  margin-left: 10px;

  i {
    position: absolute;
    right: 6px;
    top: calc(25% + 2px);

    // The icon cannot be a link because it should be hidden from screen
    // readers, it is styled like one.
    cursor: pointer;
    color: $sba-gray;
    transition: color $base-duration $base-timing;

    &:hover {
      color: $secondary-blue-light;
    }
  }

  input {
    border-color: $sba-gray-light;
    border-radius: 5px;
    display: inline;
    height: 40px;
    width: 12vw;
  }
}
