// .searchIcon {
//     cursor: pointer;
//     color: #757575;
//     font-size: 1.2vw;
//     line-height: 1.4vw;
//     margin-left: 1.1vw;
//     margin-top: 5px;
//     text-decoration: none;
// }
//
// #searchBar {
//     margin-left: 1.1vw;
//     display: inline;
// }
//
// #searchInput {
//     margin-right: 11px;
//     -webkit-appearance: textfield;
//     width: 20vw;
// }

.searchBar {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.searchBar input {
    height: 40px;
    display: inline;
    border-radius: 5px;
    border-color: $grey-light;
    width: 12vw;
}

.searchBar a {
    position: absolute;
    right: 0.5vw;
    top: 12px;
}

.searchIcon{

}

@include theme("sba-blue", '.searchIcon i', null, #757575, null);
@include theme("byzantine", '.searchIcon i', null, #757575, null);
@include theme("money-green", '.searchIcon i', null, #757575, null);
@include theme("cobalt-blue", '.searchIcon i', null, #757575, null);

@include theme-hover("sba-blue", '.searchIcon i', null, $grey-dark, null);
@include theme-hover("byzantine", '.searchIcon i', null, $grey-dark, null);
@include theme-hover("money-green", '.searchIcon i', null, $grey-dark, null);
@include theme-hover("cobalt-blue", '.searchIcon i', null, $grey-dark, null);