// .searchIcon {
//     cursor: pointer;
//     color: #757575;
//     font-size: 1.2vw;
//     line-height: 1.4vw;
//     margin-left: 1.1vw;
//     margin-top: 5px;
//     text-decoration: none;
// }
//
// #searchBar {
//     margin-left: 1.1vw;
//     display: inline;
// }
//
// #searchInput {
//     margin-right: 11px;
//     -webkit-appearance: textfield;
//     width: 20vw;
// }

.searchBar {
    display: inline;
    margin: 0px;
    padding: 0px;
}

.searchBar input{
    height: 24px;
    display: inline;
    -webkit-appearance: textfield;
}

.searchIcon:hover {
    color: #333;
}
