.sectionContainer {
  position: relative;
  margin-bottom: 32px;
  padding-right: 45px;
}

.title {
  font-size: 17px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 5px;
}

.field {
  font-size: 17px;
  color: #333333;
  margin-bottom: 3px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.editBtn {
  position: absolute;
  right: 0;
  top: 0;
  width: 43px;
  height: 22px;
  border: 1px solid #666666;
  background-color: white;
}

.submitBtn{
  composes: continueBtn from "./lender-match.scss";
  width: 100%;
  margin-top: 0;
}