.sectionNav {
  display: none;
  background-color: $byzantine;
  color: #fff;
  @include grid-media( $sba-grid-large) {
    display: block;
    position: fixed;
    @include grid-column(3, $sba-grid-large);
  }
}

.backLink, .sectionNav h2, .sectionNav h4 {
  padding: 0 30px;
}

.sectionNav h2, .sectionNav h4 {
  text-align: center;
  text-transform: uppercase;
}

.sectionNav h2{
  margin-bottom: 0;
}

.sectionNav h4{
  font-weight: 500;
  margin-bottom: .8em;
}

.sectionNav a {
  display: block;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
  padding: 8px 30px 10px;
  text-decoration: none;
}

.backLink {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  margin-bottom: 20px;
}

a.backLink{
  padding: 20px 30px 20px 55px;
  position: relative;
}

.backLink:before {
  content: "\f104";
  font-family: FontAwesome;
  font-size: 30px;
  margin-right: 15px;
  position: absolute;
  top: 12px;
  left: 30px;
}

.sectionNav img {
  display: block;
  margin: 0 auto 20px;
  width: 105px;
}

.sectionNav li{
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.sectionNav li:last-child{
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  @include grid-media($sba-grid-large){
    margin-bottom: 40px;
  }
}

.sectionNav li:hover + li{
  border-top: 1px solid $byzantine;
}

.animateLeftNav{
  animation: slideNavIn 3s forwards;
}

.displayLeftNav{

    .sectionNav{
      display: block;
    }
}

@keyframes slideNavIn {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0%); }
}

@include theme(sba-blue, '.sectionNav li a, .backLink', null, #fff, rgba(255, 255, 255, 0.25));
@include theme(byzantine, '.sectionNav li a, .backLink', null, #fff, rgba(255, 255, 255, 0.25));
@include theme(money-green, '.sectionNav li a, .backLink', null, #fff, rgba(255, 255, 255, 0.25));
@include theme(cobalt-blue, '.sectionNav li a, .backLink', null, #fff, rgba(255, 255, 255, 0.25));

@include theme-hover(sba-blue, '.sectionNav li, .backLink', $sba-blue-dark, #fff, $sba-blue-dark);
@include theme-hover(byzantine, '.sectionNav li, .backLink', $byzantine-dark, #fff, $byzantine-dark);
@include theme-hover(money-green, '.sectionNav li, .backLink', $money-green-dark, #fff, $money-green-dark);
@include theme-hover(cobalt-blue, '.sectionNav li, .backLink', $cobalt-blue-dark, #fff, $cobalt-blue-dark);
