//COMMON STYLES FOR BOTH HOVER AND NORMAL TILE

.tile {
	position: relative;
	@include grid-media($sba-grid-small){
		@include grid-column(6, $sba-grid-small)
		margin-top: 20px;
	}
	@include grid-media($sba-grid-medium){
		@include grid-column(6, $sba-grid-medium)
		height: 450px;
		margin-top: 20px;
	}
	@include grid-media($sba-grid-large){
		@include grid-column(3, $sba-grid-large)
		height: 577px;
		margin-top: 10px;
		margin-bottom: 30px;
	}
}

.backgroundLines {
	display: none;
	@include grid-media($sba-grid-large){
		display: block;
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
		width: 100%;
	}
}

//LINK FOR DISPLAYING MENU ON TAB

.tabDisplayMenu {
	@include grid-media($sba-grid-medium){
		display: none;
	}
	@include grid-media($sba-grid-large){
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		cursor: default;
		opacity: 0;
	}
}

//SPECIFIC STYLES FOR STATIC TILE

.tileNormal {
	height: 100%;
	width: 100%;
	background-color: $grey-lighter;
	@include grid-media($sba-grid-small){
		padding: 27px;
	}
	@include grid-media($sba-grid-medium){
		padding-top: 71px;
	}
	@include grid-media($sba-grid-large){
		padding-top: 133px;
	}
}

.icon {
	@include grid-media($sba-grid-small){
		height: 50px;
	  width: 50px;
	  vertical-align: baseline;
	  margin-right: 15px;
	}
	@include grid-media($sba-grid-medium){
		height: 105px;
	  width: 105px;
	  display: block;
		margin: auto;
	}
	@include grid-media($sba-grid-large){
		height: 105px;
	  width: 105px;
	  display: block;
	  margin: auto;
	}
}

.titleContainer {
	@include grid-media($sba-grid-small){
		width: 65%;
		display: inline-block;
	}
}

.largeTitle {
	font-weight: 900;
	color: $base-font-color;
	text-transform: uppercase;
	@include grid-media($sba-grid-small){
		font-size: 34px;
		margin-bottom: 0px;
	}
	@include grid-media($sba-grid-medium){
		text-align: center;
		margin-top: 12px;
		margin-bottom: 0px;
    line-height: 50px;
		font-size: 2.7em;
	}
}

.smallTitle {
	font-weight: bold;
	color: $base-font-color;
	text-transform: uppercase;
	@include grid-media($sba-grid-small){
		font-size: 20px;
	}
	@include grid-media($sba-grid-medium){
		text-align: center;
		margin-bottom: 0px;
    line-height: 31px;
		font-size: 1.33em;
	}
}

.rightArrow {
	display: none !important;
	@include grid-media($sba-grid-small){
		font-size: 48px !important;
		display: block !important;
		position: absolute;
		top: 27px;
		right: 15px;
		color: $byzantine;
	}
}

.line {
	@include grid-media($sba-grid-small){
		border: 2px solid $byzantine;
		width: 49px;
	}
	@include grid-media($sba-grid-medium){
		height: 1px;
		width: 90px;
		border: 3px solid $byzantine;
		display: block;
		margin: auto;
		margin-top: 21px;
		margin-bottom: 19px;
	}
}

.blurb {
	@include grid-media($sba-grid-small){
		margin-top: 15px;
		margin-bottom: 0px;
	}
	@include grid-media($sba-grid-medium){
		text-align: center;
		margin: 20px 40px 20px 40px;
	}
}

.cornerLines {
	display: none;
	@include grid-media($sba-grid-small){
		display: block;
		position: absolute;
		right: 0px;
		bottom: 0px;
	}
}

//SPECIFIC STYLES FOR HOVER TILE

.tileHover {
	height: 100%;
	width: 100%;
	background-color: $byzantine;
	padding-top: 20px;
}

.largeTitleHover {
	composes: largeTitle;
	color: white;
}

.smallTitleHover {
	composes: smallTitle;
	color: white;
}

.topLine {
	margin-top: 20px;
	background-color: rgba(255,255,255, 0.5);
	height: 1px;
	width: 100%;
}

.linkContainer {
	position: relative;
	cursor: pointer;
	padding: 5px 0 5px 15px;
	border-bottom: 1px solid rgba(255,255,255, 0.5);
	z-index: 9999 !important;
	&:hover {
		background-color: $byzantine-dark;
	}
}

.link {
	font-size: 18px !important;
	color: white !important;
	text-decoration: none !important;
	font-weight: 300 !important;
}