//COMMON STYLES FOR BOTH HOVER AND NORMAL TILE

.tile {
	position: relative;
	background-color: $grey-lighter;
	@include grid-media($sba-grid-small){
		@include grid-column(6, $sba-grid-small)
		position: relative;
		margin-top: 20px;
		padding: 27px;
	}
	@include grid-media($sba-grid-medium){
		@include grid-column(6, $sba-grid-medium)
		height: 480px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	@include grid-media($sba-grid-large){
		@include grid-column(3, $sba-grid-large)
		height: 577px;
		margin-top: 10px;
		margin-bottom: 30px;
	}
}

.backgroundLines {
	display: none;
	@include grid-media($sba-grid-large){
		display: block;
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
	}
}

//SPECIFIC STYLES FOR NORMAL TILE

.tile:hover {
	//FLIPS BETWEEN HOVER TILE AND NORMAL TILE (ONLY TABLET+)
	@include grid-media($sba-grid-large){
		background-color: $byzantine;
		.tileNormal {
			display: none;
		}
		.tileHover {
			display: block;
		}
	}
}

.icon {
	@include grid-media($sba-grid-small){
		height: 50px;
	  width: 50px;
	  vertical-align: baseline;
	  margin-right: 15px;
	}
	@include grid-media($sba-grid-medium){
		margin: auto;
		margin-top: 71px;
		height: 105px;
	  width: 105px;
		display: block;
	}
	@include grid-media($sba-grid-large){
		margin: auto;
		margin-top: 133px;
		height: 105px;
	  width: 105px;
		display: block;
	}
}

.titleContainer {
	@include grid-media($sba-grid-small){
		width: 65%;
		display: inline-block;
	}
}

.largeTitle {
	font-weight: 900;
	color: $base-font-color;
	text-transform: uppercase;
	@include grid-media($sba-grid-small){
		font-size: 34px;
		margin-bottom: 0px;
	}
	@include grid-media($sba-grid-medium){
		text-align: center;
		margin-top: 12px;
		margin-bottom: 0px;
    line-height: 50px;
		font-size: 2.7em;
	}
}

.smallTitle {
	font-weight: bold;
	color: $base-font-color;
	text-transform: uppercase;
	@include grid-media($sba-grid-small){
		font-size: 20px;
	}
	@include grid-media($sba-grid-medium){
		text-align: center;
		margin-bottom: 0px;
    line-height: 31px;
		font-size: 1.33em;
	}
}

.rightArrow {
	display: none !important;
	@include grid-media($sba-grid-small){
		font-size: 48px !important;
		display: block !important;
		position: absolute;
		top: 27px;
		right: 27px;
		color: $byzantine;
	}
}

.line {
	@include grid-media($sba-grid-small){
		border: 2px solid $byzantine;
		width: 49px;
	}
	@include grid-media($sba-grid-medium){
		height: 1px;
		width: 90px;
		border: 3px solid $byzantine;
		display: block;
		margin: auto;
		margin-top: 21px;
		margin-bottom: 19px;
	}
}

.blurb {
	@include grid-media($sba-grid-small){
		margin-top: 15px;
		margin-bottom: 0px;
	}
	@include grid-media($sba-grid-medium){
		text-align: center;
		margin: 20px 40px 20px 40px;
	}
}

.cornerLines {
	display: none;
	@include grid-media($sba-grid-small){
		display: block;
		position: absolute;
		right: 0px;
		bottom: 0px;
	}
}

//SPECIFIC STYLES FOR HOVER TILE

.tileHover {
	display: none;
}

.iconHover {
	composes: icon;
	margin-top: 30px;
}

.largeTitleHover {
	composes: largeTitle;
	margin-top: 20px;
	color: white;
}

.smallTitleHover {
	composes: smallTitle;
	color: white;
}

.topLine {
	margin-top: 20px;
	background-color: rgba(255,255,255, 0.5);
	height: 1px;
	width: 100%;
}

.linkContainer {
	position: relative;
	cursor: pointer;
	padding: 5px 0 5px 15px;
	border-bottom: 1px solid rgba(255,255,255, 0.5);
	z-index: 9999 !important;
}

.link {
	font-size: 18px !important;
	color: white !important;
	text-decoration: none !important;
	font-weight: 300 !important;
}

//SPECIFIC STYLES FOR NAV MENU TABLET

.navMenu {
	@include grid-media($sba-grid-small){
		background-color: $byzantine;
		position: fixed;
		z-index: 9999999999999999999999999999999999 !important;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		-webkit-animation: slideLeft 0.7s; /* Safari, Chrome and Opera > 12.1 */
  	-moz-animation: slideLeft 0.7s; /* Firefox < 16 */
  	-ms-animation: slideLeft 0.7s; /* Internet Explorer */
  	-o-animation: slideLeft 0.7s; /* Opera < 12.1 */
  	animation: slideLeft 0.7s;

  	@keyframes slideLeft {
  		from {
  			margin-left: 800px;
  			margin-right: -2000px;
  		}
  		to {
  			margin-left: 0px;
  			margin-right: 0px;
  		}
  	}
	}
	@include grid-media($sba-grid-medium){
		background-color: $byzantine;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		-webkit-animation: fadein 0.7s; /* Safari, Chrome and Opera > 12.1 */
  	-moz-animation: fadein 0.7s; /* Firefox < 16 */
  	-ms-animation: fadein 0.7s; /* Internet Explorer */
  	-o-animation: fadein 0.7s; /* Opera < 12.1 */
  	animation: fadein 0.7s;

		@keyframes fadein {
		    from { opacity: 0; }
		    to   { opacity: 1; }
		}

		/* Firefox < 16 */
		@-moz-keyframes fadein {
		    from { opacity: 0; }
		    to   { opacity: 1; }
		}

		/* Safari, Chrome and Opera > 12.1 */
		@-webkit-keyframes fadein {
		    from { opacity: 0; }
		    to   { opacity: 1; }
		}

		/* Internet Explorer */
		@-ms-keyframes fadein {
		    from { opacity: 0; }
		    to   { opacity: 1; }
		}
	}
	@include grid-media($sba-grid-large){
		display: none;
	}
}

.navHeader {
	@include grid-media($sba-grid-small){
		display: block;
		position: relative;
		height: 70px;
	}
	@include grid-media($sba-grid-medium){
		display: none;
	}
}

.navTitleContainer {
	display: block;
	position: absolute;
	top: 50%;
  transform: translateY(-50%);
  left: 100px;

}

.navLargeTitle {
	font-weight: 900;
	color: $base-font-color;
	text-transform: uppercase;
	font-size: 34px;
	margin: 0px;
	color: white;
}

.navSmallTitle {
	font-weight: bold;
	color: $base-font-color;
	text-transform: uppercase;
	font-size: 20px;
	color: white;
	margin: 0px;
}

.navIcon {
	position: absolute;
	top: 50%;
  transform: translateY(-50%);
	height: 40px;
	width: 40px;
	left: 50px;

}

.navRightArrow {
	@include grid-media($sba-grid-small){
		display: none !important;
	}
	@include grid-media($sba-grid-medium){
		display: block !important;
		font-size: 30px !important;
		line-height: 30px !important;
		color: white;
		position: absolute;
		top: 50%;
  	transform: translateY(-50%);
  	right: 20px;
	}
}

.navLeftArrow {
	@include grid-media($sba-grid-small){
		font-size: 30px !important;
		line-height: 30px !important;
		color: white;
		position: absolute;
		top: 50%;
  	transform: translateY(-50%);
  	left: 20px;
	}

}

.navLinkContainer {
	composes: linkContainer;
	cursor: pointer;
	padding: 10px 35px 10px 15px;
}

.navLink {
	composes: link;
}

.navTopLine {
	composes: topLine;
	margin: 0px;
	@include grid-media($sba-grid-small){
		display: block;
	}
	@include grid-media($sba-grid-medium){
		display: none;
	}
}





