.Slider {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.SliderSlides {
  display: flex;
}

.SliderSlidesTransition {
  transition: transform 0.25s;
}

.SliderSlides > * {
  flex-basis: 0;
  flex-grow: 1;
}

.SliderSlides > * {
  flex-basis: 0;
  flex-grow: 1;
}

.SliderNav {
  align-content: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  order: 2;
}

.SliderNavButton {
  background: none;
  border: 0;
  height: 20px;
  opacity: 0.5;
  outline: none;
  position: relative;
  transition: opacity 0.25s;
  width: 20px;
  padding: 0;

  &::after {
    background: #345;
    border-radius: 50%;
    content: '';
    display: block;
    height: 6px;
    left: 7px;
    position: absolute;
    top: 7px;
    width: 6px;
  }
}

.SliderNavButtonActive {
  opacity: 1;

  &::after {
    height: 12px;
    left: 4px;
    opacity: 1;
    top: 4px;
    width: 12px;
  }
}

.SliderInner{
  width: 100vw;
}
