.type,
.number {
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  h6 {
    color: $secondary-black-ish !important;
    padding-top: 6px;
  }
}

.number {
  border: 2px solid $sba-gray-lighter;
}

.type {
  background-color: $sba-gray-lighter;
  border: 2px solid $sba-gray-lighter;
}
