// .container {
//   @include grid-media($sba-grid-small) {
//     @include grid-column(6);
//     margin-top: 20px;
//     margin-bottom: 40px;
//   }
//   @include grid-media($sba-grid-medium) {
//     @include grid-column(12);
//     margin-top: 20px;
//     margin-bottom: 30px;
//   }
//   @include grid-media($sba-grid-large) {
//     @include grid-column(12);
//     //    @include grid-push(2);
//   }
// }

.banner {
  position: relative;

  width: 100%;

  @include grid-media($sba-grid-small) {
    padding: 20px;
  }
  @include grid-media($sba-grid-medium) {
    padding: 20px 30px 20px 30px;
  }
  @include grid-media($sba-grid-large) {
    height: 220px;
    padding: 40px 28px 20px 28px;

    background-image: url('../../../../../public/assets/images/tensteps/title-section-pattern.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40%;
  }
}

.header {
  margin: 0 0 20px 0;
}

.applyButton {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;

  @include grid-media($sba-grid-large) {
    margin-top: 34px;
  }
}

.table {
  border-bottom: 1px solid #dadada;

  @include grid-media($sba-grid-medium-and-small) {
    display: block;
    overflow-y: auto;

    height: 600px;
    & thead {
      display: none;
    }
    & tbody,
    tr,
    td {
      display: block;
    }
    & tr {
      border-bottom: 1px solid #dadada;
    }
    & td {
      overflow: auto;

      border: none;
    }
    & .mobileHeader {
      font-weight: bold;

      float: left;

      width: 23%;
      margin-left: 2%;
      margin-right: 5%;
    }
  }
  @include grid-media($sba-grid-large) {
    & .mobileHeader {
      display: none;
    }
    & tbody,
    thead {
      display: block;
    }
    & tbody {
      overflow-x: hidden;
      overflow-y: auto;

      height: 600px;
    }
    & tbody td {
      width: 21% !important;
      padding: 10px;

      border: none;
    }
    & thead {
      display: block;

      width: 100%;
    }
    & thead tr {
      display: block;

      width: 100%;
    }
    & thead th {
      display: inline-block;

      width: 20.5vw !important;
      padding: 10px;

      border: none;
    }
    & tr {
      border-bottom: 1px solid #dadada;
    }
  }
}

.searchBox {
  position: relative;

  @include grid-media($sba-grid-small) {
    width: 100%;
  }

  @include grid-media($sba-grid-large) {
    float: left;
    display: inline-block;

    width: 200px;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }

  input {
    line-height: 34px;
    height: 48px;
    padding-right: 40px !important;
  }
}

.searchIcon {
  position: absolute;
  top: 42px;
  right: 15px;

  @media screen and (min-width: 768px) {
    top: 44px;
  }
}
