.ArrowButton {
  border-width: 2px;
  border-style: solid;
  display: inline;
  padding: 10px 16px;
  // @include font-size($h5-font-sizes);
  cursor: pointer;
}

.noLeftBorder {
  border-left-width: 0px;
}
