@include theme(sba-blue, '.ArrowButton', #fff, $sba-blue, $sba-blue);
@include theme(byzantine, '.ArrowButton', #fff, $byzantine, $byzantine);
@include theme(money-green, '.ArrowButton', #fff, $money-green, $money-green);
@include theme(cobalt-blue, '.ArrowButton', #fff, $cobalt-blue, $cobalt-blue);

@include theme-hover(sba-blue, '.ArrowButton',#fff, $sba-blue-dark, $sba-blue-dark);
@include theme-hover(byzantine, '.ArrowButton', #fff, $byzantine-dark, $byzantine-dark);
@include theme-hover(money-green, '.ArrowButton',#fff, $money-green-dark, $money-green-dark);
@include theme-hover(cobalt-blue, '.ArrowButton', #fff, $cobalt-blue-dark, $cobalt-blue-dark);

.ArrowButton {
    border-width: 2px;
    border-style: solid;
    display: inline;
    padding: 10px 16px;
    @include font-size($h5-font-sizes);
    cursor: pointer;
}

.noLeftBorder{
    border-left-width: 0px;
}
