.officeSearch {
  position: relative;
}

.searchBar {
  background-color: $sba-blue;
  label,
  h2 {
    color: white;
  }
  button {
    padding: 13px 22px;
    margin-top: 20px;
    @include grid-media($sba-grid-large) {
      margin-top: 0px;
    }
  }
}

// Fields

.field {
  @include grid-media($sba-grid-large) {
    margin-right: 20px;
    float: left;
    display: inline-block;
  }
}

.search {
  position: relative;

  @include grid-media($sba-grid-small) {
    width: 100%;
  }

  @include grid-media($sba-grid-large) {
    width: 300px;
  }

  input {
    line-height: 34px;
    height: 48px;
    padding-right: 40px !important;
  }
}
.zip {
  position: relative;

  @include grid-media($sba-grid-small) {
    width: 100%;
  }

  @include grid-media($sba-grid-large) {
    width: 170px;
  }

  input {
    line-height: 34px;
    height: 48px;
  }
}

// Balances bottom margin when error is active
.zip p {
  margin-bottom: -20px;
}

// Results

.officeResults {
  @include grid-media($sba-grid-large) {
    position: absolute;
    top: 240px;
    left: 30px;
    bottom: 27px;
    background-color: unset;
    width: 321px;
    overflow: hidden;
    pointer-events: none;
  }
}
