// NOTE: Every selector overrides react-select's default styles and so is
// prepended with .select to increase specificity

.error :global(.Select-control) {
  border-color: $sba-red;
}

.select::-ms-expand {
  // for IE 11
  display: none;
}

// override default focus stylings
.select :global(.Select.is-focused > .Select-control) {
  border: none;
  outline: $focus-outline;
  outline-offset: $focus-outline-offset;

  :global(.Select-input > input) {
    outline: none;
    position: relative;
    // verticially center input for filtering selections
    top: 6px;
  }
}

// disabled dropdowns aren't dimmed by default
.select :global(.Select.is-disabled) {
  :global(.Select-control) {
    background-color: $sba-gray-light;
    cursor: not-allowed;
  }

  :global(.Select-value-label) {
    opacity: 0.5;
  }

  // remove highlight for pseudo html input
  :global(.Select-input) {
    &:focus {
      background-color: transparent;
    }
  }
}

.select :global(.Select-control) {
  box-shadow: none;
  border-radius: 0;
  border: 1px solid $sba-gray-dark;
  height: 48px;

  // vertically center options in dropdown
  :global(.Select-value) {
    top: 6px;
  }
}

// vertically center placeholder text because the element is not actually the
// html placeholder attribute
.select :global(.Select-placeholder) {
  position: absolute;
  top: 50%;
  // NOTE: variable substitution does not work for `6px`
  transform: translateY(calc(-50% - 6px));
}

.select :global(.Select-menu-outer) {
  border-width: 1px;
  border-top: none;
  border-radius: 0;

  &:hover,
  :global(.is-focused) {
    background-color: $sba-gray-lighter;
  }
}

.select :global(.fa-chevron-down) {
  color: $sba-gray;
  margin-right: 14px;
}

.helperText {
  font-size: 14px;
  color: $sba-gray-dark;
  margin: 10px 0 10px;
}

.invalid {
  :global(.Select-control) {
    border: 2px solid $sba-red-light;
  }
  :global(.Select-placeholder) {
    height: 23px;
  }
}

.invalid.alternateError {
  :global(.Select-control) {
    border: 2px solid $sba-red-dark;
  }
  :global(.Select-placeholder) {
    height: 23px;
  }
}
