.redBorder{
    border  : 1px solid #E21C3D;
}


.innerContainer{
    position: relative;
}

.myselect{
    // @include font-size($paragraph-font-sizes);
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;
    // border: 1px solid $grey;
    // border-radius: 0;
    // height: 48px;
    // background: url("../../../../../public/assets/svg/chevron.svg") no-repeat 95% 50%;
    // padding-left: 14px;
}

.myselect::-ms-expand { /* for IE 11 */
    display: none;
}

.myoption{
    @include font-size($paragraph-font-sizes);
    border: 1px solid $grey;
    border-radius: 0;
}

.validationIcon{
    right: 30px;
}


.has-success .label {
    border: 1px solid #3c763d;
}

.myselect :global(.Select-control) {
    border-radius: 0px !important;
    border: 1px solid #666666;
    height: 48px;
}

.myselect :global(.Select-control:focus) {
    outline: none !important;
    border: 1px solid #609F00 !important;
    box-shadow: none !important;
}

.myselect :global(.Select-placeholder) {
    line-height: 21px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.myselect :global(.Select-value) {
    border: 1px solid #666666 !important;
    // background-color: #EBEBEB !important;
    border-radius: 5px !important;
    color: #333333 !important;

}

.myselect :global(.Select-value-icon) {
    border-right: 1px solid #666666 !important;
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
}

.myselect :global(.Select-value-icon:hover) {
    background-color: white !important;
    background-color: lightgray !important;
    color: #333333 !important;
}

.myselect :global(.is-focused) :global(.Select-control) {
    border: 1px solid #609F00;
}

.myselect :global(.is-focused) :global(.Select-menu-outer) {
    border: 1px solid #609F00;
    border-top: none;
    border-radius: 0;
}

.myselect :global(.Select-input):hover {
    background: red;
}

.myselect :global(.Select-option) :global(.is-focused) {
    background-color: #EBEBEB;
}

.myselect :global(.is-focused):not(.is-open)>:global(.Select-control) {
    border: 1px solid #609F00;
    box-shadow: none;
}

.myselect :global(.Select-input) input[role="combobox"]{
    border: 0px;
}

.myselect :global(.Select-arrow-zone) i{
    width: 100%;
}
