.cardCollection {
  clear: left;
}

.cardRow {
  overflow: hidden;
  position: relative;
  @include grid-media($sba-grid-large) {
    margin-bottom: 30px;
  }
}

.card {
  background-color: white;
  border-top: 3px solid $sba-blue;
  @include grid-media($sba-grid-medium-and-small) {
    height: auto;
    margin-bottom: 30px;
    padding: 30px;
    @include grid-column(6, $sba-grid-medium-and-small);
  }
  @include grid-media($sba-grid-large) {
    padding: 20px;
    @include grid-column(4, $sba-grid-large);
  }
}

// Do we need this?
// .card:before {
//   @include grid-media($sba-grid-large) {
//     @include grid-column(4, $sba-grid-large);
//     content: '';
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     z-index: -1;
//     margin-left: -20px;
//   }
// }
