.card {
  background-color: white;
  border-top: 3px solid $sba-blue;
  margin-bottom: 30px;

  @include for-small-only {
    padding: 30px;
    @include grid-column(12);
  }

  @include for-medium-only {
    padding: 30px;
    @include grid-column(6, (gutter: 30px));
  }

  @include for-large-up {
    padding: 20px;
    @include grid-column(4, (gutter: 30px));
  }
}
