@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  color: $sba-blue-dark;
  cursor: pointer;
  display: flex;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion.active {
  border-bottom: 1px solid #cccccc;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  margin-top: 0px;
  background-color: #f5f5f5;
}

/* Style the accordion content title */
.accordion__title {
  color: $sba-blue;
  font-weight: 600;
  font-family: 'Source Sans Pro';
  font-size: 27px;
  width: 100%;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding: top 1px;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
  float: right;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
  border-bottom: 1px solid #cccccc;
}

/* Style the accordion content text */
.accordion__text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
  ul {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
    li {
      list-style-type: circle;
      margin: 0;
      margin-left: 20px;
    }
  }
}
