.container {
  background-color: $sba-blue;
  text-align: center;
  @include grid-media($sba-grid-small) {
    @include grid-container;
    @include grid-column(6);
    margin: 20px 0 20px 20px;
    padding-bottom: 20px;
  }
  @include grid-media($sba-grid-medium) {
    @include grid-container;
    @include grid-column(12);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
  }

  $sba-grid-large-custom: (
    columns: 12,
    gutter: 42px,
    media: '(min-width: $breakpoint-large)'
  );

  @include grid-media($sba-grid-large-custom) {
    @include grid-column(2.94);
    position: absolute;
    margin-top: -170px;
    margin-bottom: 0px;
    padding-bottom: 28px;
    bottom: 462px;
  }
}

.container h6 {
  color: white;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  @include for-medium-only {
    display: inline;
    margin-right: 30px;
  }
  @include for-large-up {
    display: block;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 20px;
  }
}

.cornerLines {
  position: absolute;
  right: 0px;
  bottom: 0px;
  @include grid-media($sba-grid-small) {
    display: block;
  }
  @include grid-media($sba-grid-medium) {
    display: block;
  }
  @include grid-media($sba-grid-large) {
    display: none;
  }
}
