.container {
    padding: 20px 0;
    text-align: center;
    position: relative;
}

@include theme(byzantine, '.container', $byzantine-dark, #fff , null);

.container p {
    color: $white;
    text-align: center;
    @include font-size($h6-font-sizes);
    font-weight: 600;
    @include grid-media($sba-grid-medium) {
      display: inline;
      margin-right: 30px
    }
    @include grid-media($sba-grid-large) {
      margin-right: 0;
      display: block;
  }
}

@include theme(byzantine, '.container button', $white, $byzantine , $white);
@include theme-hover(byzantine, '.container button', $byzantine-lightest, $byzantine, $byzantine-lightest);

.cornerLines {
  display: none;
  position: absolute;
  right: 0px;
  bottom: 0px;
  @include grid-media($sba-grid-small) {
    display: block;
  }
  @include grid-media($sba-grid-medium) {
    display: block;
  }
}
