#{$all-buttons} {
  appearance: none;
  border: 0;
  border-radius: $base-border-radius;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 1.222rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 1;
  padding: 1.063rem 1.375rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }

  &:disabled {
    background-color: $sba-gray-light;
    color: white;
    cursor: not-allowed;
  }
}
