#{$all-buttons} {
  appearance: none;
  background-color: $sba-blue;
  border: 2px solid;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $sans-serif-font-family;
  font-size: 1.4em;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
  line-height: 1;
  padding: 0.75em 1.25em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  // transition: background-color $base-duration $base-timing;
  // transition: base-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: normal;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #c4c4c4;
    color: #fff;
  }
}
