@mixin for-small-only {
  @media (max-width: $breakpoint-medium - 1) {
    @content;
  }
}

// TODO: do we need this?
@mixin for-small-up {
  @media (min-width: $breakpoint-small) {
    @content;
  }
}

@mixin for-small-and-medium-only {
  @media (max-width: $breakpoint-large - 1) {
    @content;
  }
}

@mixin for-medium-up {
  @media (min-width: $breakpoint-medium) {
    @content;
  }
}

@mixin for-medium-only {
  @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large - 1) {
    @content;
  }
}

@mixin for-large-up {
  @media (min-width: $breakpoint-large) {
    @content;
  }
}

// ---

@mixin button {
  appearance: none;
  border: 0;
  border-radius: $base-border-radius;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }

  &:disabled {
    background-color: $sba-gray-light;
    color: white;
    cursor: not-allowed;
  }
}

// ---

@mixin lede-type {
  color: $sba-gray-dark;
  font-family: $serif-font-family;
  font-size: 1.167rem;
  font-style: italic;
  font-weight: 300;
  line-height: 1.667;
  margin-bottom: 1.1em;
}

// ---

// TODO: This should be a mixin that takes in parameters for border width, box
// shadow and maybe padding.
@mixin call-to-action {
  background-color: white;
  border-top: 5px solid $sba-blue;
  box-shadow: 6px 7px 20px 0 rgba(black, 0.1);
  padding: 3rem;
}

@mixin content-container {
  @include for-small-only {
    @include margin(null 20px);
  }

  @include for-medium-only {
    @include margin(null 30px);
  }

  @include for-large-up {
    @include margin(null 80px);
  }
}
