html, body {
  color: $base-font-color;
  font-family: $base-font-family;
  @include font-size($base-font-sizes);
  line-height: $base-line-height;
  letter-spacing: -0.4px;
}

button,
input,
optgroup,
select,
textarea {
   letter-spacing: -0.4px;  // must be explicit enter those this is declared on the body because a browser's "user agent styelsheet" might override the body declaration
}

body {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $heading-line-height;
  font-style: normal;;
}

h1 {
  @include font-size($h1-font-sizes);
  font-weight: 900;
  margin: 0 0 .6em 0;
}

h2 {
  @include font-size($h2-font-sizes);
  font-weight: 900;
  margin: 0 0 .5em 0;
}

h3 {
  @include font-size($h3-font-sizes);
  font-weight: 900;
  margin: 0 0 .5em 0;
}

h4 {
  @include font-size($h4-font-sizes);
  font-weight: 700;
  margin: 0 0 .5em 0;
}

h5 {
  @include font-size($h5-font-sizes);
  color: #666666;
  font-family: $serif-font;
  font-weight: 400;
  margin: 0 0 2em 0;
  line-height: 1.5;
}

h6 {
  @include font-size($h6-font-sizes);
  font-weight: 700;
  margin: 0 0 .5em 0;
}

p {
  @include font-size($paragraph-font-sizes);
  margin: 0 0 1.1em 0;
}

a {
  color: $sba-blue;
  text-decoration: underline;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

@include theme(sba-blue, a, null, $sba-blue-dark, #fff);
@include theme(byzantine, a, null, $byzantine, #fff);
@include theme(money-green, a, null, $money-green-dark, #fff);
@include theme(cobalt-blue, a, null, $cobalt-blue, #fff);

@include theme-hover(sba-blue, a, null, $sba-blue-darkest, null);
@include theme-hover(byzantine, a, null, $byzantine-dark, null);
@include theme-hover(money-green, a, null, $money-green-darkest, null);
@include theme-hover(cobalt-blue, a, null, $cobalt-blue-dark, null);



hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

em{
    font-style: italic;
}
