html {
  color: $secondary-black-ish;
  font-family: $sans-serif-font-family;
  font-size: $base-font-size;
  letter-spacing: -0.4px;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;

  //--webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
}

body {
}

// # Headings -----------------------------------------------------------------

h1,
h2,
h3,
h4,
h6 {
  color: $sba-blue;
  line-height: $heading-line-height;
  margin-bottom: 0.5rem;
}

h1,
h3,
h4,
h6 {
  font-weight: 600;
}

h3,
h4,
h5,
h6 {
  letter-spacing: -0.3px;
}

h1,
h2 {
  letter-spacing: 0;
}

h2,
h5 {
  font-weight: normal;
}

h1 {
  font-size: 2.667rem;

  @include for-large-up {
    font-size: 3.375rem;
  }
}

h2 {
  font-size: 1.777rem;

  @include for-large-up {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.23rem;
}

h5 {
  color: $sba-gray-dark;
  font-family: $serif-font-family;
  font-size: 1.167rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1.1rem;
}

h6 {
  font-size: 1rem;
}

// # Block elements -----------------------------------------------------------

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.1rem;
}

// # Inline elements ----------------------------------------------------------

em {
  font-style: italic;
}

// # Links --------------------------------------------------------------------

// TODO: with icon
a {
  color: $secondary-blue;
  cursor: pointer;
  text-decoration-skip-ink: auto;
  transition: color $base-duration $base-timing;

  &:hover {
    color: $secondary-blue-light;
  }

  &:focus {
    // TODO: convert to mixin
    outline: $focus-outline-width dotted $sba-gray-light;
    outline-offset: $focus-outline-offset;
  }
}

// # Header rule --------------------------------------------------------------

hr {
  border-bottom: 2px solid $sba-gray-light;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin-bottom: 2.8rem;
}

// TODO: not working
hr.alt {
  border-color: $sba-red !important;
  margin-top: 0.2rem;
  width: 18.667;
}
