html {
  color: $secondary-black-ish;
  font-family: $sans-serif-font-family;
  font-size: $base-font-size;
  letter-spacing: -0.4px;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;

  //--webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
}

body {
}

// # Headings -----------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h6 {
  color: $sba-blue;
  line-height: $heading-line-height;
  margin-bottom: 0.5rem;
}

h1,
h3,
h4,
h6 {
  font-weight: 600;
}

h3,
h4,
h5,
h6 {
  letter-spacing: -0.3px;
}

h1,
h2 {
  letter-spacing: 0;
}

h1 {
  font-size: 2.667rem;

  @include for-large-up {
    font-size: 3.375rem;
  }
}

h2 {
  font-size: 1.777rem;
  font-weight: 400;

  @include for-large-up {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.23rem;
}

h5 {
  @include lede-type;
}

h6 {
  font-size: 1rem;
}

// # Block elements -----------------------------------------------------------

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.1rem;
}

.lede {
  @include lede-type;
}

// # Inline elements ----------------------------------------------------------

em {
  font-style: italic;
}

// # Links --------------------------------------------------------------------

a {
  cursor: pointer;
  text-decoration-skip-ink: auto;
  transition: color $base-duration $base-timing;

  // &:active,
  // &:visited {
  //   color: inherit;
  // }

  &:focus {
    // TODO: convert to mixin
    outline: $focus-outline-width dotted $sba-gray-light;
    outline-offset: $focus-outline-offset;
  }
}

a:not([class]) {
  color: $secondary-blue;

  &:hover {
    color: $secondary-blue-light;
  }
}

// # Header rule --------------------------------------------------------------

hr {
  border: 0;
}

hr:not([class]) {
  border-top: 1px solid $sba-gray-light;
  margin-bottom: 2.8rem;
}
