@mixin theme($theme, $component, $background-color, $text-color, $border-color) {
  :global(.#{$theme}){
    #{$component}{
      background-color: $background-color;
      color: $text-color;
      border-color: $border-color;
      &:disabled {
        cursor: not-allowed;
        background-color: #C4C4C4;
        border-color: #C4C4C4;
        color: #fff;
      }
    }
  }
}

@mixin theme-hover($theme, $component, $background-color, $text-color, $border-color) {
  :global(.#{$theme}){
    #{$component}{
      &:hover,
      &:focus {
        background-color: $background-color;
        color: $text-color;
        border-color: $border-color;
          &:disabled {
            cursor: not-allowed;
            background-color: #C4C4C4;
            color: #fff;
            border-color: #C4C4C4;
          }
      }

    }
  }
}

@mixin theme-focus($theme, $component, $focus-color) {
  :global(.#{$theme}) {
    #{$component}:focus {
      border-color: $focus-color;
    }
  }
}



// Breakpoints
$small-screen: 767px;
$medium-screen: 768px;
$large-screen: 1080px;

// Grid
$sba-grid-large: (
  columns: 12,
  gutter: 30px,
  media: "(min-width: $large-screen)",
);

$sba-grid-medium: (
  columns: 12,
  gutter: 30px,
  media: "(min-width: $medium-screen)",
);

$sba-grid-small: (
  columns: 6,
  gutter: 20px,
  media: "(max-width: $small-screen)",
);

// Typography
$san-serif-font: "Source Sans Pro", $font-stack-helvetica;
$serif-font: "Merriweather", $font-stack-georgia;
$base-font-family: $san-serif-font;
$heading-font-family: $base-font-family;

// // Font Sizes
@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      // If $fs-font-size is a key that exists in
      // $fs-breakpoints, use the value
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

$breakpoints: (
  null : 767px,
  medium: 768px,
  large : 1080px
);

$base-font-sizes: (
  null: 16px,
  medium: 18px,
  large: 18px
  );

$extra-large-title-font-sizes:  (
  null: 2.875rem,
  medium: 5rem,
  large: 6.66rem
  );

$h1-font-sizes: (
  null: 2rem,
  medium: 3rem,
  large: 4rem
  );

$h2-font-sizes: (
  null: 1.5rem,
  medium: 2rem,
  large: 3rem
  );

$h3-font-sizes: (
  null: 1.25rem,
  medium: 1.5rem,
  large: 2rem
  );

$h4-font-sizes: (
  null: 1.1rem,
  medium: 1.25rem,
  large: 1.5rem
  );

$h5-font-sizes: (
  null: 1rem,
  medium: 1rem,
  large: 1.2rem
  );

$h6-font-sizes: (
  null: 1rem,
  medium: 1rem,
  large: 1rem
  );

$paragraph-font-sizes: (
  null: 1rem,
  medium: 1rem,
  large: 1rem
  );

// Line height
$base-line-height: 1.5;
$heading-line-height: 1;

$margin-50: 50px;
$margin-30: 30px;
$margin-20: 20px;
$margin-10: 10px;

// Other Sizes
$base-border-radius: 0;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$error: #E21C3D;

// Font Colors
$base-font-color: #333333;
$action-color: #0B97DD;

// Colors
$sba-blue: #0B97DD;
$sba-blue-darkest: #004265;
$sba-blue-dark: #006BA2;
$sba-blue-light: #9DDDFF;
$sba-blue-lightest: #D6ECFC;

$byzantine: #AB3EA0;
$byzantine-darkest: #511D4C;
$byzantine-dark: #7E2E76;
$byzantine-light: #C661BB;
$byzantine-lightest: #E7BEE3;

$money-green: #609F00;
$money-green-darkest: #1F3A00;
$money-green-dark: #336200;
$money-green-light: #8BC03B;
$money-green-lightest: #DBEDC0;

$cobalt-blue: #0F48AA;
$cobalt-blue-darkest: #05183A;
$cobalt-blue-dark: #0A3072;
$cobalt-blue-light: #4E89EF;
$cobalt-blue-lightest: #C8DAFA;

$grey: #666666;
$grey-dark: #333333;
$grey-light: #C4C4C4;
$grey-lighter: #EBEBEB;
$grey-lightest: #F7F7F7;

$crimson: #E21234;

// SBA
$sba-blue: #0B97DD;
$byzantine: #AB3EA0;
$money-green: #609F00;
$cobalt-blue: #0F48AA;
$sba-blue-dark: #006BA2;
$byzantine-dark: #7E2E76;
$money-green-dark: #336200;
$cobalt-blue-dark: #0A3072;

// Font Colors
$text-grey: #333333;
$base-font-color: $text-grey;
$action-color: $sba-blue;

// Border
$base-border-color: #666666;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: none;

// Animations
$base-duration: 150ms;
$base-timing: ease;

$primary-color-map:(
	"sba-blue": $sba-blue,
	"byzantine": $byzantine,
	"money-green": $money-green,
	"cobalt-blue": $cobalt-blue
);

@mixin small-button($component){
    #{$component} {
      font-size: 1.1em;
      font-weight: 700;
    }
}

@mixin single-color-button($component, $my-color) {
     @each $name, $value in $primary-color-map{
        :global(.#{$name}) {
            #{$component} {
                background-color: #fff;
                color: $my-color;
                border-color: null;

                &:focus,
                &:hover {
                    background-color: $my-color;
                    color: #fff;
                    border-color: my-color;
                }
            }
        }
    }
}
