.noImage {
  border-top: 3px solid $sba-blue;
}

.leftAligned {
  text-align: left;

  hr {
    text-align: left;
    margin-top: 14px;
    margin-bottom: 9px;
  }
}

.twoColumn {
  @include grid-column(6);
}

.threeColumn {
  @include grid-column(4);
}

.fourColumn {
  @include grid-column(3);
}

.sixColumn {
  @include grid-column(2);
}

.card {
  background-color: white;
  margin-bottom: 1.5em;
  margin-top: 1.5em;

  .itemTitle {
    margin-top: 15px;
    margin-bottom: 10px;

    a {
      color: $sba-blue;
    }
  }

  @include grid-media($sba-grid-small) {
    @include grid-column(6);
  }
}
