.card {
  @include for-small-only {
    @include grid-column(12);
  }

  margin-bottom: 1.5em;
  margin-top: 1.5em;

  .itemTitle {
    margin-top: 15px;
    margin-bottom: 10px;

    a {
      color: $sba-blue;
      text-decoration: none;
    }
  }
}

.content {
  background-color: white;
}

.noImage {
  border-top: 3px solid $sba-blue;
}

.twoColumn {
  @include for-medium-up {
    @include grid-column(6);
  }
}

.threeColumn {
  @include for-medium-up {
    @include grid-column(4);
  }
}

.fourColumn {
  @include for-medium-only {
    @include grid-column(6);
  }

  @include for-large-up {
    @include grid-column(3);
  }
}

.sixColumn {
  @include for-medium-only {
    @include grid-column(4);
  }

  @include for-large-up {
    @include grid-column(2);
  }
}
