.container {
    @include grid-media($sba-grid-small) {
        //padding-top: 100px;
    }
    @include grid-media($sba-grid-medium) {
        .backLink{
            display: none;
        }
    }
    @include grid-media($sba-grid-large) {
        .backLink{
            display: none;
        }
    }
}

.feedback,
.lookup,
.sectionHeader,
.textSection,
.titleSection,
.previousNext,
.breadcrumb {
    padding-bottom: 30px;
    @include grid-media($sba-grid-small) {
         @include grid-column(6);
        @include grid-push(0);
    }
    @include grid-media($sba-grid-medium) {
        @include grid-column(12);
        @include grid-push(0);
    }
    @include grid-media($sba-grid-large) {
        @include grid-column(7, $sba-grid-large);
        @include grid-push(4);
    }
}

.image {
    @include grid-media($sba-grid-medium){

    }
    @include grid-media($sba-grid-large){
        @include grid-column(9, $sba-grid-large);
        @include grid-push(3);
        padding-bottom: 30px;
    }
}

.callToAction {
    @include grid-media($sba-grid-small) {
        @include grid-column(6, $mobile-0gutter)
    }
    @include grid-media($sba-grid-medium) {
        @include grid-column(12, $sba-grid-medium)
    }
    @include grid-media($sba-grid-large) {
        @include grid-column(7, $sba-grid-large);
        @include grid-push(4);
    }
}

.breadcrumb{
    @include grid-media($sba-grid-small){
        display: none;
    }
}

.backLink{
    position: relative;
    height: 60px;
    margin-bottom: 30px;
}

.backLink a:before {
    content: "\f104";
    font-family: FontAwesome;
    font-size: 30px;
    margin-right: 15px;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

.backLink a {
    display: block;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    padding: 20px 60px 10px;
    text-decoration: none;

}

@include theme(sba-blue, '.backLink', $sba-blue, $sba-blue, $sba-blue);
@include theme(byzantine, '.backLink', $byzantine, $byzantine, $byzantine);
@include theme(money-green, '.backLink', $money-green, $money-green, $money-green);
@include theme(cobalt-blue, '.backLink', $cobalt-blue, $cobalt-blue, $cobalt-blue);

@include theme(sba-blue, '.backLink a, .backLink', null, #fff, rgba(255, 255, 255, 0.25));
@include theme(byzantine, '.backLink a, .backLink', null, #fff, rgba(255, 255, 255, 0.25));
@include theme(money-green, '.backLink a, .backLink', null, #fff, rgba(255, 255, 255, 0.25));
@include theme(cobalt-blue, '.backLink a, .backLink', null, #fff, rgba(255, 255, 255, 0.25));

@include theme-hover(sba-blue, '.backLink a, .backLink', $sba-blue-dark, #fff, $sba-blue-dark);
@include theme-hover(byzantine, '.backLink a, .backLink', $byzantine-dark, #fff, $byzantine-dark);
@include theme-hover(money-green, '.backLink a, .backLink', $money-green-dark, #fff, $money-green-dark);
@include theme-hover(cobalt-blue, '.backLink a, .backLink', $cobalt-blue-dark, #fff, $cobalt-blue-dark);
