body {
    font-family: 'Source Sans Pro', 'sans-serif';
    color: #333333;
    line-height: 1.5;
    // color: red;
}

// Mobile
h2 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 12px;
}

h3 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}

h5 {
    color: #666666;
    font-family: Merriweather;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 32px;
}

h4 {
    font-size: 17.6px;
    font-weight: 900;
    margin-bottom: 9px;
}

p {
    font-size: 16px;
    margin-bottom: 17.6px;
}

// Tablet
@media (min-width: 768px) {
h2 {
    font-size: 36px;
    margin-bottom: 18px;
}

h3 {
    font-size: 27px;
    margin-bottom: 14px;
}

h4 {
    font-size: 23px;
    margin-bottom: 11px;
}

h5 {
    font-size: 18px;
    margin-bottom: 36px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}
}

// Desktop
@media (min-width: 1080px) {
 h2 {
    font-size: 54px;
    margin-bottom: 30px;
}

h3 {
    font-size: 36px;
    margin-bottom: 20px;
}

h4 {
    font-size: 27px;
    margin-bottom: 15px;
}

h5 {
    font-size: 24px;
    margin-bottom: 50px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
} 
}
