.authorCardsSectionHeading {
  @include grid-media($sba-grid-small) {
    padding: 50px 20px 20px;
  }
  @include grid-media($sba-grid-medium) {
    padding: 50px 30px 20px;
  }
  @include grid-media($sba-grid-large) {
    padding: 50px 80px 20px;
  }
}

.grayBackground {
  background-color: $sba-gray-lighter;
}