.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.66);
}

.content {
    background-color: white;
    position: absolute;
    width: 665px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    margin: auto;
    padding: 40px 40px 30px;
    font-family: "Source Sans Pro";

    @media screen and (max-width: 767px) {
        width: 90vw;
        position: absolute;
        height: auto;
        margin: auto;
        padding: 8vw;
        left: 50%;
        top: 50%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.logo {
    display: block;
    margin: auto;
    margin-bottom: 25px;

    @media screen and (max-width: 767px) {
        width: 26.7vw;
        margin-bottom: 6.7vw;
        height: auto;
    }
}

.closeIcon {
    position: absolute;
    top:30px;
    right:30px;
    cursor: pointer;
}

.title {
    margin-bottom: 22px;
    text-align: center;

}

.divider {
    width: 160px;
    border: 2px solid #0B97DD;
    margin: auto;
    margin-bottom: 22px;

    @media screen and (max-width: 767px) {
        width: 100px;
    }
}

.text {
    text-align: center;
    margin-bottom: 30px;

}

.btnContainer {
    text-align: center;

    button {
        margin-right: 30px;
    }
}

// .btn {
//     width: 124px;
//     font-size: 18px;
//     font-weight: 900;
//     padding: 12px 0 12px;

//     @media screen and (max-width: 767px) {
//         width: 100%;
//     }
// }

// .btnCancel {
//     // composes: btn;
//     // color: #666666;
//     // background-color: white;
//     // border: 2px solid #666666;
//     margin-right: 30px;
//   //   &:hover,
//   //   &:focus {
//   //   // background-color: #666666;
//   //   // color: #fff;
//   // }
//     @media screen and (max-width: 767px) {
//         margin-right: 0;
//     }
// }

// .btnContinue {
//     composes: btn;
//     color: white;
//     background-color: #0093DF;
//     border: none;
//     position: relative;
//         @media screen and (max-width: 767px) {
//         margin-top: 20px;
//     }
// }
