.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.66);
    margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
    @include grid-media( $sba-grid-small) {
    padding: 0 19px;
    }
}

.content {
    background-color: #fff;
    position: relative;
    // top: 50%;
    // right: 50%;
    // transform: translate(-50%, -50%);
    //     -ms-transform: translate(-50%, -50%);
    //     -webkit-transform: translate(-50%, -50%);
    //     -moz-transform: translate(-50%, -50%);
    //     -o-transform: translate(-50%, -50%);
    //     transform: translate(-50%, -50%);
    padding: 30px;
    width: calc(100% - 38px);
    @include grid-media( $sba-grid-medium) {
        width: 556px;
    }
    &:focus {
        outline: none;
    }

}

.logo {
    display: block;
    margin: auto;
    margin-bottom: 25px;

    @media screen and (max-width: 767px) {
        width: 26.7vw;
        margin-bottom: 6.7vw;
        height: auto;
    }
}

.closeIcon {
    position: absolute;
    cursor: pointer;
    right: 30px;
    width: 21px;
}

.title {
    margin-bottom: 22px;
    text-align: center;
    padding: 0 30px;

}

.divider {
    width: 160px;
    border: 2px solid #0B97DD;
    margin: auto;
    margin-bottom: 22px;

    @media screen and (max-width: 767px) {
        width: 100px;
    }
}

.text {
    text-align: center;
    margin-bottom: 30px;

}

.btnContainer {
    margin: 0 auto;
    @include grid-media($sba-grid-small) {
        button {
            width: 100%;
            &:first-child {
            margin-bottom: 20px;
            }
        }
    }
    @include grid-media($sba-grid-medium) {
    max-width: 305px;
        button {
            width: 135px;
            &:first-child {
            margin-left: 30px;
            float: right;
        }
      }
    }
}
