@include theme(sba-blue, '.SmallPrimaryButton', $sba-blue, #fff, $sba-blue);
@include theme(byzantine, '.SmallPrimaryButton', $sba-blue, #fff, $sba-blue);
@include theme(money-green, '.SmallPrimaryButton', $sba-blue, #fff, $sba-blue);
@include theme(cobalt-blue, '.SmallPrimaryButton', $sba-blue, #fff, $sba-blue);

@include theme-hover(sba-blue, '.SmallPrimaryButton', $sba-blue-dark, #fff, $sba-blue-dark);
@include theme-hover(byzantine, '.SmallPrimaryButton', $sba-blue-dark, #fff, $sba-blue-dark);
@include theme-hover(money-green, '.SmallPrimaryButton', $sba-blue-dark, #fff, $sba-blue-dark);
@include theme-hover(cobalt-blue, '.SmallPrimaryButton', $sba-blue-dark, #fff, $sba-blue-dark);

//@include small-button(".SmallPrimaryButton");


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background-color: rgba(0,0,0,0.66);
}

.content {
  background-color: #D6ECFC;
  position: relative;
  width: 400px;
  height: auto;
  top: 50%;
  transform: translate(5%,-50%);
  margin: auto;
  padding: 20px;
  font-family: "Source Sans Pro";
}

.exitIcon {
  position: absolute;
  top:30px;
  right:30px;
  width: 26.16px;
  height: 26.16px;
  color: #666666;
  transform: scaleX(-1);
  border-radius: 1px;
  cursor: pointer;
}
.removeForm{
  display: none;
}

.hideForm{
  visibility: hidden;

}
.showForm{
  visibility: visible;
}

.envelopeIcon{
  position: absolute;
  height: 33px;
  width: 54px;
  top: 120px;
  right: 170px;
}

.byeMsg{
  position: absolute;
  height: 26px;
  width: 268px;
  top: 160px;
  right: 50px;
  color: #333333;
  font-size: 24px;
  font-weight: 900;
  line-height: 26px;
}

.title {
  height: 44px;
  width: 280px;
  color: #333333;
  font-family: "Source Sans Pro";
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.zipTextBox {
  display: inline-block;
  height: 0px;
  width: 180px;
  background-color: #FFFFFF;
}

.btnContainer{
  display: inline-block;
  margin-top: 5px;
  vertical-align: top;
  padding-left: 20px;
}

.privacyLink{
  margin-top: 30px;
  text-align: center;
  vertical-align: top;
}

.btnSubscribe {
  width: 160px;
  height: 48px;
  font-size: 24px;
  font-weight: 900;
  color: white;
  background-color: #0093DF;
  padding-top: 2.5px;
  border: none;
  text-align: center;
  padding-bottom: 2.5px;
  padding-left: 16px;
  vertical-align: middle;
}