
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background-color: rgba(0,0,0,0.66);
}

.content {
  background-color: #D6ECFC;
  position: relative;
  width: 351px;
  height: auto;
  top: 50%;
  transform: translate(5%,-50%);
  margin: auto;
  padding: 20px;
  font-family: "Source Sans Pro";

}

.exitIcon {
  width: 19.38px;
  height: 19.38px;
  color: #666666;
  border-radius: 1px;
  cursor: pointer;
}

.imgContainer{
  float: right;
  width: 19.38px;
  height: 19.38px;
}

.exitIconBye {
  position: absolute;
  margin-left: 10px;
  width: 19.38px;
  height: 19.38px;
  color: #666666;
  border-radius: 1px;
  cursor: pointer;

}

.removeForm{
  display: none;
}

.hideForm{
  visibility: hidden;

}
.showForm{
  visibility: visible;
}

.envelopeIcon{
  position: absolute;
  height: 33px;
  width: 54px;
  top: 80px;
  right: 150px;
}

.byeMsg{
  position: absolute;
  height: 26px;
  width: 268px;
  top: 125px;
  right: 40px;
  color: #333333;
  font-size: 24px;
  font-weight: 900;
  line-height: 26px;
}

.byeContainer{
  height: 200px;
}

.title {
  height: 44px;
  width: 282px;
  color: #333333;
  font-family: "Source Sans Pro";
  margin-bottom: 15px;
  float: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.titleWrapper:after{
  content: "";
  display: block;
  clear: both;
}

.zipTextBox {
  display: inline-block;
  height: 50px;
  width: 162px;
  background-color: #D6ECFC;
  vertical-align: top;
}

.btnContainer{
  display: inline-block;
  width: 134px;
  padding-left: 0;
  margin-top: 7px;
  vertical-align: top;
  float: right;
}

.zipButtonWrapper{
  content: "";
  display: block;
  clear: both;
}

.privacyLinkContainer{
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
  vertical-align: top;
}
.privacyLink{
  color: #006BA2 !important;
  font-size: 13px;
}

