.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.66);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  @include grid-media( $sba-grid-small) {
    padding: 0 1.056rem;
  }
}

.content {
  background-color: #fff;
  position: relative;
  padding: 1.667rem;
  width: calc(100% - 2.111rem);
  @include grid-media( $sba-grid-medium) {
    width: 30.889rem;
  }

  &:focus {
    outline: none;
  }
}

.logo {
  display: block;
  margin: 1.778rem auto 1.778rem auto;
  height: auto;
  width: 9.167rem;
}

.closeIcon {
  position: absolute;
  cursor: pointer;
  right: 1.667rem;
  width: 1.667rem;
  height: 1.611rem;
}

.title {
  color: $sba-blue;
  margin: 0.222rem 0 1.222rem 0;
  text-align: center;
  padding: 0 1.667rem;
}

.divider {
  width: 8.889rem;
  border: 1.5px solid $sba-red;
  margin: auto auto 1.222rem auto;
  @media screen and (max-width: 42.611rem) {
    width: 5.556rem;
  }
}

.text {
  margin-bottom: 1.667rem;
}

.btnContainer {
  margin: 0 auto;
  @include grid-media($sba-grid-small) {
    button {
      width: 100%;

      &:first-child {
      }
    }
  }
  @include grid-media($sba-grid-medium) {
    max-width: 18.056rem;

    button {
      &:first-child {
        margin-left: 1.667rem;
        float: right;
      }
    }
  }
}
