.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.66);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  @include grid-media($sba-grid-small) {
    padding: 0 19px;
  }
}

.content {
  background-color: $sba-white;
  position: relative;
  padding: 30px;
  width: calc(100% - 38px);
  @include grid-media($sba-grid-medium) {
    width: 556px;
  }

  &:focus {
    outline: none;
  }
}

.logo {
  display: block;
  margin: 32px auto 32px auto;
  height: auto;
  width: 165px;
}

.closeIcon {
  position: absolute;
  cursor: pointer;
  right: 30px;
  width: 30px;
  height: 29px;
}

.title {
  color: $sba-blue;
  margin: 4px 0 22px 0;
  text-align: center;
  padding: 0 30px;

  &:focus {
    outline: 2px dotted $sba-gray-light;
    outline-offset: 3px;
  }
}

.divider {
  width: 160px;
  border: 1.5px solid $sba-red;
  margin: auto auto 22px auto;

  @media screen and (max-width: 767px) {
    width: 100px;
  }
}

.text {
  margin-bottom: 30px;

  &:focus {
    outline: 2px dotted $sba-gray-light;
    outline-offset: 3px;
  }
}

.btnContainer {
  text-align: center;
}
