.readMore {
  @include for-small-only {
    width: 100%;
  }
}
.readMoreSection {
  background-color: white;
  border-top: 2px solid $sba-blue;
  box-shadow: $box-shadow;
  margin-bottom: 40px;
  padding: 40px;

  h3 {
    color: $sba-blue;
  }
}

.lineCopy {
  box-sizing: border-box;
  height: 3px;
  width: 60px;
  border: 3px solid;
  text-align: left;

  @include grid-media($sba-grid-small) {
    width: 80px;
    text-align: left;
  }
}

.preview {
  font-size: 18px;
  font-style: italic;
  line-height: 1.333;
}

.expandedCopyText {
  color: #333333;
  font-size: 18px;
  line-height: 27px;
}
