.readMoreSection {
  padding: 40px;
  margin-bottom: 40px;
  background-color: #ebebeb;
}

.lineCopy {
  box-sizing: border-box;
  height: 3px;
  width: 60px;
  border: 3px solid;
  text-align: left;
  @include grid-media($sba-grid-small) {
    width: 80px;
    text-align: left;
  }
}

.title {
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
}

.preview {
  color: #333333;
  font-size: 18px;
  font-style: italic;
  line-height: 27px;
}

.expandedCopyText {
  color: #333333;
  font-size: 18px;
  line-height: 27px;
}

@include grid-media( $sba-grid-small) {
  .readMore {
    width: 100%;
  }
}
