.markerContainer {
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
  -ms-animation: fadein 5s; /* Internet Explorer */
  -o-animation: fadein 5s; /* Opera < 12.1 */
  animation: fadein 5s;
}

.marker {
  position: relative;
  box-sizing: border-box;
  height: 34px;
  width: 34px;
  border: 2px solid #ffffff;
  background-color: #609f00;
  border-radius: 17px;
}

.markerText {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.triangle {
  position: absolute;
  z-index: -9999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 25px;
  width: 0;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;

  border-top: 20px solid white;
}

.innerTriangle {
  position: absolute;
  left: -13px;
  width: 0;
  height: 0;
  bottom: 2px;

  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 20px solid #9f2100;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
