.officeNewsletter {
  @include for-medium-up {
    padding: 50px;
  }
}

.content {
  @include grid-media($sba-grid-small) {
    padding: 20px;
  }
  @include grid-media($sba-grid-medium) {
    padding: 30px;
  }
  @include grid-media($sba-grid-large) {
    padding: 80px;
  }
}
