.greyBackground {
  background-color: $sba-gray-lighter;
  overflow: hidden;
}

.officeInfo {
  ul {
    list-style-type: circle;
    padding-left: 15px;
  }
}

.pressReleases {
  @extend .greyBackground;

  p {
    @include lede-type;

    font-size: 18px;
  }

  @include grid-media($sba-grid-small) {
    padding: 40px 20px;
  }
  @include grid-media($sba-grid-medium) {
    padding: 45px 0px;
  }
  @include grid-media($sba-grid-large) {
    padding: 40px 50px;
  }
}

.events {
  h2 {
    @include grid-media($sba-grid-medium) {
      margin-left: 30px;
    }
    @include grid-media($sba-grid-large) {
      margin-left: 30px;
    }
    margin-bottom: 0;
  }

  @extend .greyBackground;
  overflow: hidden;
  @include grid-media($sba-grid-small) {
    padding: 40px 20px;
  }
  @include grid-media($sba-grid-medium) {
    padding: 45px 0px;
  }
  @include grid-media($sba-grid-large) {
    padding: 40px 50px;
  }
}

.button {
  text-align: center;
  padding-top: 15px;
  clear: both;

  a {
    text-decoration: none;
  }
}

.content {
  @include grid-media($sba-grid-small) {
    padding: 0 20px;
  }
  @include grid-media($sba-grid-medium) {
    padding: 0 30px;
  }
  @include grid-media($sba-grid-large) {
    padding: 0 80px;
  }
}

.section {
  @include grid-media($sba-grid-small) {
    padding: 50px 0;
  }
  @include grid-media($sba-grid-medium) {
    padding: 50px 0;
  }
  @include grid-media($sba-grid-large) {
    padding: 50px 0;
  }
}

.servicesAndSocialMediaContainer {
  @include grid-media($sba-grid-medium) {
    display: flex;
    justify-content: space-between;
  }
  @include grid-media($sba-grid-large) {
    display: flex;
    justify-content: space-between;
  }
}

.servicesProvidedList {
  padding-left: 7px;
}

.socialMedia {
  display: flex;
  min-width: 130px;

  h4 {
    padding-right: 11px;
  }
  img {
    width: 30px;
  }

  @include grid-media($sba-grid-small) {
    padding-top: 20px;
    justify-content: flex-start;
  }
  @include grid-media($sba-grid-medium) {
    justify-content: flex-end;
  }
  @include grid-media($sba-grid-large) {
    justify-content: flex-end;
  }
}

.leadership {
  @include for-medium-up {
    margin-left: -20px;
    margin-right: -20px;

    h3 {
      margin-left: 20px;
    }
  }

  h3 {
    margin-bottom: 20px;
  }
}

.lenderMatch {
  @include grid-media($sba-grid-large) {
    padding: 30px 40px;
  }

  @include grid-media($sba-grid-medium-and-small) {
    padding: 30px;
  }

  border-top: 3px solid $sba-blue;
  box-shadow: $box-shadow;

  p {
    @include lede-type;

    font-size: 18px;
  }
}

.threeColumn {
  @include for-medium-up {
    @include grid-column(4);
  }
}

.leadership {
  @include for-medium-up {
    margin-left: -20px;
    margin-right: -20px;

    h3 {
      margin-left: 20px;
    }
  }
}

.locationInfo {
  h3 {
    margin-bottom: 20px;
  }
}

.clear {
  clear: both;
}
.documents {
  @include grid-media($sba-grid-large) {
    @include grid-column(6);
    margin-left: 0;
    position: relative;
    left: -20px;
  }
}
