.container{
  border: 2px solid $grey-light;
  overflow: visible;
}

.selectContainer{
    margin: auto;
    width: 42%;
    margin-bottom: 30px;
}

.title{
    text-align: center;
    margin-top: $margin-30;
}

.itemLink {
    font-weight: bold;
}

.dataContainer {

}

.noContacts {
	padding: 20px;
	text-align: center;
}

.card {
	border: 2px solid #C4C4C4;
    width: 85%;
	padding: 20px;
	margin: 30px auto;

}
.card i{
    margin-left: 5px;
}
