.happeningNow {
    margin-top: 5vw;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
/* Desktop */
.containerDesktop {
    @include grid-media($sba-grid-small) {
        display: none;
    }
    @include grid-media($sba-grid-medium) {
         @include grid-column(12);
    }
    @include grid-media($sba-grid-large) {
         @include grid-column(12);
    }
}

.titleDesktop {
    @include grid-column(12);
    @include grid-push(1);
    text-align: left;
}

.itemTitleDesktop {
    @include font-size($h5-font-sizes);
    color: black;
    font-weight: 700;
    padding-top: 1vw;
    @include grid-media($sba-grid-medium) {
         height: 70px;
    }
    @include grid-media($sba-grid-large) {
         height: 60px;
    }
}

.itemDesktopFour {
    @include grid-column(3);
    @include grid-push(0);
}

.itemDesktopThree {
    @include grid-column(4);
    @include grid-push(0);
}

.buttonDesktop{
    margin-bottom: 5vw;
}

/* Mobile */
.containerMobile {
    margin-top: 2vw;
    @include grid-media($sba-grid-small) {
         @include grid-column(6);
    }
    @include grid-media($sba-grid-medium) {
        display: none;
    }
    @include grid-media($sba-grid-large) {
        display: none;
    }
}

.titleMobile {
    font-size: 3rem;
    padding-bottom: 2vw;
    padding-left: 11.5vw;
}
