.container {
  visibility: visible;
}

/* Desktop */
.containerDesktop {
  @include grid-media($sba-grid-small) {
    display: none;
  }
}

.titleDesktop {
  @include grid-column(12, $sba-grid-medium);
  text-align: left;
  font-size: 5.2vw;
  font-weight: 900;
}

.itemTitleDesktop {
  @include font-size($h5-font-sizes);
  color: black;
  font-weight: 700;
  padding-top: $margin-20;
  padding-bottom: $margin-20;
}

.itemDesktopFour {
  @include grid-column(3, $sba-grid-medium);
  @include grid-push(0, $sba-grid-medium);
}

.itemDesktopThree {
  @include grid-column(4, $sba-grid-medium);
  @include grid-push(0, $sba-grid-medium);
}

.buttonDesktop {
}

/* Mobile */
.containerMobile {
  margin-top: 2vw;
  @include grid-media($sba-grid-small) {
    width: 100%;
  }
  @include grid-media($sba-grid-medium) {
    display: none;
  }
  @include grid-media($sba-grid-large) {
    display: none;
  }
}

.titleMobile {
  font-size: 7.47vw;
  font-weight: bold;
  padding-bottom: 2vw;
  padding-left: 12.53vw;
}
