.googleMap {
  display: none;
  @include grid-media($sba-grid-medium) {
    width: 100%;
    height: 80vh;
    display: block;
  }
}

.hasResults {
  @include grid-media($sba-grid-large) {
    margin-left: 30%;
    width: 70%;
  }
}

.focus:focus {
  outline: -webkit-focus-ring-color auto 5px;
}
