.callToAction {
  @include for-small-only {
    @include clearfix;
  }

  margin-bottom: 30px;
  position: relative;

  &:not(.buttonOnlyVariation) {
    background-color: $sba-blue;

    // since content is hidden in the button only variation anyway
    .content {
      hr {
        @include for-small-only {
          display: none;
        }
      }

      p {
        @include lede-type;
        @include for-small-only {
          display: none;
        }

        color: $sba-gray-light;
        font-size: 1rem;
      }
    }
  }

  &:not(.buttonOnlyVariation) {
    @include for-small-only {
      padding: 20px;
      text-align: center;
    }
  }
}

.image {
  @include for-small-only {
    display: none;
  }

  @include for-medium-up {
    bottom: 0;
    left: 0;
    min-height: 300px;
    position: absolute;
    top: 0;
    width: 50%;
  }

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.content > h3 {
  color: white;
}

.buttonOnlyVariation {
  text-align: center;
}

.smallVariation {
  @include for-medium-up {
    @include clearfix;
    padding: 30px;

    // Position the button and heading on the same line.
    *[class~='button'] {
      float: right;
    }

    h3 {
      float: left;
      margin-bottom: 0;
      padding-right: $small-spacing;
      width: 50%;
    }
  }
}

.mediumVariation {
  @include for-medium-up {
    padding: 50px;
  }
}

.largeVariation {
  @include for-medium-only {
    padding: 50px;
  }

  @include for-large-up {
    padding: 80px 50px;
  }

  .content {
    @include for-medium-up {
      margin-left: 50%;
      padding-left: 50px;
    }
  }
}
