.greyParagraph {
  background-color: $sba-gray-lighter;

  @media (max-width: 767px) {
    padding: 72px 20px;
    margin: 27px 20px 50px;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    padding: 72px 27px 72px;
    margin: 27px -29px 50px;
  }

  @media (min-width: 1200px) {
    padding: 72px 79px 72px 81px;
    margin: 27px -79px 50px;
  }

  div[class~='card'] > div[class~='content-with-image'] {
    padding: 20px 30px;
  }
}
