.greyParagraph {
  background-color: $sba-gray-lighter;
  padding: 4rem 2.8rem;
  margin-top: 1.5rem;
  margin-bottom: 2.8rem;

  div[class~='card'] > div[class~='content-with-image'] {
    padding: 20px 30px;
  }
}
