.mainMenu {
    // background-color: red;
    position: relative;
    float: right;
}

.mainMenu ul {
  float: right;
}

.mainMenu li {
  display: inline-block;
  // background-color: pink;
  // margin-left: 25px;
}
