.parentContainer{
  //max-width: 1440px;
  width: 100%;
  height: 44.8vw;
  padding: 0;
}

.greenBox{
  //max-width: 553px;
  //max-height: 502px;
  width: 38vw;
  height: 35vw;
  background-color: #609F00;
  position: absolute;
  margin: auto;
  top: 0; left: 8.2vw; bottom: 0;
  //margin-left: 8.2vw;
}

.title{
  color: #FFFFFF;
  width: 32vw;
  font-size: 5.2vw;
  line-height: 5.2vw;
  font-weight: bold;
  margin: 0 auto;
  padding-top: 2.2vw;
}

.subTitle{
  color: #FFFFFF;
  font-family: Merriweather;
  font-style: italic;
  font-size: 1.5vw;
  line-height: 1.8vw;
  font-weight: lighter;
  width: 32vw;
  margin: 0 auto;
  padding-top: 2.2vw;
}

.imageContainer{
  postition: relative;

}

.imageContainer img{
  position: absolute;
  right: 0;
  margin-right: 8.2vw;
  width: 65.7vw;
  height: auto;
  z-index: -1;
}

.btnContainer{
  
}

.tellMeHowBtn {
  border: 2px solid #FFFFFF;
  border-radius: 0;
  background-color: #609F00;
  color: #FFFFFF;
  width: 11.24vw;
  height: 3.33vw;
  font-size: 1.25vw;
  font-weight: bold;
  text-align: center;
}

.findLendersBtn{
  border: 2px solid #FFFFFF;
  border-radius: 0;
  background-color: #FFFFFF;
  color: #609F00;
  width: 11.24vw;
  height: 3.33vw;
  font-size: 1.25vw;
  font-weight: bold;
  text-align: center;
}