.section {
    position: relative;
    margin: 35px auto 0;
    h2 {
        font-size: 28px;
        font-weight: 900;
        line-height: 30px;
        color: #333333;
        margin-bottom: -25px;
    }
    p {
        width: 262px;
        height: 44px;
        font-size: 18px;
        line-height: 22px;
        color: #333333;
    }
}

.step {
    h3,
    p {
        display: inline;
    }
    .numbers {
        width: 96px;
        height: 151px;
        opacity: 0.4;
        font-size: 120px;
        font-weight: 900;
        color: #609F00;
        position: relative;
        left: 20px;
        top: 35px;
    }
    img {
        width: 100%;
        margin-bottom: 15px;
    }
    hr {
        width: 25px;
        border-top: 2px solid #609F00;
        margin: 16px 0;
    }
    h3 {
        font-size: 21px;
        font-weight: 900;
        line-height: 22px;
        color: #333333;
    }
    p {
        font-size: 16px;
        line-height: 22px;
        color: #333333;
    }
}

@media screen and (min-width:768px) {
    .section {
        top: -75px;
        width: 84vw;
        margin-left: 9.7vw;
        h2 {
            font-size: 75px;
            font-weight: 900;
            line-height: 75px;
        }
    }
    .step {
        float: left;
        width: 19vw;
        margin-right: 2vw;
        &:nth-of-type(even) {
            margin-top: 100px;
        }
        &:last-of-type {
            margin-right: 0;
        }
        h3 {
            font-family: "Source Sans Pro";
            font-size: 24px;
            font-weight: bold;
            line-height: 22px;
        }
        p {
            font-size: 18px;
            line-height: 22px;
        }
    }
}
