@import "../buttons";

.section {
    font-weight: lighter;
    background: white;
}

.title {
    margin-top: 40px;
    margin-bottom:20px;
    font-size: 38px;
}

.subTitle {
    composes: subTitle from "./landing-page.scss"
}

.subText {
    composes: subText from "./landing-page.scss"
}