@import "../buttons";

.section {
    font-weight: lighter;
    background: #efefef;
}

.title {
    font-size: 34px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.quote {
    font-style: italic;
    text-align: justify;
}