.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.4);
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  margin: 40px auto 0;
  max-width: 650px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-top: 8px solid #002E6D;
  padding-bottom: 30px;
}

.exitIcon {
  width: 30px;
  height: 30px;
  color: #666666;
  border-radius: 1px;
  cursor: pointer;

  @media only screen and (max-width: 600px) {
    width: 25px;
    height: 25px;
  }
}

.imgContainer {
  position: absolute;
  top: 25px;
  right: 30px;
  height: 30px;

  @media only screen and (max-width: 600px) {
    top: 20px;
    right: 15px;
  }
}

.title {
  text-align: center;
  font-size: 27px;
  margin-top: 50px;
}

.divider {
  border-top: 3px solid #CC0000;
  width: 142px;
  margin: 0 auto 20px;
}

.form {
  max-width: 550px;
  padding: 0 50px;
}

.details {
  max-height: 100px;
  min-height: 100px;
  margin-bottom: 4px;
}

.topicDropdown {
  margin-bottom: 20px;
  p {
    margin-top: 4px;
  }
}

.reactSelect {
  &:global(.Select.is-focused > .Select-control) {
    border: 1px solid #686868 !important;
  }
}

.btnContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
}

.input {
  margin-bottom: 0;
}

