.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.4);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 700px;
  height: 775px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-top: 8px solid #002E6D;
}

.exitIcon {
  width: 30px;
  height: 30px;
  color: #666666;
  border-radius: 1px;
  cursor: pointer;
}

.imgContainer {
  position: absolute;
  top: 30px;
  right: 30px;
}

.title {
  font-size: 27px;
  margin-top: 45px;
}

.divider {
  border-top: 3px solid #CC0000;
  width: 142px;
  margin: 0 auto 20px;
}

.field {
  width: 100%;
  @include grid-media($sba-grid-large) {
    margin-right: 20px;
    float: left;
    display: inline-block;
  }
}

.btnContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
}
