//COMMON STYLES FOR BOTH HOVER AND NORMAL TILE

.tile {
	position: relative;
	@include grid-media($sba-grid-small) {
		 @include grid-column(6, $sba-grid-small) margin-top: 20px;
	}
	@include grid-media($sba-grid-medium) {
		 @include grid-column(6, $sba-grid-medium) height: 450px;
		margin-top: 20px;
	}
	@include grid-media($sba-grid-large) {
		margin-top: 10px;
		margin-bottom: 30px;
	}
}

.tileFour {
	@include grid-media($sba-grid-large) {
		 @include grid-column(3, $sba-grid-large) height: 677px;
	}
}

.tileFive {
	@include grid-media($sba-grid-large) {
		 @include grid-column(2.4, $sba-grid-large) height: 677px;
	}
}

.backgroundLines {
	display: none;
	@include grid-media($sba-grid-large) {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
	}
}
//LINK FOR DISPLAYING MENU ON TAB

.tabDisplayMenu {
	display: none;
	@include grid-media($sba-grid-large) {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		cursor: default;
		opacity: 0;
	}
}
//SPECIFIC STYLES FOR STATIC TILE

.tileNormal {
	height: 100%;
	width: 100%;
	background-color: $grey-lighter;
	@include grid-media($sba-grid-small) {
		padding: 27px;
	}
	@include grid-media($sba-grid-medium) {
		padding-top: 71px;
	}
	@include grid-media($sba-grid-large) {
		padding-top: 133px;
	}
}
@include background-color-theme(".tileInverse");

.icon {
	@include grid-media($sba-grid-small) {
		height: 50px;
		width: 50px;
		vertical-align: baseline;
		margin-right: 15px;
	}
	@include grid-media($sba-grid-medium) {
		height: 105px;
		width: 105px;
		display: block;
		margin: auto;
	}
	@include grid-media($sba-grid-large) {
		height: 105px;
		width: 105px;
		display: block;
		margin: auto;
	}
}

.titleContainer {
	@include grid-media($sba-grid-small) {
		width: 65%;
		display: inline-block;
	}
	color: $base-font-color;
}


.largeTitle {
	font-weight: 900;
	@include grid-media($sba-grid-small) {
		font-size: 34px;
		margin-bottom: 0;
	}
	@include grid-media($sba-grid-medium) {
		text-align: center;
		margin-top: 12px;
		margin-bottom: 0;
		line-height: 50px;
		font-size: 2.7em;
	}
}

.smallTitle {
	font-weight: bold;
	@include grid-media($sba-grid-small) {
		font-size: 20px;
	}
	@include grid-media($sba-grid-medium) {
		text-align: center;
		margin-bottom: 0;
		line-height: 31px;
		font-size: 1.33em;
	}
}

.tileFive .largeTitle{
	@include grid-media($sba-grid-large) {
		font-size: 2.0em;
	}
}

.upperCase{
	text-transform: uppercase;
}

.titleInverse {
	color: $white;
}

.rightArrow {
	display: none !important;
	@include grid-media($sba-grid-small) {
		font-size: 48px !important;
		display: block !important;
		position: absolute;
		top: 27px;
		right: 15px;
	}
}
@include color-theme(".rightArrow");

.line {
	border-style: solid;
	@include grid-media($sba-grid-small) {
		border-width: 2px;
		width: 49px;
	}
	@include grid-media($sba-grid-medium) {
		height: 1px;
		width: 90px;
		border-width: 3px;
		display: block;
		margin: 21px auto 19px;
	}
}
@include border-color-theme(".line");

.lineInverse {
	border-color: $white !important;
}

.blurb {
	@include grid-media($sba-grid-small) {
		margin-top: 15px;
		margin-bottom: 0;
	}
	@include grid-media($sba-grid-medium) {
		text-align: center;
		margin: 20px 40px;
	}
}

.blurbInverse {
	color: $white;
}

.cornerLines {
	display: none;
	@include grid-media($sba-grid-small) {
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
	}
}
//SPECIFIC STYLES FOR HOVER TILE

.tileHover {
	height: 100%;
	width: 100%;
	padding-top: 20px;
}
@include background-color-theme(".tileHover");

.largeTitleHover {
	composes: largeTitle;
	color: white;
}

.smallTitleHover {
	composes: smallTitle;
	color: white;
}

.topLine {
	margin-top: 20px;
	background-color: rgba(255,255,255, 0.5);
	height: 1px;
	width: 100%;
}

.linkContainer {
	position: relative;
	cursor: pointer;
	padding: 5px 0 5px 15px;
	border-bottom: 1px solid rgba(255,255,255, 0.5);
	z-index: 9999 !important;

	&:hover {
		background-color: $byzantine-dark;
	}
}

.link {
	font-size: 18px !important;
	color: white !important;
	text-decoration: none !important;
	font-weight: 300 !important;
}
