table {
  table-layout: auto;
}

.program-summary-table {
  border: none;
}

.program-summary-data {
  border-color: white;
}

.program-summary-data:nth-child(even) {
  background-color: white;
}

.container,
.containerWithoutBorder {
  height: 100%;
}

.container {
  border: 1px solid #bebdbd;
  background-color: white;

  @include grid-media($sba-grid-medium-and-small) {
    padding: 15px;
  }
  @include grid-media($sba-grid-large) {
    padding: 20px;
  }
}

.containerWithoutBorder {
  position: relative;
  margin-bottom: 60px;
}

.documentTypeContainer {
  margin-bottom: 20px;
}

.title {
  // This forces the underline color to be the same color as the text.
  text-decoration: underline;
  color: $sba-blue;
  padding-top: 0px;
}

.row {
  width: 100%;
}

.columnOne,
.columnTwo {
  background-color: white !important;
  border: none;
}

.columnOne {
  color: $sba-blue;
  padding: 0px;

  h6 {
    line-height: 1.4;
  }
}

.columnTwo {
  padding: 0 0 0 5px;
}

.dash {
  hr {
    margin-top: 0.8rem;
    width: 30px !important;
  }
}

.download {
  position: absolute;
  bottom: 0;
  left: 0;

  a {
    margin-right: 10px;
  }

  i {
    color: $secondary-blue;
  }
}
