.textSection {
  margin-bottom: 2.1vw;
}

// redundant with normalize css, but better to be explicit
.textSection ul {
  list-style: circle;
}

.textSection ul > li {
  margin-left: 1.5rem;
  padding-left: 0;
}

.textSection > ul ul,
.textSection > ol ul {
  margin-left: 26px;

  li {
    &::before {
      // content: '';
      height: 12px;
      width: 12px;
      border: 3px solid #333333;
      border-radius: 12px;
      display: inline-block;
      float: left;
      margin-top: 8px;
    }

    p {
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.textSection > ol ul {
  margin-left: 30px;

  ul {
    margin-left: 50px;
  }
}

// override the normalize removal
.textSection ol {
  list-style: decimal !important;
}

.textSection ol li::before {
  content: '';
  width: 0.2em;
  display: inline-block;
}

.textSection dd {
  margin-left: 2em;
}

.textSection ul li p {
  color: $sba-blue;
  padding-left: 10.5px;
}

// formatting for the unordered list bullets
.textSection dl dt::before,
.textSection > ul > li::before {
  background-size: 100%;
}

@include grid-media($sba-grid-small) {
  :global(.text-section-table) {
    & thead > tr {
      display: none;
    }
    & tr {
      border: 2px solid $sba-gray-light;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    & td {
      overflow: auto;
      border: 0px;
      border-bottom: 2px solid $sba-gray-light;
    }
    & td:last-child {
      border-bottom: none;
    }
    & :global(.table-header-label) {
      @include grid-column(2);
      color: $sba-blue;
      font-weight: 600;
    }
    & :global(.table-data) {
      display: block;
      @include grid-column(6);
    }
    & :global(.table-data-wrapper) {
      display: block;
      @include grid-column(4);
    }
    & :global(.index-0) {
      color: $sba-blue;
      font-weight: 600;
    }
    & :global(.show-mobile) {
      display: block;
    }
  }
}

@include grid-media($sba-grid-medium) {
  :global(.text-section-table) {
    & table {
      table-layout: auto;
    }
    & tbody {
      border: 2px solid $sba-gray-light;
    }
    & thead {
      background-color: $sba-blue;
      border: 2px solid $sba-blue;
      border-top: none;
      color: white;
      text-align: center;
    }
    & tr {
      padding-right: 15px;
      padding-left: 15px;
    }
    & thead tr {
      border-bottom: none;
    }
    & tbody tr {
      border-bottom: 2px solid $sba-gray-light;
    }
    & td {
      padding-right: 15px;
      padding-left: 15px;
      border: 0px;
    }
    & td:first-child {
      color: $sba-blue;
      font-weight: 600;
    }
    & :global(.table-header-label) {
      display: none;
    }
    & :global(.no-table-header-label) {
      display: none;
    }
    & :global(.show-mobile) {
      display: none;
    }
  }
}

@include grid-media($sba-grid-small) {
  :global(.text-section-table) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
  }
}

// override
.textSection h4 strong {
  font-weight: 600;
}
