.smallInverseCta {
    border: 2px solid;
    padding: 10px;
    text-align: center;
}

.smallInverseCta p{
  display: inline;
  font-weight: 700;
  margin-right: 30px;
}

@include theme(byzantine, '.smallInverseCta', null, $byzantine ,$byzantine);
