.hero {
  height: calc(100% - 85px);
  position: relative;

  @include grid-column(12, (gutter: 0));
}

/*.hero*/
.dark {
  background-color: $sba-gray-lighter;
}

.callout {
  @include for-small-only {
    margin-top: -85px;
    position: relative;

    @include grid-column(12);
  }

  @include for-medium-up {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    @include grid-column(6, (gutter: 30px));
  }

  @include for-large-up {
    @include grid-column(5, (gutter: 30px));
  }
}

.image {
  $gutter-width: 30px;

  background-repeat: no-repeat top center;
  background-size: cover;
  // TODO: calc
  min-height: 356px;
  width: 100%;

  @include for-small-only {
    max-height: 369px;

    @include grid-column(12, (gutter: 0));
  }

  @include for-medium-only {
    max-height: 584px;

    @include grid-column(10, (gutter: $gutter-width));
    @include grid-push(2);
  }

  @include for-large-up {
    $left-margin: 105px;

    height: 100%;
    float: left;
    margin-left: $left-margin;
    width: calc(100% - (#{$left-margin} + #{$gutter-width}));
  }
}

.scroll {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.inHeroWithNoImage {
  padding: 30px;
  text-align: center;
  width: 100%;

  // hide the second button on small screens
  *[class~='button']:nth-child(2) {
    @include for-small-only {
      display: none;
    }
  }
}
