@value breakpointMedium: calc(#{$breakpoint-medium} - 1px);

.image {
  @include for-small-only {
    align-items: end;
    justify-content: center;
    max-height: 369px;
    min-height: 200px;
  }

  @include for-medium-up {
    align-items: center;
    margin-left: 85px;
    // This also prevents the callout from overlapping with the nav.
    min-height: 542px;
    margin-right: 30px;
  }

  background-repeat: no-repeat top center;
  background-size: cover;
  display: flex;

  > .callout {
    @include for-small-only {
      align-self: flex-end;
      margin-left: 20px;
      margin-right: 20px;
      transform: translateY(75%);
      width: 100%;
    }

    @include for-medium-only {
      @include grid-column(6, (gutter: 30px)) min-width: 339px;
      // Override grid column left margin defined above in the @include.
      margin-left: -50px;
    }

    @include for-large-up {
      @include grid-column(5, (gutter: 30px)) min-width: 500px;
      // Override grid column left margin defined above in the @include.
      margin-left: -50px;
    }

    // Use vertical stacking for two buttons.
    *[class~='button'] {
      // display block without stretch
      display: table;

      &:nth-of-type(2) {
        @include for-medium-up {
          margin-top: $small-spacing;
        }
      }
    }
  }
}

.noImage {
  background-color: $sba-gray-lighter;
  padding: 30px;
  text-align: center;
  width: 100%;

  // Hide the second button on small screens.
  > .callout *[class~='button']:nth-of-type(2) {
    @include for-small-only {
      display: none;
    }
  }
}

.arrow {
  @include for-small-only {
    // This is a hack for Safari mobile.
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      _::-webkit-full-page-media,
      .arrow {
        padding-top: 420px;
      }
    }
  }

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.callout {
  background-color: white;
  border-top: 5px solid $sba-blue;
  // TODO: DRY
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.1);
  padding: 50px;
}
