$hero-container-grid: (
  columns: 12,
  gutter: 0px,
);

.heroContainer {
	@include grid-column(12, $hero-container-grid);
	position: relative;
}

.callout {
	@include grid-media($sba-grid-small){
		@include grid-column(6);
		position: relative;
		bottom: 100px;
	}
	@include grid-media($sba-grid-medium){
		@include grid-column(6);
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

	}
	@include grid-media($sba-grid-large){
		@include grid-column(5);
	}

}

.inHeroWithNoImage {

	text-align: center;

	@include grid-media($sba-grid-small){
		margin: 0;
    	width: 100%;
	}
	@include grid-media($sba-grid-medium){
    	width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
	}
}

.inHeroWithNoImage p {
    font-weight: lighter;
}

@include theme(sba-blue, '.inHeroWithNoImage', $sba-blue, #fff, #fff);
@include theme(byzantine, '.inHeroWithNoImage', $byzantine, #fff, #fff);
@include theme(money-green, '.inHeroWithNoImage', $money-green, #fff, #fff);
@include theme(cobalt-blue, '.inHeroWithNoImage', $cobalt-blue, #fff, #fff);

.calloutContainer {
    @include grid-media($sba-grid-medium){
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}



.heroDesktopImage {
	@include grid-media($sba-grid-small){
		display: none;
	}
	@include grid-media($sba-grid-medium){
		@include grid-column(11);
		@include grid-push(1)
	}
	@include grid-media($sba-grid-large){
		@include grid-column(10);
		@include grid-push(2)
	}
}

.heroMobileImageContainer {
	@include grid-media($sba-grid-small){
		width: 100%;
		height: 350px;
	}
	@include grid-media($sba-grid-medium){
		display: none;
	}
}

.heroMobileImage {
	@include grid-media($sba-grid-small){
		width: 100%;
	}
	@include grid-media($sba-grid-medium){
		display: none;
	}
}

.anchorButton {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
