.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.dropdownMenu {
  border-top: 5px solid;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
  position: absolute;
  left: -25%;
  background-color: #fff;
  width: 125%;
  margin-top: 14px;
  padding: 60px;
  z-index: 10000000000;
  // background-color: lightgreen;
  display: flex;
  flex-flow: column wrap;
}

.one {
  height: 590px;
}

.two {
  height: 500px;
}

.three {
  height: 710px;
}

.five {
  height: 550px;
}

.six {
  height: 550px;
}

@include theme(sba-blue, '.dropdownMenu', null, $sba-blue, null);
@include theme(byzantine, '.dropdownMenu', null, $byzantine, null);
@include theme(money-green, '.dropdownMenu', null, $money-green, null);
@include theme(cobalt-blue, '.dropdownMenu', null, $cobalt-blue, null);

@include theme-hover(sba-blue, '.dropdownMenu', null, $sba-blue, null);
@include theme-hover(byzantine, '.dropdownMenu', null, $byzantine, null);
@include theme-hover(money-green, '.dropdownMenu', null, $money-green, null);
@include theme-hover(cobalt-blue, '.dropdownMenu', null, $cobalt-blue, null);

.skipLink {
  pointer-events: none;
  height: 0;
  position: absolute;
  top: 0;
}

@include theme(sba-blue, '.skipLink a', null, #fff, null);
@include theme(byzantine, '.skipLink a', null, #fff, null);
@include theme(money-green, '.skipLink a', null, #fff, null);
@include theme(cobalt-blue, '.skipLink a', null, #fff, null);

@include theme-focus(sba-blue, '.skipLink a', null, $grey-dark, null);
@include theme-focus(byzantine, '.skipLink a', null, $grey-dark, null);
@include theme-focus(money-green, '.skipLink a', null, $grey-dark, null);
@include theme-focus(cobalt-blue, '.skipLink a', null, $grey-dark, null);

