.successStories {
  @include for-medium-up {
    margin-left: -20px;
    margin-right: -20px;

    h2 {
      margin-left: 20px;
    }
  }

  h2 {
    margin-bottom: 20px;
  }
}

.button {
  text-align: center;
  padding-top: 15px;
  clear: both;

  a {
    text-decoration: none;
  }
}